[2016-04-21 23:04] justinaray commented on #332
Awesome!!!  Thanks!

Null-safe Issue: https://github.com/jasonmit/ember-intl/issues/334

[2016-04-21 23:15] jasonmit opened #335 "DX: Warn and throw helpful errors when Intl isn't polyfilled"
#Warn always when self.Intl isn't polyfilled and throw with helpful errors when trying to invoke any of the methods/helpers dependent on the Intl API.

[2016-04-21 23:15] jasonmit commented on #335
/cc @justinaray

[2016-04-21 23:21] justinaray commented on #335
Would be easy to determine a dev's intent from this [this proposed config data](https://github.com/jasonmit/ember-intl/issues/324).

Could skip the warning if they are not using formatters or are taking care of their own polyfill.

[2016-04-22 05:42] #334 closed

[2016-04-22 05:44] jasonmit commented on #334
2.10.0 contains this

[2016-04-22 05:44] jasonmit commented on #332
2.10.0 contains this

[2016-04-22 21:41] #335 closed

[2016-04-25 05:28] jasonmit commented on #324
First part of this has been merged, the autoPolyfill for index.html.  We can now do the second part, being able to decide between served up locally vs CDN.

[2016-04-25 18:48] duboff opened #340 "error in 2.10.0"
[code]
Hi, we updated from 2.6.1 to 2.10.0 and see this error in production (works fine in development and test). Can't track down the error more precisely as of now. I might have missed something glaringly obvious in the docs. Would appreciate any guidance.

[2016-04-25 20:00] jasonmit commented on #340
Can you post the full stack trace

[2016-04-25 21:21] jasonmit commented on #340
If i were to guess, it's due to Ember.warn/Ember.deprecate which noop in production-mode but in this case something is happening there.  I'll know for sure once I see the stacktrace

[2016-04-25 21:25] duboff commented on #340
Can't really produce the stack trace since it's production and I can't reproduce locally for now.

[2016-04-25 21:35] jasonmit commented on #340
Just pretty pretty it with a screenshot and I think I'll get a sense of what is happening.

![screen shot 2016-04-25 at 2 34 19 pm](https://cloud.githubusercontent.com/assets/3108309/14799724/ed3a175e-0af2-11e6-8261-4529b33fa687.png)

{} in the bottom left hand corner

[2016-04-25 21:37] duboff commented on #340
I had to revert unfortunately as this stopped app from working. Will try to recereate in a safe environment and paster here

[2016-04-26 01:52] #325 closed

[2016-04-26 14:42] duboff commented on #340
Apologies, after more testing it seems the error comes from moment.js, not this addon.

[2016-04-26 14:42] #340 closed

[2016-04-26 19:41] jasonmit commented on #340
Thanks for reporting back.  Was this an issue in ember-moment or moment.js?  I help maintain ember-moment as well.

[2016-04-26 21:17] justinaray opened #341 "Programmatic invocation of `t` always produces a warning (And deprecation)"
I think this might be a slight regression due to [#337](https://github.com/jasonmit/ember-intl/pull/337) ... sorry :(

Previously, I could invoke `t` with no options or formats and it would use the current values stored in the `intl` service.

[code]

Additionally, the warning throws an Ember deprecation as it is lacking an options hash with an id property.  http://emberjs.com/deprecations/v2.x/#t

[2016-04-26 22:13] duboff commented on #340
Not sure. Rolling moment itself to 2.10.6 fixes the problem but given how widely it's used and lack of issues there I assume it's some combination of things. I sent you a link on slack to the page with error if you want to do some digging.

[2016-04-26 22:57] jasonmit commented on #341
https://github.com/jasonmit/ember-intl/pull/342 will fix this

[2016-04-27 05:43] #341 closed

[2016-04-27 05:44] jasonmit commented on #341
Versioned, thanks again

[2016-04-27 13:42] justinaray commented on #341
👍

Will pull `2.10.1` today and confirm.

All the gratitude belongs to you @jasonmit.  Thanks for the quick fix.

[2016-04-27 22:02] justinaray commented on #341
Confirmed:
* The warning is no longer thrown on `services:intl.t('myKey')` on `2.10.1`.
* If undefined or null are explicitly passed the warning is thrown while in develop mode but not in prod :sparkles:

I did notice that Ember is still throwing a deprecation warning on the `Ember.warn` call due to missing an options hash.  But this is deprecated through Ember 3 so there's no rush.

Thanks again

[2016-04-27 22:43] jasonmit commented on #341
I'll fix that as part of 2.11.0

[2016-04-28 21:44] jasonmit commented on #341
https://github.com/jasonmit/ember-intl/commit/685d26ecdd49afd119d9783f88c65589e6fe6c33 will fix the deprecation warnings

[2016-04-28 22:39] justinaray commented on #341
`685d26e` looks great.  Thanks!

[2016-04-29 12:24] ctusch opened #344 "Polyfill locales not getting copied to output folder"
Hey,

we're using ember-intl 2.6.1. When we started using it all locales where copied to assets/intl/locales/. We changed `locales` to only include `en-us` and `de-de`. Back then this worked as well. But somewhere along the way something broke.

Now not even then ´locales´ folder is created during build. Deleting my output and my `tmp` folder does not help. The `intl` folder with its libs is there

[2016-04-29 15:34] jasonmit commented on #344
Can you verify this goes away with 2.10.x?

[2016-05-03 15:54] ctusch commented on #344
Hey, sorry for the late feedback. 2.10.1 fixed this! Curiously it also logged the following warning during build:

    [ember-intl] 'en-us, de-de' is not a valid locale name

Turns out I forgot the string delimiters in my ember-intl.js from above. Totally missed that. After correcting it it also worked again in 2.6.1.

Sorry for the inconvenience!

[2016-05-03 15:54] #344 closed

[2016-05-03 21:54] jasonmit commented on #344
Thanks for reporting back and no issue, glad I threw those warnings in :)

[2016-05-09 20:06] NDari opened #347 "NodeWatcher issue"
Hello,

First, a big thank you for the fantastic work with this addon.

I have ran into an issue recently, where I was attempting to put some translations into my addon to be consumed by users. To do this, I upgraded my version of ember-intl to "~2.10", and put the `translations` folder at the root of my addon.

However, doing this would create a huge amount of (seemingly) indecipherable errors. T

[2016-05-09 20:12] jasonmit commented on #347
ember-intl didn't deprecate nodewatcher over watchman.  I personally haven't run into this and it's the first time this is reported.  I'd be happy to investigate, to see if I can optimize for nodewatcher.

[2016-05-09 20:25] NDari commented on #347
I will need to do a few things since I have installed watchman and no longer have the issue. I will try to recreate it tonight (USA time)

[2016-05-14 00:13] GCheung55 commented on #109
There's basically two scenario's right?

* Precompile translation file + vendor.js.
* Regular translation file + vendor.js + compiler.

At the outset, it is likely that a translation file is significantly smaller than the vendor.js with/without the compiler. As an application grows, the translation file is likely to increase. At some point it will be larger than the vendor.js with/without the comp

[2016-05-16 22:34] jasonmit commented on #109
Since this is being asked for by a few people now, I'll scope out how much work would be involved in switching to something that has built-in precompiling support:  https://github.com/SlexAxton/messageformat.js

Hopefully then we can move forward on an integration plan.

[2016-05-17 06:55] jasonmit opened #349 "Investigate precompiling"
See the amount of work is needed to implement precompiling for intl-messageformat or to adopt messageformat.js (would require a fork to support everything intl-messageformat supports today)

[2016-05-21 07:53] jasonmit commented on #319
When https://github.com/jasonmit/ember-intl/pull/348 is versioned you'll have access to the contents of ember-intl.js from the traditional app/config/environment

[2016-05-21 07:53] #319 closed

[2016-05-31 19:06] chrisjshull opened #350 "custom translation compilers"
I'm comparing ember-intl with ember-18n and don't see docs here about custom translation compliers:
https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Translation-Compiler

Is this possible with ember-intl?

[2016-05-31 19:09] jasonmit commented on #350
Not currently, but have considered implementing this.

I will leave the issue opened for tracking.

[2016-06-01 23:21] ajgordo opened #351 "NumberFormat().format(null) and Intl.DateTimeFormat().format(null) return Empty String"
We have a project where we need null to be treated as an empty string rather than formatted as 0 or Epoch time. I see other issues on using "allowEmpty: true", but this seemed to do nothing for me.

Is the only answer to create my own helper the encompasses these to return an empty string in the case of null, or is there something already there and I'm just overlooking it?

[2016-06-02 00:51] jasonmit commented on #351
Do you need this for the helpers and/or computed property macros?  Debating adding a beforeFormat hook that would be optional and would pass the value and formatterType as args.

[2016-06-02 00:57] jasonmit commented on #351
https://github.com/jasonmit/ember-intl/commit/d7b1927ac74819aa0d2d2b56f5bdcde359f990a5

I wasn't able to reproduce this, it is returning an empty string as expected and not 0.

[2016-06-02 01:15] ajgordo commented on #351
Is there a property of the intl service that I can confirm is set/not set to ensure it does return an empty string? I see that its the default behaviour, but that isn't what we see (and we are on 2.11.1)?

[2016-06-02 02:09] jasonmit commented on #351
This is a per-helper thing, not globally handled by the service or config.  Though, I'm not against supporting that - it just hasn't come up yet.

For Number it is not defaulting to allowEmpty.

[2016-06-02 03:59] ajgordo commented on #351
It seems you are referring to the handlebars helpers, whereas I'm referring to the service which doesn't seem to support it natively? Neither intl.DateTimeFormat().format() or intl.formatDateTime see to handle the use of nulls (yes, I need to do this in code and not a template).
Sorry, should have clarified.

[2016-06-02 06:12] jasonmit commented on #351
`Intl.DateTimeFormat` and `Intl.NumberFormat` are not a product of ember-intl but instead part of either the native browser API or the polyfill for the API.  I wouldn't recommend hijacking those lower level APIs to handle passing null but instead would reimplement the service methods you're calling (`intlService.formatNumber`, `intlService.formatDate`, `intlService.formatTime`)

That shouldn't be

[2016-06-02 06:12] #351 closed

[2016-06-03 06:00] jasonmit commented on #351
@ajgordo feel free to reopen if you need further help

[2016-06-07 09:48] vlascik opened #352 "Intl config not being read"
At least on Windows (haven't tested elsewhere), in `readConfig` function in `index.js` the config path is wrong
[code]
leads to paths like `C:\Project\C:\Project\config\environment\..\ember-intl.js`, as `project.configPath()` returns the full path (in 2.6.0). Intl config file is then not found and read.
Changing the line to
[code]
fixes the problem.

ember-intl: 2.11.1
ember: 2.6.0.beta.4
ember-cl

[2016-06-07 17:13] jasonmit commented on #352
Thanks, I'll look to patch today/tonight.

[2016-06-07 20:12] jasonmit commented on #352
Versioned as 2.11.2, please reopen if the issue continues.

[2016-06-07 21:56] vlascik commented on #352
Hm, doesn't work, probably because regexp needs double backslashes. This works for me in Windows:
[code]

[2016-06-07 22:00] jasonmit commented on #352
I'll keep 2.11.2 published since it fixes it for POSIX users, I'll need to figure out a way to spin up a VM for windows.

[2016-06-07 22:34] vlascik commented on #352
There should be free VMs here:
[https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/windows/](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/windows/)
Haven't tried it, but these should be valid for 90 days, if you create a VM snapshot after the install you can revert to it after the VM expires.

[2016-06-08 19:08] mellatone opened #354 "How would ICU compiling at run time work?"
Trying to use this with computed properties:

[code]

[2016-06-08 19:26] jasonmit commented on #354
The syntax is wrong, you have the template string ticks in the wrong spot.  Otherwise, there is nothing wrong with what you have.

[code]

[2016-06-08 19:29] #354 closed

[2016-06-08 19:29] jasonmit commented on #354
Correction: you want to use this.get('intl').t('something.yaml.path', { amount:${amount}});

formatMessage is used when you want to pass a translation string. t is used when you want to translate a translation key.

[2016-06-08 19:35] mellatone commented on #354
Ah, great. Thank you. this is what I needed.

I was confused by the readme:

[2016-06-09 06:33] leighwilliams commented on #347
Hi,

I'm seeing this issue since upgrading from 2.5.0 to 2.11.1.

Ubuntu 15.10.

I've tried ember-cli 2.4.3 with node **0.12.7** and node **5.10.1** with the same result.
[code]

Removing the translations folder at addon root also resolves the issue for me (it only contains 1 file), as does using Watchman.

I can reproduce this on a fresh _addon_ (ember-cli 2.4.3) and `ember install ember-intl`.

[2016-06-09 07:01] jasonmit commented on #347
This is happening while developing your addon?

[2016-06-09 07:19] leighwilliams commented on #347
That is correct.

[2016-06-09 15:35] NDari commented on #347
Sorry for the HUGE delay...

I just wanted to chime in that I got the same error when I reported this issue, and the same remedies (removing the translation folder at the root of the addon or using watchman) fixed my issues.

[2016-06-10 00:55] jasonmit commented on #347
@leighwilliams @NDari could either of you reproduce this with an example addon (or working addon) and push it to github somewhere for me to iterate on.  I haven't yet been able to find the sweet spot to reproduce it so I can begin to triage it.

Thanks 👍

[2016-06-10 11:29] leighwilliams commented on #347
Apologies for the delay, I'm seeing a some strange behaviour and I'm trying not to give false or misleading info.

I can reproduce it on a completely new addon with ember-intl installed. See [https://github.com/leighwilliams/ember-intl-testing](https://github.com/leighwilliams/ember-intl-testing).

It seems to surface on Linux before is does on Mac. This particular repo runs fine on a Mac, but I _

[2016-06-10 22:34] jasonmit commented on #347
I wasn't able to produce on Ubuntu, but will keep trying.  Once I am able to reproduce I'll be able to fix it, until then I may need to keep pinging you.  I know it's isolated around the addon support that went in.

Can you try reverting this commit to see if the issue goes away:
https://github.com/jasonmit/ember-intl/commit/3066a497e813d4bd28e07318d0d7f7d18e24fd4d

[2016-06-11 10:13] leighwilliams commented on #347
No worries. :+1:

3066a49

No luck there.

Indeed. Going from 2.7 to 2.8 is where it's happening.

[2016-06-12 01:46] #212 closed

[2016-06-13 09:23] gcusnieux commented on #347
Hello,
I have same problem on win7, it's okay on unix machine.
Do you have an idea, for win7 users ?

[2016-06-13 12:18] gcusnieux commented on #347
@leighwilliams  Try https://github.com/jasonmit/ember-intl/pull/355.

[2016-06-14 00:03] leighwilliams commented on #347
@gcusnieux Yes, that has resolved the issue I was having. Thanks!

[2016-06-16 16:05] menewman opened #356 "README - should config file location be updated?"
The README has a Translation Compilation section that describes how to set the base locale. It also includes this snippet:

[code]

But if you put this code in config/environment.js, you'll see a warning advising that config/ember-intl.js is now preferred over config/environment.js for ember-intl configuration. Should this be updated to specify that the `baseLocale` property should be set in confi

[2016-06-17 04:24] jasonmit commented on #356
Yes, the README should be updated to reflect this change.

Pull requests are always welcome :)

[2016-06-19 05:49] #356 closed

[2016-06-22 16:23] adhamhf opened #358 "different configs per environment?"
Hi,

I would like to have different a different configuration for development and test than I do for production.  I would like use the translations directory when in dev/test and load from an AJAX call when in production.

I'm not sure how to do this with the deprecation of environment.intl.

Suggestions?

[2016-06-22 19:18] jasonmit commented on #358
The config takes the environment as an argument:
https://github.com/jasonmit/ember-intl/blob/master/packages/ember-intl/config/ember-intl.js#L3

`environment` should be `test`, `development`, or `production`.  So you can put a switch or if statements to construct what the config looks like in those environments.

[2016-06-22 19:19] jasonmit commented on #358
Feel free to open if this doesn't answer your question.

[2016-06-24 13:15] Turbo87 commented on #102
@jasonmit @zackthehuman @stefanpenner has there been any progress on this? it seems like a rather large deal breaker to me unfortunately. how are other companies solving this issue? is https://github.com/intercom/ember-href-to able to solve at least part of this?

[2016-06-24 16:41] zackthehuman commented on #102
@Turbo87 not from my side. As I stated in previous comments, we don't use `intl-messageformat` at my work -- we use a custom `messageformat`-like language which we have extended to support constructs like embedded anchors.

I think this is a fundamentally missing aspect of ICU messages in general -- the concept of an abstract hyperlink.

[2016-06-28 03:05] kashiif opened #359 "Safari - `Intl is not defined` error causes apllication to abort startup"
[The instance-initilizer module checks for `Intl` variable](https://github.com/jasonmit/ember-intl/blob/master/packages/ember-intl/app/instance-initializers/ember-intl.js#L29). Only in Safari, this results in following error during application startup causing it to fail

    ReferenceError: Can't find variable: Intl
        didBecomeReadyember.debug.js:4874
        invokeember.debug.js:332

[2016-06-28 03:42] #359 closed

[2016-06-28 03:44] jasonmit commented on #359
Safari is one of the browser that doesn't natively implement the Intl API.

https://github.com/jasonmit/ember-intl/wiki/Intl.js-Polyfill

[2016-06-29 14:39] hvgotcodes opened #362 "0 not being displayed"
In my template

`{{t "key" count=0}}`

in en-US.json

`"key": "{count} things"`

does not show "0 things" in the dom.  if I change count to 1 it works.

On a related topic, is there support for different "conjugations", like

0 things
1 thing
10 things

[2016-06-30 04:56] kashiif opened #363 "Version 2.12.0 is unstable."
The module [lib/unique](https://github.com/jasonmit/ember-intl/blob/master/packages/ember-intl/lib/utils/unique.js) still uses the lodash that was [removed](https://github.com/jasonmit/ember-intl/commit/54c9f25a819bd7e2cfaa6bff2a27b856fee2e876#diff-3979d4d267fedd64b8925a7391f8b779L76) from package.json (and replaced by ember-cli-lodash-subset) a couple of days ago.

[2016-06-30 05:03] jasonmit commented on #363
2.12.1 resolves this

[2016-06-30 05:03] #363 closed

[2016-06-30 05:05] jasonmit commented on #362
Related to https://github.com/yahoo/intl-messageformat/pull/136

[2016-06-30 05:05] #362 closed

[2016-07-01 07:01] kashiif opened #364 "Remove lingering use of lodash causing 2.12.1 to be unstable"
Replace `lodash.assign` with `ember-cli-lodash-subset.assign` in `lib/broccoli/cldr-writer.js`.

[2016-07-01 20:14] georgi-kovachev opened #366 "hour='2-digit' doesn't work with hour12=false"
{{format-date notification.created_at hour="2-digit" minute="2-digit" hour12=true}}
I used hour='2-digit' and hour12=true but it still shows one-digit hour.
11:18 pm -- fine
9:43 pm --
3:10 pm
3:02 am

And I use 2.2.1 in package.json
"ember-intl": "2.2.1",

[2016-07-01 23:48] #364 closed

[2016-07-02 00:41] jasonmit commented on #366
@georgi-kovachev is this with or without the IntlJS polyfill?  If with, what version of the polyfill and what browser?

[2016-07-02 03:16] #352 closed

[2016-07-02 06:32] georgi-kovachev commented on #366
I don't think it uses polyfill, and I think it is my misunderstanding about time format.
I thought it should be displayed like this 09:23 pm but generally leading-zero hour will be available in 24-hour format.
Now I am confused whether it is a bug or not about '9:23 pm' with this parameter .
 hour="2-digit" minute="2-digit" hour12=true

[2016-07-05 18:45] jasonmit commented on #366
Which browser are you using when you see this?

[2016-07-05 19:15] jasonmit commented on #366
This doesn't appear to be a bug within ember-intl.

[code]

This is how Chrome has implemented the DateTimeFormat API.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat

[2016-07-05 19:15] #366 closed

[2016-07-15 22:02] donahchoo commented on #358
@jasonmit I do need to reopen this...  I have this code:

[code]

but when I do ```ember serve``` I get this output:

```ember-intl env undefined```

am I doing something wrong?

[2016-07-15 22:03] adhamhf commented on #358
@jasonmit I do need to reopen this... I have this code:

module.exports = function( env ) {
    console.log('ember-intl env', env);
but when I do ember serve I get this output:

ember-intl env undefined

am I doing something wrong?

[2016-07-16 08:38] jasonmit commented on #358
@adhamhf you're correct.  I've patched it and will version shortly.

[2016-07-16 08:48] jasonmit commented on #358
2.13.0

[2016-07-16 08:48] #358 closed

[2016-07-20 17:41] #347 closed

[2016-08-05 01:19] danevans opened #369 "Incompatibility with Ember 2.7.0 due to relative paths"
Since Ember deprecated the `baseURL` option and removed the `<base>` tag entirely (http://emberjs.com/blog/2016/04/28/baseURL.html) this addon stopped working for me.

I tested that this is an issue by

- create a new Ember 2.7.0 app
- `ember install ember-intl`
- enable the polyfill `autoPolyfill: true,` in `config/ember-intl.js`
- start up the app
- create a route that's at least two slashes dee

[2016-08-07 23:31] #369 closed

[2016-08-07 23:32] jasonmit commented on #369
2.13.1, thanks

[2016-08-11 12:21] pbosse opened #371 "Refer already defined translation"
Hi,

Is it possible to refer to an already defined translation? for example:

[code]

Thanks,
Philippe

[2016-08-14 08:23] Turbo87 opened #372 "Git tags missing"
it seems that this repository is missing the git tags for the latest releases.

[2016-08-15 09:02] jasonmit commented on #371
This is currently not possible.

[2016-08-16 08:43] ykaragol opened #373 "Unable to find missing-message.js while testing at addon"
Neither `app/utils/intl/missing-message.js` nor `addon/utils/intl/missing-message.js` can be found at tests while developing addon.

[2016-08-17 01:49] jasonmit commented on #373
I don't really understand the issue, can you add more content or post an example app with the issue isolated.

[2016-08-17 03:23] ykaragol commented on #373
We are using ember-intl in our projects. When a key is not found in translation files, we use utils:intl/missing-message.js to handle the error. [ref](https://github.com/jasonmit/ember-intl/wiki/Missing-translations). While testing our projects, we rely on this behaviour. (Suppress logger warnings etc.) It works.

On the other hand, we have some addon projects too. We also use ember-intl in one of

[2016-08-17 03:57] jasonmit commented on #373
@ykaragol please do, it will help in understanding the issue and enable me to patch it, if possible, a lot faster.

[2016-08-17 07:02] jasonmit commented on #372
Should be all fixed, thanks

[2016-08-17 07:02] #372 closed

[2016-08-17 07:03] #371 closed

[2016-08-17 07:04] jasonmit commented on #371
Closing for now, feel free to reopen if you, or anyone in the future, wants to add this functionality.  Would be happy to accept it.

[2016-08-25 05:51] nightire opened #374 "Corrections for autoPolyfill and outputPaths"
I found some inconsistent information in documentation, according to https://github.com/jasonmit/ember-intl/wiki/Intl.js-Polyfill#change-output-path, users should be able to specify the output path, but:

1. ~~This is not true if `autoPolyfill` is false. I believe this is a bug, because users may want to change output path event turn off `autoPolyfill` option (`false` is default value, it confuses

[2016-08-25 05:54] jasonmit commented on #374
Please do, and I agree on both points.  `autoPolyfill` should respect the output path provided and the README should be updated to reflect `app: { intl: '...'}` instead of `outputPaths: { intl: '...' }`

[2016-08-25 06:11] nightire commented on #374
@jasonmit I've changed the wiki now, `autoPolyfill` is fine, I've mis-leaded by the 2nd point. Thanks.

[2016-08-25 06:11] #374 closed

[2016-09-02 14:32] HenryVonfire opened #375 "[ember-intl] (...) missing from en-us"
Recently I've updated ember-intl to its latest version and now, when running the project with `ember s`, I'm getting a lot of `[ember-intl] (...) missing from en-us`. My translation file is called `en-US` and I've checked that the correct name (with US in upper case) is set in the `intl.locale` in the  `beforeModel` application route, `baseLocale ` and `locales` in `config/ember-intl` file. Am I m

[2016-09-04 00:33] jasonmit commented on #375
@HenryVonfire any chance you can throw together a sample app that reproduces this?

[2016-09-05 08:14] HenryVonfire commented on #375
@jasonmit Sure, [here](https://github.com/HenryVonfire/intl-log) you have. While doing this I've discovered that it wasn't actually `ember-intl` the one generating the problem but `ember-intl-cp-valdiations`, should I open an issue in that repository?

[2016-09-05 08:15] jasonmit commented on #375
Yes please

[2016-09-05 08:16] HenryVonfire commented on #375
Ok. I'll close this issue then.

[2016-09-05 08:16] #375 closed

[2016-09-05 23:09] jasonmit commented on #375
Should be fixed in ember-intl-cp-validations v2.3.1

Thanks

[2016-09-08 10:51] martin-hoger opened #376 "Fallback language"
First of all, thank you for the addon. It is pleasure to use it, I also very much appreciate the intergation with CP Validations.

I have an app with many languages, sometimes it happens that some translated strings are missing, in this case I want "fall back" to English. This is the way I do that:

utils/intl/missing-message.js

[code]

I am just wandering, are there some other (better) ways to d

[2016-09-09 01:59] jasonmit commented on #376
`intlService.setLocale(['fr-ca', 'en-us']);` in this case will try fr-ca and fallback to en-us.  Let me know if you experience any issues with this.

[2016-09-09 11:00] martin-hoger commented on #376
It works. That's much better. Thank you!

[2016-09-09 11:00] #376 closed

[2016-09-15 03:24] jasonmit commented on #373
Please reopen if you can reproduce with an example.

[2016-09-15 19:35] ykaragol commented on #373
Sorry, I totally forgot it. I created a [demo addon](https://github.com/ykaragol/intl-addon-reproduce) project. You can clone it and test it with `ember t`.

Even I supply [`util:intl/missing-message`](https://github.com/ykaragol/intl-addon-reproduce/blob/master/addon/utils/intl/missing-message.js) as described in [wiki](https://github.com/jasonmit/ember-intl/wiki/Missing-translations), it is disp

[2016-09-15 20:59] ykaragol commented on #373
I think I found the reason. In my opinion, it is not about ember-intl, but ember's itself.

If I'm not wrong, to find `util:intl/missing-message`, [this line](https://github.com/jasonmit/ember-intl/blob/master/packages/ember-intl/addon/services/intl.js#L197) is used.

In an integration test at an ember app, **utils** are registered by ember.
But in an integration test at an ember addon, utils are

[2016-09-15 21:32] jasonmit commented on #373
@ykaragol that seems appropriate for now, and I'll see about updating the wiki.  I'll keep this issue opened for tracking on documenting a better way of registering missing-message during tests.

[2016-09-28 00:58] jasonmit commented on #350
I plan to implement a first pass at this over the next week.

[2016-10-03 12:14] taheilo commented on #350
+1

[2016-10-03 22:13] jasonmit commented on #350
I meant to implement this over the weekend but got side tracked, it's still high on my list of things-to-do and will likely be the next feature of ember-intl worked on.

It will move the formatter message into an optional addon `ember-intl-messageformat` that the default blueprint will install.  I'll also create a blueprint for the ruby-style translations that will uninstall `ember-intl-messagefor

[2016-10-12 01:09] jasonmit commented on #109
Work has begun to allow for the compiler to be swappable
https://github.com/jasonmit/ember-intl/issues/350

This is loosely related, as the work needs to happen in some form.

[2016-10-12 01:11] jamesarosen commented on #109
@jasonmit I've been playing around with moving the compiler to compile-time instead of runtime. A lot of the "translation lookup" logic then becomes just a property-lookup.

[2016-10-12 01:27] jasonmit commented on #109
@jamesarosen I'm interested to hear about this.  Is this in relation to an ICU?  I wonder it could be done in a way that allows for another compiler to be provided.  Would you be able to still support the runtime scenario for those lazy-loading translations?

[2016-10-15 23:13] edeis53 commented on #109
@jamesarosen @jasonmit with your plans to merge ember-intl and ember-i18n at some point, which project is more appropriate for use to start development on a new application?

[2016-10-15 23:17] jasonmit commented on #109
@edeis53 unsure when and if that will happen.  No movement has happened in that direction.  I've started to position ember-intl to optionally handle the same translation syntax as ember-i18n.  ICU message syntax will remain the default.

I would compare both, as they have different features, to see which one satisfies your needs now and into the future.

[2016-10-15 23:22] jasonmit commented on #109
But to be clear, I wish it they did merge and if that does happen I can assure you no features currently supported will be dropped in that transition.  Which is why I say choose which one best fits your needs.

[2016-10-23 18:08] Turbo87 opened #390 "Suppress missing translations build output"
I'm currently seeing warnings in TravisCI because of too many logged lines due to the missing translations messages. It would be nice if those messages could be suppressed without monkey patching the `TranslationsReducer`.

[2016-10-24 00:11] jasonmit commented on #390
@Turbo87 agree, will look to exposing a way of surpressing missing translation warnings as an option into EmberApp.

[code]

I'll try and get to this soon.

[2016-10-25 05:01] jasonmit commented on #390
Published as 2.14.0

The API is what I mentioned above.

[2016-10-25 05:01] #390 closed

[2016-10-27 14:13] Turbo87 opened #392 "Computed property macros"
`ember-i18n` has a `translationMacro`, which essentially generates a computed property listening to `i18n.locale` (see https://github.com/jamesarosen/ember-i18n/blob/master/addon/utils/macro.js). Would something like that be desirable in `ember-intl` too?

[2016-10-27 18:35] jasonmit commented on #392
No but I'll happily add this as I want feature parity between the two libs

[2016-10-28 06:30] jasonmit commented on #392
this is included within 2.15.0

[2016-10-28 08:11] Turbo87 commented on #392
since `ember-intl` has a larger API surface (`formatNumber/Date/Time()`) we could also offer those as macros, right?

[2016-10-28 08:31] jasonmit commented on #392
I'll happily support that.

What do you think of an API like:

[code]

[2016-10-28 09:03] Turbo87 commented on #392
I hadn't thought about passing options, but that's a good point. We might be able to simplify the API a bit though. How about something like this:

[code]

the `fromComputed()` function would essentially just wrap the string and mark it as a dependency key instead of a literal value.

/cc @kellyselden @marcoow any comments on such a proposal?

[2016-10-28 09:07] marcoow commented on #392
@Turbo87: would it make sense to require `currency` to be a property name so that you can get rid of `fromComputed`?

[2016-10-28 09:24] Turbo87 commented on #392
I'm not sure. There might be legitimate use cases for `currency` being a static string. also `style` being static and `currency` dynamic would probably confuse people.

[2016-10-28 09:43] marcoow commented on #392
Yeah, good point. I just feel that `fromComputed` adds complexity to the API that could potentially be prevented

[2016-10-28 09:51] Turbo87 commented on #392
[code]

might also work, but I'm not sure if that's really an improvement...

I guess the issue is that we can't be sure that the options will always be computed or always be static. We need *something* to mark the key as static/dynamic.

[2016-10-28 09:53] marcoow commented on #392
Could also check at runtime whether a property exists with that name 😱

[2016-10-28 18:55] jasonmit commented on #392
@marcoow that can conflict, so I'd prefer either a wrapper to signify literal v. path or my original syntax.

https://github.com/emberjs/ember.js/pull/4185 I wish this had landed

[2016-10-28 19:05] kellyselden commented on #392
It lives on in https://github.com/kellyselden/ember-awesome-macros. I didn't like how ember-cpm would look up a string as a property on your component first, and if not there, use as a value. It is bug prone in my opinion/collisions. The API I use is if it is a string, look up the property on the object, if you want to use the string as a value, you must escape via `raw('my value')`. I hope this h

[2016-10-28 22:32] jasonmit commented on #392
@kellyselden would you be open to me extracting `raw` into a standalone addon?

[2016-10-28 22:35] kellyselden commented on #392
Oh boy, it may overkill to addonify `raw`. It is so tiny: https://github.com/kellyselden/ember-awesome-macros/blob/master/addon/raw.js

[code]

[2016-10-28 22:39] jasonmit commented on #392
I was thinking more for standardizing around a module that works across libs that have complex computed macros

[2016-10-28 22:47] kellyselden commented on #392
Oh that makes more sense 😄. Yeah I would be interested in exploring that. We both could then just re-export it.

[2016-10-31 09:11] Turbo87 commented on #392
I tend to prefer using something like `fromComputed()` instead of `raw()`, i.e. marking something as a key instead of marking it as a literal. Reason for that is that it would be easier to copy-paste code from normal invocations of the service function to the computed macro. Then again if such a large addon is already using `raw()` it might make more sense to standardize on that.

One thing I don'

[2016-11-01 00:35] jasonmit commented on #392
Most (maybe all?) of the baked in computed deal with path keys whenever a string is involved so I think we should continue with that.  If a literal is intended, I'd prefer `literal(value)`.

I'm fine with making it a constructor and check the instance type versus a computed.  Any objections @kellyselden ?

I'll likely start on this tonight or tomorrow.

[2016-11-01 00:55] Turbo87 commented on #392
the difference to the baked in macros is that we are talking about values in an options object, not plain parameters of the macro itself.

[2016-11-01 01:05] jasonmit commented on #392
Fair point.  And the more I think about this the more the public API begins to even confuse myself (even when taking into consideration fromComputed/raw/literal wrappers).

I may end up going back to my original idea with a slight tweak in passing the computed's "owner" into the options fn as an argument.  I feel any sort of clever thing will only lead to confusion or deficiencies in the API.

[co

[2016-11-01 14:52] Turbo87 commented on #392
yeah, the built-ins are not that perfect either unfortunately.

hmm, that would be unfortunate. I think we were on a good track with `raw()` or `fromComputed()` or something like that.

[2016-11-01 21:03] rewritten opened #395 "Access current locale when resolving templates"
I am not sure whether it should be a concern of this library, but at some point it make sense to me to have entire templates translated, with rules like in rails, so a `{{partial "my-thing"}}` will be resolved (assuming locale is `en-us`) to the first available of
* `-my-thing-en-us.hbs`
* `-my-thing-en.hbs`
* and finally the non-localized `-my-thing.hbs`.

This is very similar to what rails does

[2016-11-01 21:39] jasonmit commented on #395
How I've dealt with this in the past, at the component level, is make `layout` a computed property.

[code]

It might make sense to create an addon for this that is agnostic to both ember-intl/ember-i18n.  That said, I'm not against using the resolver for this, I just haven't ventured down that far in my previous attempt to get this working in a project.

[2016-11-02 09:07] marcoow commented on #392
@Turbo87: isn't the problem with this:

[code]

that `fromComputed` cannot add `currency` as a dependent key to the `cost` property but that `formatNumer` would have to check whether `currency` is a CP or a value?

[2016-11-02 09:22] Turbo87 commented on #392
to be honest, I don't see this as a problem.

[code]

that is true, but then you have the overhead of using computed properties for everything, and I'm not sure if that overhead is actually smaller than the `ref()` wrapper and type check above.

[2016-11-02 09:28] marcoow commented on #392
I don't think there's a lot of overhead with using properties for static values as `get` would simply read the prop from the instance and the dependency wouldn't hurt as well when the property is actually static.

I'm more concerned about adding a bunch of complexity in order to be able to support both static values and properties (which might be CPs) at the same time. This isn't really specific t

[2016-11-02 09:33] Turbo87 commented on #392
I've updated the above code sample with an actual implementation. It doesn't seem that complex to me, but maybe I'm missing something...

(I haven't tested the code, but something roughly like that should work. It also only works for shallow objects, but that is all we need here.)

[2016-11-02 09:35] marcoow commented on #392
My point is more that you'll have to add that handling for arguments either being static values or properties to all these macros now whereas if you simply define the API so that particular arguments are either expected to be static values or property names you don't.

[2016-11-02 09:39] Turbo87 commented on #392
that's obviously correct. but as you can see in the code example above it can be reduced down to just two additional lines and I'm not even sure if "additional" is correct here, since you would need those line or roughly similar lines anyway as soon as you're handling property refs in any way, whether optional or not.

[2016-11-02 11:48] marcoow commented on #392
I see what you mean. I'm just not sure whether being able to accept property names and values as arguments is sth. that's valuable at all really. I find allowing both

[code]

and

[code]

conceptually more complex than requiring that arg (in this case `currency`) is a property name

[code]

[2016-11-02 13:23] Turbo87 commented on #392
my problem with that is that you need to read the documentation to understand which options are static and which are dynamic, while in the other case it's obvious by looking at the code. you could obviously require *all* options to be references, but that would get ugly pretty fast if you're formatting multiple numbers with different options.

[2016-11-02 13:27] marcoow commented on #392
Right - seems both alternatives aren't really ideal

[2016-11-02 19:22] Turbo87 opened #396 "Move documentation into repository"
With a v3.0 planned (#485) it might make sense to move the documentation into the repository to version it properly. That way we can more easily view the documentation corresponding to a particular release. Please let me know if a PR that does that would be acceptable.

[2016-11-02 19:39] jasonmit commented on #396
I'm all in favor :)

[2016-11-02 19:40] #395 closed

[2016-11-02 20:45] rewritten commented on #395
If you have any idea of how to get the magic in the resolver, I would be very happy to make the implementation.

[2016-11-02 22:20] #396 closed

[2016-11-02 23:34] jasonmit commented on #395
@stefanpenner any suggestions?

[2016-11-04 09:11] vvohra commented on #102
@Turbo87: you said this was a deal breaker for you earlier this year. Did you have any strategies to deal with this problem?

[2016-11-04 09:15] Turbo87 commented on #102
@vvohra yes, I've tried https://github.com/intercom/ember-href-to and it works very well.

[2016-11-08 21:44] vvohra opened #399 "Not escape string if it's htmlSafe"
If the prop value is marked as HTML safe, would it make sense to skip the escape done [here](https://github.com/jasonmit/ember-intl/blob/master/packages/ember-intl/addon/formatters/format-html-message.js#L16)?

[2016-11-08 23:03] jasonmit commented on #399
Where the argument you are passing in is htmlSafe?

[2016-11-10 08:37] vvohra commented on #399
You're right, I should have checked. Thanks.

That already works, I think. So we're good there.

[2016-11-10 08:37] #399 closed

[2016-11-15 14:30] estshy opened #400 "Custom translation directory"
I would like to keep translations in different directory than `translations`. I thought about changing `inputPath` and `outputPath` to something different. Unfortunately it doesn't work, because the default path is hardcoded in `node_modules/ember-intl/app/instance-initializers/ember-intl.js`

[2016-11-15 20:21] jasonmit commented on #400
@estshy Right now, this isn't supported but in the future I will likely change that if you want to wait.  Otherwise, I'd welcome a PR if you are interested in tackling this.

[2016-11-15 20:32] Turbo87 commented on #400
IMHO changing the folder would be against the convention over configuration concept in Ember. What reason do you have for changing that folder?

[2016-11-16 01:20] jasonmit commented on #102
This works great @Turbo87 - thanks, I'm going to close this for now since there is a solution.

[2016-11-16 01:20] #102 closed

[2016-11-16 01:32] jasonmit commented on #400
@Turbo87 we can support both w/o much work IMO.  As someone who frequently bumps up against conventions, having an escape option is always nice.  But it would be nice to know the use-case, perhaps we've overlooked something.

[2016-11-16 11:18] Turbo87 commented on #400
that's all I'm saying. if there are good reasons to put them elsewhere we can support it, but I'm against supporting stuff just because we can if it increases complexity without much to gain.

[2016-11-16 12:02] estshy commented on #400
Well. I would like to keep default language labels locally in the repository and fetch all remaining languages from the api with one little remark. In addition to that I would like to have them inside pods directory.

Why? Navigating through large directory trees sucks a lot. Also I don't want to have translations that are not used anymore, so when I am removing something from the pods directory I

[2016-11-16 19:32] jasonmit commented on #400
This is already possible today https://github.com/jasonmit/ember-intl/blob/master/docs/asynchronously-loading-translations.md

As for pods, I would treat that entirely separately than a configurable outputPath.  Perhaps you want to open a separate issue (for tracking) for this.

I have plans to work on an addon that is library-agnostic that will work with ember-i18n and ember-intl to flatten yaml/

[2016-11-16 19:33] #400 closed

[2016-11-16 19:58] Turbo87 commented on #400
@jasonmit that should probably target the new module unification RFC since pods are somewhat deprecated now

[2016-11-16 20:09] jasonmit opened #401 "PROPOSAL: allow for translations to be grouped with components/by route"
The title is vague intentionally, this discussion spawned from #400.

The gist is the ability to group translations with components or by route and in a way that is addon agnostic that works with both ember-i18n and ember-intl.

What I had in mind was naively glob for **/*.(yaml,json), filter on everything that looks like a locale, merge by locale, and remove them from the app tree as they're merg

[2016-11-16 20:10] jasonmit commented on #400
@Turbo87 what I had in mind wasn't targeting any specific app directory shape.  It would glob for `**/*.(yaml,json)` filter on everything that looks like a locale, merge by locale, and remove them from the app tree as they're merged together.

Lets chat over at #401

[2016-11-16 21:10] alexlafroscia commented on #401
Definitely interested in grouping translations with a component's "pod", regardless of the new/current directory structure.  I've been kicking around a few different questions as I've thought of this, both of which Jason proposes solutions for

1. How do we organize the translations within a component? Should there be a `translations` directory inside the component, or a single `translations.{json

[2016-11-17 10:08] jasonmit commented on #401
I helped write `local-class` and while I like the idea, it is dependent on htmlbar preprocessors and a private API looking at the debug container key.  That will mean we could also need to reopen Ember.Component and expose a lookup method, deviating from the current API a bit.

All of this is why I'm apprehensive to do adopt this, along with the side-loading issues you mention and the inability to

[2016-11-17 10:13] rlivsey commented on #401
Doing this in 2 phases seems like a sensible approach then (where phase 2 may never happen but can be discussed separately!)

1. load translations.yml from components with global keys
2. at some future time, maybe, possibly, add local scoping

Regarding file vs directory, I think I'd probably prefer a file per locale in a dir on the projects where we have a lot of translations. On smaller projects

[2016-12-13 00:19] jbpresident opened #406 "ember-getowner-polyfill depreciated"
- [X] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.10.0
- Ember CLI Version:2.10.0
- Ember Intl Version: DOWNLOADED TODAY
- Browser(s): tested in Chrome
- Node Version:6.9.2

#

[2016-12-13 06:46] jasonmit commented on #406
Thanks, I plan to remove ember-getowner-polyfill as a direct dep soon.

[2016-12-13 07:53] jbpresident commented on #406
Dear Jason,

many thanks for your fast answer.
I think the ember-getowner-polyfill as a direct dep is depreciated since Ember 2.3.

And thanks for your great job !

All the best
Joachim Bäurle

[2016-12-13 20:11] vvohra commented on #401
I'm wondering if a general abstraction for packaging translations strategy makes sense for other use cases. Like, there's a function that gets a tree and it decides the best way to create translation assets, which can be overridden by the user.

I say this because we're thinking of moving to a different schema, like so:

[code]

This format gives us lots of flexibility to add in extra meta informa

[2016-12-13 20:24] jasonmit commented on #401
I was considering this to be an addon, so ember-intl would likely adopt a plugin API.  So, your concern will likely be addressed when this is implemented.

[2016-12-13 22:47] #406 closed

[2016-12-13 22:59] jasonmit commented on #406
@jbpresident should be resolved in 2.16.1.  Feel free to reopen if you still see it.

Thanks for opening the issue!

[2016-12-14 07:51] jbpresident commented on #406
Dear Jason,

many many thanks from Europe ! Solved ! And so fast !

ALL THE BEST !
Joachim Bäurle

[2016-12-15 08:34] jbpresident commented on #406
Dear Jason,

we still have on problem with ember-intl on Safari.

If we try to load the polyfill from cdn polyfills.io <http://polyfills.io/> as described in your documentation we get the following return :

/* Disable minification (remove `.min` from URL path) for more info */

and no translation of the language.

Our settings are in environment.js are :

        // ember-intl - Polyfill - Load i

[2016-12-15 08:51] jasonmit commented on #406
@jbpresident could you open a separate issue.  Also, when you do that if you could throw together a quick dummy app, would speed up the debug process.

[2016-12-15 18:50] alexlafroscia commented on #406
It sounds like the polyfills just aren't needed in Safari. If you want to force them to be loaded anyway, you can do this in the config instead:

[code]

[2016-12-29 11:36] nightire opened #409 "How to properly use custom adapter?"
I'm trying to use a custom adapter in one of my add-on by extend and overwrite `IntlService.adapter` CP, it seems work but still execute the default logic before I actually hit the custom adapter, see this screenshot:

![image](https://cloud.githubusercontent.com/assets/1104018/21542986/1804c240-cdfd-11e6-9439-64a97fb216f7.png)

This is how I do it for now:

1. in add-on, create `/addon/adapters/d

[2016-12-29 22:15] jasonmit commented on #409
Any chance you can isolate this and push it to github somewhere so I can step through it?

[2016-12-30 10:22] patric-eberle opened #411 "getLocalesByTranslations not documented"
By luck, I stumbled over the getLocalesByTranslations method, when searching for a solution to get the available translations. Can you please add that to your service documentation?

[2017-01-01 09:47] nightire commented on #409
@jasonmit I can't reproduce the error again, seems like custom adapter has already works as I've expected, don't know why the error happened before.

[2017-01-01 09:56] jasonmit commented on #409
Great to hear!  I'm going to go ahead and close this.

[2017-01-01 09:56] #409 closed

[2017-01-01 10:03] nightire commented on #409
@jasonmit But I also observe another problem on https://github.com/jasonmit/ember-intl/blob/master/packages/ember-intl/app/utils/intl/missing-message.js#L13

sometimes the passing `locales` is not an array, so `locales.join is not a function` error will be thrown.

for example, if simply put: `{{t "key.not.exists" locale="en-us"}}` in template will reproduce this error

[2017-01-01 10:37] jasonmit commented on #409
@nightire thanks, I just released 2.16.3 to fix that

[2017-01-01 11:00] nightire commented on #409
@jasonmit awesome, thank you very much.

[2017-01-02 15:26] eshtadc opened #412 "Integration test helper does not wait for translations to be loaded"
Hi there - I am getting warnings in my console that a translation for a specific locale is unavailable in my integration tests.  I am using the instance initializer and setting a locale as indicated in the documentation about integration tests.  I only see this issue when I am using the service directly (in my case within another service) rather than using the helpers within hbs files.  I've track

[2017-01-02 15:29] Turbo87 commented on #412
@eshtadc can you share a minimal project that reproduces this issue?

[2017-01-02 23:09] jasonmit commented on #412
@eshtadc updated the documentation and added a test to verify the wait test helper works.

https://guides.emberjs.com/v2.7.0/testing/testing-components/#toc_waiting-on-asynchronous-behavior
https://github.com/jasonmit/ember-intl/pull/413

[2017-01-02 23:09] #412 closed

[2017-01-03 00:40] eshtadc commented on #412
Wow - you are fast.  I just came back this in the evening to add some more details to the report and saw your example updated with `wait`.  Works great!  Thanks for the helpful response as well as the doc updates for the next person.

[2017-01-04 13:46] nightire opened #414 "Is it possible to use promise as value?"
We're trying to build an i18n system on top of ember-intl with a backend service to provide create entries on the fly, here are what we've been done currently:

1. extend `ember-intl/services/intl` to overwrite its adapter property, delegate to a custom adapter when our service is enabled
2. extend `ember-intl/adapters/default` to overwrite `findTranslationByKey`, fire a request to our backend ser

[2017-01-05 05:11] jasonmit commented on #414
I am not entirely sure what you mean by: "we don't know how to resolve it as a valid value to let ember-intl process it."

I don't image the `intlService.t` or `intlService.formatMessage` API is the thing giving you problem, it's likely the `t/formatMessage/formatHtmlMessage` helper(s) - correct?

If so, this so do-able you would likely need to refactor the helper as [`getValue`](https://github.co

[2017-01-06 06:17] jasonmit commented on #414
Closing since this isn't an issue, feel free to ask questions in this thread or via Slack.  I'd be happy to help.

[2017-01-06 06:17] #414 closed

[2017-01-06 06:18] jasonmit commented on #324
Closing for now, @alexlafroscia wrote a great polyfill.io ember-cli addon that might be better suited now.

[2017-01-06 06:18] #324 closed

[2017-01-06 06:22] nightire commented on #414
@jasonmit Hi, thank you, I'm trying your suggestions right now, hope will give some feedback soon.

BTW, slack doesn't have a dedicate channel for ember-intl, where is the right place to chat?

[2017-01-06 06:24] jasonmit commented on #414
@nightire topic-i18n is the generic internalization channel.  Feel free to ping me there

[2017-01-09 03:52] jasonmit opened #415 "Drop support for <= Node 0.12"
Drop support for <= Node 0.12, rewrite/cleanup/optimize `index.js` and its counter parts.

[2017-01-09 05:34] #415 closed

[2017-01-10 19:58] vvohra commented on #411
I was going to document it but I realized that `getLocalesByTranslations` does not include locales that were sideloaded. Is that intentional?

[2017-01-10 20:27] jasonmit commented on #411
Yes this is known and one of the reasons I didn't mark it officially public. I do plan to update the API to clean up how translations are resolved and in turn will fix this.

High on my list of things to do since it should simplify testing by removing the instance initializer.

[2017-01-10 22:44] jasonmit commented on #411
@vvohra PR opened to add a public API for this and addressed the issue you're seeing.

[2017-01-11 00:40] jasonmit commented on #411
https://github.com/jasonmit/ember-intl/releases/tag/2.17.0 closes this out

[2017-01-11 00:40] #411 closed

[2017-01-11 15:12] nightire opened #420 "`zh-cn` translations will never be compiled"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

Hi, sorry to bother again.

I found `translations/zh-cn.yaml` will never be compiled, I do check the supported locales and indeed `zh-cn` isn't exists in this li

[2017-01-12 07:10] jasonmit commented on #420
Did you make sure to load the Intl polyfill data for the `zh-Hans-CN` locale?  Since you don't have translations for this, that locale data will not be bundled into the app code.

You can see a full list of all the locales supported by the Intl API polyfill here: https://github.com/andyearnshaw/Intl.js/tree/master/locale-data/jsonp

Here is how you can manually include locale data for particular l

[2017-01-12 10:28] nightire commented on #420
@jasonmit OK, things get a little more complex, let me sort out:

1. yes, I know the supported API polyfill, and `zh-cn` is not in the list, although https://github.com/andyearnshaw/Intl.js/issues/16 said they provide fallback, but I don't see / know how it works.

2. yes, I know how to include locale data, but my problem is `zh-cn.js` doesn't exists in `/assets/intl/locales` path. BTW, the CLDR D

[2017-01-12 10:28] #420 closed

[2017-01-12 20:32] jasonmit opened #421 "PROPOSAL: inline default translations"
Translations are usually single-use.  So it makes sense to keep your app's default locale as close as possible to the template.  By being able to glance at your template and see the translations that will be rendered provides valuable context to the developer/designer.

The syntax may look something like:

[code]

This would involve at build time stripping out the inner text of the `t` helper into

[2017-01-13 00:22] #349 closed

[2017-01-13 00:24] jasonmit commented on #285
Most of the pieces have landed, custom compiler will also happen soon but can be done without a major version bump so I'm closing this for now.

[2017-01-13 00:24] #285 closed

[2017-01-14 11:21] jasonmit commented on #421
The more I thought about it, the more I think it will just lead to confusion.  Reason being, people might assume you can add htmlbars within the translation string and things would just work... which isn't the case.

[2017-01-14 11:21] #421 closed

[2017-01-14 13:05] Turbo87 commented on #421
yeah, I tend to agree. I thought about whether we could actually make that work, but haven't found a good way to do it yet.

[2017-01-16 02:37] vvohra opened #424 "Ideas for improvements"
As I said in #401 in this [comment](https://github.com/jasonmit/ember-intl/issues/401#issuecomment-266848021), I went ahead and created my own addon extended from this one and made some features that might be worth while to add here.

- Option to suppress the missing translations warning. Some strings are only meant for a few locales and won't have translations in the other locales, so the warning

[2017-01-16 02:45] jasonmit commented on #424
Unsure what methods you're reimplementing, but you may want to look at  #423 to understand how steep the conversion will be.  Should not be too terrible.

Can you add more to this, not sure I understand.

The other suggestions I will likely implement.  The bundling baseLocale may already be possible, I need to verify, if not shouldn't take too much to get it working.

[2017-01-17 04:35] vvohra commented on #424
Honestly, it's not that large of a change. I've just been adding a few features here and there we need. I just have a transformer function that's added right [here](https://github.com/jasonmit/ember-intl/blob/8d4300663d84470ad65e59e62cfe523f4abc5fba/packages/ember-intl/lib/broccoli/translation-reducer.js#L139)

Our YAML files are in the format of:
[code]

And the transforming function changes it t

[2017-01-17 04:39] vvohra commented on #424
The final thing I changed is that the translation files were saved as JS assets instead of JSON.

The locale is decided server-side and the server adds the appropriate remote script tag for the locale to `index.html`, so it's loaded with the page. That requires a little bit more of a change in `translation-reducer.js`, but not too bad.

But it maybe be useful for some users, not sure. Let me know

[2017-01-17 04:42] jasonmit commented on #424
Silencing the build logs is already supported:
https://github.com/jasonmit/ember-intl/blob/8d4300663d84470ad65e59e62cfe523f4abc5fba/packages/ember-intl/index.js#L150

[code]

That would be awesome, I'd prefer everything to work the way it does today by default.  The change should be a way to explicitly list out locales you want bundled vs written to dist.

[2017-01-26 07:40] pauc opened #427 "Addon unit test fails with "Cannot read property 'modulePrefix' of undefined""
I am using ember-intl in an addon and I found I can not make a service test to work.

On the `setup()` call of the test, when trying to get the intl service, the tests fails with the message `Promise rejected before "it exists": Cannot read property 'modulePrefix' of undefined`. Using the debugger you can see that the error is caused by this line: https://github.com/jasonmit/ember-intl/blob/29de2f

[2017-01-26 11:09] pauc commented on #427
Solved adding a couple of explicit dependencies to the test:

[code]

[2017-01-26 11:09] #427 closed

[2017-01-27 15:41] Dremora opened #428 "allow parametrizing `t` with components"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.7.0
- Ember CLI Version: 2.11.0
- Ember Intl Version: 2.19.0
- Browser(s): Chrome
- Node Version: 7.3.0

### Steps to Reprodu

[2017-01-31 20:34] jasonmit commented on #428
One day I would like to support something like this, but currently I don't know of a path forward that would allow for this.

Related https://github.com/jasonmit/ember-intl/issues/102

[2017-02-01 04:50] jrburke opened #430 "Possible small changes for app on Ember 2.11 with ember-intl 2.20.1"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version (actually v2.20.1, which is newer than the 2.20.0 listed at that latest link)
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.11.0
- Ember CLI Version: 2.11.0
- Ember Intl V

[2017-02-01 05:25] jasonmit commented on #430
I see no reason why we shouldn't exit in the case of the lookup.

As for the config missing I'm afraid we may mask other issues that may lead to people wondering why locale data was not loaded.

Add the following inside your fail test(s) and let me know if that fixes it.

[code]

[2017-02-01 10:13] patric-eberle opened #431 ""extend" is not a member of a factory manager."
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.7.3
- Ember CLI Version: 2.7.0
- Ember Intl Version: 2.20.1
- Browser(s): Chrome
- Node Version: 5.6.0

### Steps to Reproduc

[2017-02-01 10:34] jasonmit commented on #431
2.20.2 should resolve this, thanks

[2017-02-01 10:34] #431 closed

[2017-02-01 18:52] travisghansen commented on #400
For what it's worth, our use case is such that we have an independent repo with the translations that's used for multiple projects (ember and non-ember).  Without the ability to specify the location this becomes cumbersome to integrate :(

[2017-02-01 19:06] jasonmit commented on #400
@travisghansen were you planning to use submodules?  Curious the strategy so that I can support it.

[2017-02-01 19:16] travisghansen commented on #400
@jasonmit well, our intent was to make a very 'dumb' repo with just the translations and include bare minimum per-language/toolkit packaging 'stuff'.  My hope was to add a simple `package.json` so we could version the translations and just include the npm package from the various js/ember projects.

Outside of npm (ie: `package.json`) we currently have a php app as well so we're dropping a `compos

[2017-02-01 20:01] travisghansen commented on #400
I should note for development purposes it would be ideal to point at any arbitrary folder outside the project structure.

[2017-02-01 20:03] jasonmit commented on #400
Thanks for the info, I think I can get this working fairly easy.  I'll ping you once I have something.

[2017-02-01 20:04] travisghansen commented on #400
@jasonmit thanks for the consideration!

[2017-02-01 20:06] travisghansen commented on #400
Does the existing project have the ability to configure file naming conventions?  ie: en-us.json vs en_US.json etc?

[2017-02-01 21:39] jasonmit commented on #400
@travisghansen it looks like I already added support for changing the inputPath but never made it part of the public API: https://github.com/jasonmit/ember-intl/blob/master/packages/ember-intl/tests/dummy/config/ember-intl.js#L63-L66

Can you verify this works for changing the translation path?  I'll look to make it public and update the documentation.

Not yet, but something I can implement.

[2017-02-01 22:45] jasonmit commented on #400
Okay, everything is on master right now.  The case insensitive translation file names along with the inputPath property made public.

https://github.com/jasonmit/ember-intl/commit/3935bf6b41d0538f1f8b43320a53c50f87d081b1

I plan to version tonight.

[2017-02-01 22:49] travisghansen commented on #400
@jasonmit just to be clear, it's also `_` instead of `-` so case insensitive alone won't do the trick on the convention side of things.

[2017-02-01 23:06] jasonmit commented on #400
@travisghansen correct.  Your translation files can be named `en_US.json` or `en-us.json` or `en_us.json`.  ember-intl will normalize the the locale name to `en-us` at build time.

Also, I went ahead and versioned it as 2.21.0 so feel free to report back anything you find.

https://github.com/jasonmit/ember-intl/releases/tag/2.21.0

[2017-02-01 23:08] travisghansen commented on #400
@jasonmit Thanks!  I'll have my team review to see how that works both from a dev and prod perspective and then provide feedback either way.

[2017-02-02 01:39] jrburke commented on #430
I have a better understanding of the intl setup in this particular app, and there were a few issues that led me to post above, but I think they were errors on the app's part:

* Some setup code was trying trying to instantiate the intl service to grab the `t` method to hold onto for later. I changed it to just using `IntlClass.proto().t`, to get the `t` value from the prototype. That fixed the iss

[2017-02-02 01:39] #430 closed

[2017-02-02 02:18] jasonmit commented on #430
Unit tests require you to explicitly list out all dependencies via `needs` or to manually register them via `this.register`.  You likely could have added `needs: ['config:environment']` to the test that was failing versus having to register an empty config option.  That's something you'll need to decide on as I'm unsure what your tests are testing :)

Docs on the `needs` API:
https://guides.emberj

[2017-02-03 18:38] travisghansen commented on #400
@jasonmit so far this looks like it will fit out need perfectly.  I would only suggest (not needed for my use case) that someone may want to supply an absolute path vs relative.  Also (forgive my ignorance), if I understand correctly if I'm going the `npm` route the dependency only needs to be a `devDependencies` as the translations are compiled into the build and not read at run time?

[2017-02-03 18:49] jasonmit commented on #400
Correct on the dev dep (unless we are talking about an addon then the translation package would be a regular dep within the addon).

As for absolute paths, I believe it's possible.  I'll investigate

[2017-02-03 18:52] travisghansen commented on #400
@jasonmit ok, thanks again for the consideration!  This was tremendously helpful!

[2017-02-07 18:21] lmcardle opened #432 "Using within an addon"
Is there anything special that needs to be done to get this addon working within addons? running `ember install ember-intl` runs the blueprint, which adds a sample translations/en-us.yaml file. Next I set the locales and baseLocale properties and then added a simple lookup in the template. However when 'lookup' gets called, it gets called with null as the localName, which causes `this._localeWithD

[2017-02-07 18:29] jasonmit commented on #432
Thanks for reporting, I'll investigate today.

[2017-02-07 20:57] mjuniper opened #433 "Repo field incorrect in package.json"
- [X] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

I may be mistaken, but I believe the repository field in package.json is incorrect. It's unclear to me what it should be though. The reason I noticed this is bec

[2017-02-07 21:39] jasonmit commented on #433
Yeah I noticed this a few weeks ago, I believe this is on Ember Observer's end.  I'll try and to reach out to the maintainers to see if there is anything I can do to resolve it.

[2017-02-07 21:46] jasonmit commented on #433
Spoke with Katie, she said Ember Observer doesn't support monorepo (and likely never will.)

I'll need to investigate undoing the monorepo or just accept that ember-intl will always be scored at 8/10.

[2017-02-07 22:37] jasonmit commented on #433
Mono repository has been removed, in the process of kicking off a correction for the ember observer.

[2017-02-07 22:41] jasonmit commented on #433
Correction to Ember Observer submitted, so I'm going to go ahead and close this.

[2017-02-07 22:41] #433 closed

[2017-02-07 23:16] jasonmit commented on #432
Okay so I should have noticed this immediately but didn't, this isn't the intended use of `baseLocale`. Base locale is currently only used to detect missing keys at build time.

In 3.0, you'll have access to the `intl.baseLocale` from `config/environment`.  I plan to release that in the next few days.

[code]

https://github.com/jasonmit/ember-intl/blob/5f72b5279a22dbf7b43db4670bbc98ba2821f4b2/pac

[2017-02-07 23:21] jasonmit commented on #432
Actually, I'll reopen and will investigate how feasible it is to backport this functionality to 2.x along with defaulting the service's locale to the baseLocale when setLocale is never called.

[2017-02-08 00:57] jasonmit commented on #432
Updated my previous comment, closing as baseLocale is being removed in 3.0 to simplify the code base as it's own used to detect missing translations at build time against the primary/base locale.  That feature goes away in 3.0.

[2017-02-08 00:57] #432 closed

[2017-02-08 05:35] jasonmit commented on #433
Just to report back, looks like now Ember Observer has re-scored ember-intl.  Back to 10/10!

[2017-02-08 18:27] mjuniper commented on #433
Awesome!

[2017-02-15 17:56] GCheung55 commented on #349
@jasonmit this is closed so what was the outcome?

[2017-02-15 18:22] jasonmit commented on #349
Unsupported.  Changes required upstream for this and I plan to make this possible.  Happy to revisit in the future.

[2017-02-16 16:51] Turbo87 opened #435 "Warn about invalid translations"
broken:

[code]

fixed:

[code]

it would have been cool if `ember-intl` could've warned me about the broken plural rule. instead sentry.io was reporting "infinite rendering invalidations" and apparently the user interface for the users using that translation was repeated several times (see https://github.com/skylines-project/skylines/issues/615).

[2017-02-23 19:58] Turbo87 commented on #435
It seems that the original data on what plural forms are allowed can be read from https://github.com/unicode-cldr/cldr-core/blob/master/supplemental/plurals.json. I'll see how far along in our dependency chain that data is passed.

[2017-02-23 20:37] Turbo87 commented on #435
some more notes:

- https://github.com/eemeli/make-plural.js has support for `pluralCategories`
- https://github.com/yahoo/formatjs-extract-cldr-data only exports the `pluralRuleFunction` from `make-plural`
- `ember-intl` depends on https://github.com/jasonmit/broccoli-cldr-data, which depends on `formatjs-extract-cldr-data`
- `core-cldr` exists because "ember-intl#broccoli-cldr-data#formatjs-extr

[2017-02-23 22:52] Turbo87 commented on #435
[code]

I have an initial spike! 🎉

[2017-02-23 23:06] jasonmit commented on #435
Woohoo :)

Do you think it's worth pulling this work into a stand-alone addon, when you're ready, into something like `ember-intl-icu-linter`?  This can be a future task, just bike shedding on how we can scale this to add additional linting (i.e., key collision detection).

[2017-02-23 23:20] Turbo87 commented on #435
I'll have to think about it. Might be a good idea, yeah. What I'm a little worried about is having a mismatch between the CLDR versions and not being able to resolve `cldr-core` properly.

[2017-02-24 15:46] littledan commented on #71
Hey, are you still having issues with Chrome? I ran some tests and I see Euros generally getting formatted with two decimal places, unless you change the minimumFractionDigits/maximumFractionDigits options.

By the way, you can query how many decimal places a currency has by default like this (the answer across browsers is 2):
[code]

[2017-02-25 00:30] #435 closed

[2017-02-26 14:34] estshy commented on #400
@jasonmit It looks nice. Works almost exactly as I was expecting. The only thing which I dislike is repeating translation path in each translation file.

Structure:
[code]

File en-us.yaml:
[code]

[2017-02-28 15:39] Turbo87 opened #439 ""autoPolyfill" should just work in fastboot mode"
Node 0.12 introduced the `Intl` API, but apparently only includes the `en` locale by default. This means we will have to unconditionally apply the polyfill in the fastboot environment.

[2017-02-28 20:30] jasonmit commented on #439
Agreed.

We should also document (or point to the documentation) that explains how to compile node with the full ICU dataset.

https://github.com/nodejs/node/wiki/Intl#building-node-with-an-embedded-icu

[2017-03-02 03:55] vvohra commented on #424
I'm waiting for 3.0 to be released before working on this. But another feature worth having: fallback translations.

Why? Sometimes we want to use a new translation for a form header, but if the new translation isn't available in all locales, a fallback existing translation should be used.

I think some options for the API would be:
[code]

I'd don't think fallback translations and fallback locale

[2017-03-02 04:24] jasonmit commented on #424
The API should already support this.  `{{t 'foo.bar' fallback=(t 'bar.baz')}}`.

[2017-03-02 07:26] vvohra commented on #424
Thanks for the link. So, this isn't quite exactly what I need.

[code]

[code]

I could argue that the returned value should have been `es-mx test phrase 2`.

[2017-03-02 07:36] jasonmit commented on #424
That looks to be working as intended, it will only ever use the fallback of one cannot be determined by the locale (even if that is a set of locales).

I'm not sure the behavior you describe would be widely needed, so I am relucant to bake it into the API.  It could be an addon though.

[2017-03-02 08:04] vvohra commented on #424
Yeah, so the `fallback` currently implemented is: "if all else fails, then use this"

I don't think this is used often, but this is an important case, in my opinion. But maybe there's another way around this. So let's give a scenario based what happens often:

- Dev creates the string `popularVideos: 'Popular Videos` for a feature, gets it translated two weeks in advance.
- One day before release,

[2017-03-06 04:40] greenkeeper[bot] opened #452 "An in-range update of loader.js is breaking the build 🚨"
## Version **4.2.3** of [loader.js](https://github.com/ember-cli/loader.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ember-intl/ember-intl/compare/greenkeeper%2Floader.js-4.2.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      loader.js
    </td>
  </tr>
  <tr>
    <th align=lef

[2017-03-09 08:47] sly7-7 opened #455 "Missing cldr dependencies in unit tests"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.11.2
- Ember CLI Version: 2.11.1
- Ember Intl Version:
- Browser(s): Chrome & phantomjs
- Node Version: 6.5.0

### Steps to R

[2017-03-09 09:42] jasonmit commented on #455
Yes, it looks like the unit test doc needs to be updated to reflect this.  Thanks for reporting!

[2017-03-09 09:57] #455 closed

[2017-03-09 10:35] Turbo87 commented on #109
that looks interesting actually... certainly worth investigating whether that gains us any speed/filesize improvements

[2017-03-09 16:31] sly7-7 opened #456 "format-html-message, number not correctly localized in 'en' locale"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Steps to Reproduce

see: https://github.com/ember-intl/ember-intl/compare/master...sly7-7:master

The weird thing, is that it looks like the test pass on pha

[2017-03-09 18:57] phcoliveira commented on #188
I am using Watchman 4.6.0 and Ember 2.8.4. Although I run only one ember server, watchman is still watching all my Ember projects.

[2017-03-09 19:38] jasonmit commented on #188
Reopening to investigate

[2017-03-09 20:28] jasonmit commented on #188
@phcoliveira all your projects or all projects that include ember-intl?  I'm trying to determine if this is something isolated to ember-intl or ember-cli/watchman.

[2017-03-09 20:43] phcoliveira commented on #188
It is likely to be isolated, for it was extremely difficult to find anything related to this problem. I created a new project today and, within a few file savings, had Watchman complaining about being poisoned. The files that could not be added was from another project. As a response to the command `watchman watch-list`, the list of folders being watched included the other projects. To circumvent

[2017-03-10 09:15] jasonmit commented on #456
In Chrome or Firefox what does `new Intl.NumberFormat('en').format(42000)` return for you? I cannot reproduce this locally or in Travis CI.

[2017-03-10 09:49] sly7-7 commented on #456
Hmm, it returns the correct translation `42,000`. I think the problem is due to formatHtmlMessage, not formatNumber. Also, using formatMessage correctly renders `42,000` too. For now I've found a workaround, by splitting the i18n label
[code]

[2017-03-10 09:51] sly7-7 commented on #456
Also, this test was correctly running on travis, which execute on phantomjs right ? And it also pass on your chrome and FF ?

[2017-03-10 09:54] jasonmit commented on #456
@sly7-7 intl-messageformat (the underlying compiler for format-html-message) defers to IntlNumberFormat internally which is why I was curious.  https://github.com/yahoo/intl-messageformat/blob/master/dist/intl-messageformat.js#L143

Correct and they passed locally for me in Chrome (did not try FF).

Do you have your browsers/OS configured to another locale other than en-us?

[2017-03-10 10:09] #452 closed

[2017-03-10 10:15] sly7-7 commented on #456
Yes, I guess my os (Mac OS) and my browsers are configured in Front locale

[2017-03-10 10:19] jasonmit commented on #456
Front locale?

[2017-03-10 10:22] sly7-7 commented on #456
Sorry, phone auto-correct... I meant FR.

[2017-03-10 13:33] sly7-7 commented on #456
Back to work, maybe I could test by forcing the browser locale to `en` and see how that works

[2017-03-13 08:11] jasonmit commented on #456
Thanks @sly7-7, it should definitely help.

[2017-03-13 08:35] sly7-7 commented on #456
@jasonmit You're welcome, please ping me if I can help debugging this

[2017-03-13 16:36] Turbo87 opened #461 "Build with production environment for GitHub Pages"
It appears that we currently use the `development` environment to build for https://ember-intl.github.io/ but instead we should use `ember build -prod`

[2017-03-13 18:51] #461 closed

[2017-03-13 19:16] #456 closed

[2017-03-13 19:24] jasonmit commented on #456
I was able to track this down, fix is going into 2.13.1 once CI passes.

[2017-03-13 20:26] sly7-7 commented on #456
Thanks a lot. I will try this tomorrow.

Le 13 mars 2017 20:24, "Jason Mitchell" <notifications@github.com> a écrit :

[2017-03-15 03:20] jasonmit opened #468 "eslint prettier integration"
Title says it all

[2017-03-15 05:56] jasonmit commented on #468
https://github.com/ember-intl/ember-intl/commit/111492be8527f328f92d2fbbeb83d637fffa09ae

[2017-03-15 05:56] #468 closed

[2017-03-15 16:42] Turbo87 opened #471 "[Feature Request] Implement Intl.ListFormat"
see https://github.com/tc39/ecma402/issues/33 and https://github.com/zbraniecki/IntlListFormat for more information

should this be an additional addon or be built into `ember-intl` itself?

/cc @jasonmit @pangratz

[2017-03-15 19:01] jasonmit commented on #471
@Turbo87 lets go with addon for now since it's stage 1.

In order to get there, we'll need to expose an API from within ember-intl that supports addons notifying ember-intl to extract additional fields from the CLDR at build time.

[2017-03-15 19:26] Turbo87 commented on #471
do you know if there is a ICU syntax for using that in translations string? e.g. `Selected Options: {options, list}`

in that case we would likely have to adjust the ICU message parser 🤔

[2017-03-15 19:27] jasonmit commented on #471
@Turbo87 excellent point, looping in @ericf.

[2017-03-20 07:54] woprandi opened #472 "Computed Property with formatNumber in unit testing"
- [X] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.12
- Ember CLI Version: 2.12
- Ember Intl Version:2.24
- Browser(s): Chrome/ PhantomJS
- Node Version: 6.9.5

### Steps to Re

[2017-03-20 08:23] jasonmit commented on #472
Can you confirm if throwing "formats:main" into the `needs` array resolves this?

[2017-03-20 10:59] woprandi commented on #472
It works, thanks a lot. Maybe the docs lacks this kind of example. I can create a PR if you want

[2017-03-20 13:45] arnebit opened #473 "'' (empty string) value should not be treated as missing translation"
Steps to reproduce problem: In any existing project, change a translation string to `''` (empty string). Observe:

<=2.17.0 "" (nothing displayed...)

Was the change intentional? (Unfortunately, I cannot narrow it down to any change in the two commits in between.)

- Ember Version: 2.12.0
- Ember CLI Version: 2.12.0
- Ember Intl Version: 2.17.1 and later ones
- Browser(s): multiple
- Node Version:

[2017-03-21 01:05] #472 closed

[2017-03-21 01:05] jasonmit commented on #472
@woprandi awesome, I went ahead and added it to the docs.  Thanks for pointing it out!

[2017-03-21 01:09] jasonmit commented on #473
The key is not an empty string but the translation key's value is?  If so, that sounds like a bug.  I'll look into fixing this shortly.

[2017-03-21 07:39] arnebit commented on #473
Yes, indeed, the value is empty, not the key.

![ember-intl-empty-string-value](https://cloud.githubusercontent.com/assets/15689171/24136872/4f90ab44-0e11-11e7-8214-dcbae6461960.png)

If I apply the fix from the referenced commit manually, an error is thrown [in the compute method](https://github.com/ember-intl/ember-intl/blob/111492be8527f328f92d2fbbeb83d637fffa09ae/addon/helpers/-format-base.js#

[2017-03-21 09:06] jasonmit commented on #473
@arnebit 2.24.1 should resolve this.  I can backport it back to 1.x if necessary.

[2017-03-21 09:24] hell03610 opened #475 "Regression - Failing with no locale"
I have many integration tests of components that use ember-intl for translations.
I was using ember-intl 2.18.0 and I was not setting the locale in the tests, as we are not testing the translations, and ignoring the "missing translation" messages with a configuration in the tests.

However, when updating to latest version 2.24.0, the tests fail when trying to fetch the locale.
Failure message is

[2017-03-21 09:30] jasonmit commented on #475
For now set your locale, but I'll work on a fix today/tomorrow.

[2017-03-21 09:37] elopez-ag commented on #475
No worries, we have so many tests I prefer to wait for the fix than setting the locale in all of them 😅  thx!

[2017-03-21 09:45] arnebit commented on #473
Oops, sorry, I just realized I my major version was 2 all the time, so the change occurred from **2**.17.0 to **2**.17.1. (Updated the top post.)

Unfortunately, the `t helper requires value attribute` Error is still there with 2.24.1.

[2017-03-21 09:46] hell03610 commented on #475
No worries, we have so many tests I prefer to wait for the fix than setting the locale in all of them 😅 thx!

[2017-03-24 04:00] vvohra commented on #67
I just realized the issue talked about in [two comments](https://github.com/ember-intl/ember-intl/issues/67#issuecomment-87323181) ago is happening and I wasn't really sure how to solve it either.

I'm not sure how big of an issue it is.
In the worst case scenario: there is a language that doesn't use one OR other and no part of the translation show up! But I don't think there is a language like t

[2017-03-25 16:36] vvohra opened #480 "Consistency regarding format-message and t"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.8
- Ember CLI Version: 2.6.3
- Ember Intl Version: 2.24.1

### Question

So:
Service methods: `formatMessage` does NOT accept

[2017-03-25 16:55] vvohra commented on #428
The way I do solve this problem is use placeholders for arguments, use regex split the translated string, and render the it in parts.

Example:
ICU String: "Hello what is your {name}" translated might be: "bla bla {name} blah bla" in other language.

For each argument I pass its own name, so like: name=`{name}`

Then the translated string returned from message formatter is: "bla bla {name} blah bl

[2017-03-25 17:05] vvohra commented on #424
I ended up creating a `t-does-exists-in-primary-locale` because a general solution is difficult to implement.

[2017-03-26 00:05] jasonmit commented on #480
Legacy logic that was moved forward while I waited to see how ember-i18ns API settled around formatting html-safe translations.

`format-message` helper in 3.0 will take a string literal, to match the service API.  I first need to deprecate the method in 2.x to encourage anyone using it to converting to the `t` helper.

The `t` helper will take an `htmlSafe` attribute to signify returning an html

[2017-03-26 09:23] jasonmit commented on #475
https://github.com/ember-intl/ember-intl/pull/484 resolves this, will be in the next patch release

[2017-03-26 09:23] #475 closed

[2017-03-26 09:32] #473 closed

[2017-03-26 09:33] jasonmit commented on #473
Fixes in 2.24.2, thanks for pointing out the issue

[2017-03-26 09:33] jasonmit commented on #475
Fixes in 2.24.2, thanks for pointing out the issue

[2017-03-27 09:09] jasonmit commented on #480
I released 2.25.0 with all the deprecations I was referring to.

[2017-03-28 16:54] greenkeeper[bot] opened #487 "An in-range update of ember-resolver is breaking the build 🚨"
## Version **4.1.0** of [ember-resolver](https://github.com/ember-cli/ember-resolver) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ember-intl/ember-intl/compare/greenkeeper%2Fember-resolver-4.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-resolver
    </td>
  </tr>
  <t

[2017-03-28 18:12] #487 closed

[2017-04-03 12:34] sly7-7 opened #491 "service method intl.t does not support fallback option"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.12
- Ember CLI Version: 2.13.beta
- Ember Intl Version: 2.26.2
- Browser(s): Chrome
- Node Version: 6.5

### Steps to Reprodu

[2017-04-06 11:23] Turbo87 opened #493 "Intl polyfill in vendor.js file"
Right now if you use `autoPolyfill: true` the addon will put all the Intl polyfill files into the `public` tree and load them by putting separate `<script>` tags for each of the files (one for the polyfill itself and for each locale another one) in the `index.html` file. This results in quite a few script loads on startup which is obviously not ideal.

One alternative option is using polyfill.io,

[2017-04-07 03:42] jasonmit commented on #493
I'm in favor of adding additional strategies for loading the polyfill.

Shouldn't be a problem.

[2017-04-07 06:59] #491 closed

[2017-04-16 20:12] greenkeeper[bot] opened #496 "An in-range update of broccoli-stew is breaking the build 🚨"
## Version **1.4.1** of [broccoli-stew](https://github.com/stefanpenner/broccoli-stew) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ember-intl/ember-intl/compare/greenkeeper%2Fbroccoli-stew-1.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      broccoli-stew
    </td>
  </tr>
  <tr

[2017-04-18 11:45] cicoub13 commented on #109
👍

[2017-04-23 01:16] #496 closed

[2017-04-27 19:20] morhook commented on #101
I'm having the same issue with latest `ember-intl@2.27.0` . Do I need to upgrade the Intl.js polyfill somehow?

[2017-05-19 16:22] machty commented on #274
I ran into this same issue. It's worth mentioning that the [newest Android has introduced APIs for selecting the best match of locales](https://developer.android.com/guide/topics/resources/multilingual-support.html), which might be a nice pattern to adopt.

One thing that was a bit tricky was that we also wanted the ability to default all English or Spanish locales to the single respective set of

[2017-06-07 00:17] jasonmit opened #510 "treeForTranslations"
In the past there have been requirements to do custom preprocessing of translations.  This would allow addons an opportunity to implement custom behavior like strip out translations, add translations, or the ability to support preprocessing/processing in the future for other message formats.

[2017-06-13 22:23] Turbo87 opened #511 "Access and transform CLDR data"
We are currently using https://github.com/ember-intl/broccoli-cldr-data to transform the necessary CLDR data to display plurals, currencies, dates, etc. The CLDR however has more data available on other topics too that might be interesting for some projects to have.

I'm wondering if it might make sense to build something into ember-intl which allows us to extract and transform other CLDR datasets

[2017-06-14 01:06] jasonmit commented on #511
You had me up until "and bundle them into the existing files."

Can you share what that might look like?

[2017-06-14 11:10] arnebit opened #512 "For simple arguments, values `0` and `false` are replaced by empty string"
### Environment
- Ember Version: 2.12.2
- Ember CLI Version: 2.12.1
- Ember Intl Version: 2.27.0

### Steps to Reproduce
[code]

Is this behavior intentional or just the result of some too eager `value || ''` in some place where `value===undefined || value===null ? '' : value` would have fit better?

I am not sure I am navigating the ICU spec correctly, but [one linked (java) document](http://icu-

[2017-06-15 04:37] jasonmit commented on #512
https://github.com/yahoo/intl-messageformat/pull/156 I'd love to get this merged.  It addresses the issue - may end up forking intl-messageformat if it's not addressed soon.

[2017-06-15 04:37] #512 closed

[2017-06-15 04:45] jasonmit commented on #512
Also - see this comment on how to handle this: https://github.com/yahoo/intl-messageformat/issues/88#issuecomment-68831305

[2017-06-19 08:56] mervinva opened #513 "Use ember-intl along with ember-i18n"
I am using ember-i18n for translation. I installed ember-intl for formatting date in the application. Both addons have same helper {{t 'hello.world'}}. How could I use ember-i18n for translation and ember-intl for date formatting alone ?

 ember             : 2.11.3
 ember intl       : 2.27.0
 ember-i18n     : 5.0.1

[2017-06-20 03:13] jasonmit commented on #513
I'm confused why you would use both t helpers when you indicate you only want to use ember-i18n for translations.  Do you also intend to use ember-intl's `t` helper?

[2017-06-26 07:36] #513 closed

[2017-06-27 09:33] jasonmit commented on #188
https://github.com/ember-intl/ember-intl-relativeformat/commit/e0ff3631fff9fbe9e756f1f56dbded6c512e832e
https://github.com/ember-intl/ember-intl-messageformat-parser/commit/edeb38ee1a981f7e7013ff4707c8c6c5536fad3a
https://github.com/ember-intl/ember-intl-messageformat/commit/9d8382b105426f4aae046ace9fdbbfcbc6db14b6
https://github.com/ember-intl/ember-intl-format-cache/commit/44d8ea2b06df810ae7decb

[2017-06-27 09:33] #188 closed

[2017-07-05 14:51] broerse opened #515 "this.get('intl').setLocale('en-us'); in addon"
Hi,

I managed to add `ember-intl` to my addon. If the application does not use `ember-intl` but uses my addon I like to set this.get('intl').setLocale('en-us') if locale is ''

Is there some Example or Doc on where and how I should do this.

Thanks

- Martin

[2017-07-06 10:15] broerse commented on #515
You can see my addon first try here. https://github.com/martinic/ember-cli-markdown-editor/blob/master/addon/components/markdown-editor.js#L181

When I do this in `init` and not `didInsertElement` it does not work. You can run the Dummy App (`ember s`) to see the warnings like `WARNING: [ember-intl] translation: 'markdown-editor.formats.heading.tooltip' on locale: '' was not found.`

Oddly everyth

[2017-07-07 03:59] jasonmit commented on #515
I think the text got cut off - can you clarify the end of that sentence.

[2017-07-07 05:29] broerse commented on #515
It is not cut off but the checking for `''` comes from the warning `WARNING: [ember-intl] translation: 'markdown-editor.formats.heading.tooltip' on locale: '' was not found.`

[2017-07-07 05:50] jasonmit commented on #515
@broerse okay I understand now.  Thanks - I will look into this.

[2017-07-09 10:04] jasonmit commented on #512
This is now resolved within intl-messageformat and 2.29.0 contains the dependency upgrade.

[2017-07-09 23:58] jasonmit commented on #515
Okay so ember-intl is behaving as expected here.  At the time of render, the locale was not set and you trigger the locale change after render, in `didInsertElement`, causing an immediate double render - which is why the translations are there after you see the warning.

I recommend you create an instance initializer within your addon to set a locale if the locale is unset.

https://guides.emberjs

[2017-07-10 08:31] broerse commented on #515
I don't like the repeating locale=_local but if it is the default for addons I can live with it ;-)

I tried your code end it does not work. See `setlocale` branch:

https://github.com/martinic/ember-cli-markdown-editor/commit/dfd9569094952fc9894855d7acfc69f8bc247bee

The warning is now changed from '' to 'en-us' was not found:
`WARNING: [ember-intl] translation: 'markdown-editor.formats.heading.t

[2017-07-10 09:21] jasonmit commented on #515
Reopening as a reminder to follow up.

[2017-07-12 06:02] jasonmit commented on #515
https://github.com/ember-intl/ember-intl/pull/516 will resolve the warnings.  Intl hydrates the translations that have been bundled into the application when the service is first initialized.  Since you're an addon that never calls injects `intl` it's not instantiated until rendering occurs (triggered by the `t` helper in your template).  Which causes rendering the take place, intl then is instant

[2017-07-12 06:02] #515 closed

[2017-07-12 06:11] jasonmit opened #517 "Fix beta/canary"
3 tests are failing, need to investigate why.

[code]

https://travis-ci.org/ember-intl/ember-intl/jobs/252683262

[2017-07-12 06:28] broerse commented on #515
Many thanks. Just tried and `2.29.1` solves it.

[2017-07-12 07:08] broerse commented on #515
It now also works without adding locale=_locale if you do an init in the component like this:

[code]
Is the ` if(!this.get('intl').get('locale')) {` correct and do you want me to write PR for the addon Doc?

[2017-07-12 21:24] jasonmit commented on #515
I would recommend not setting app state from within your addon (setting the app's locale).  I'd continue to recommend passing it as an attribute to each of the `t` helpers.

[2017-07-20 08:07] jasonmit commented on #401
I plan to start implementing this.

One of the strategies I have been thinking of is at build time scope all component translations with a key (probably the component name).  We will then transform the component's templates to include the key in the `t` helper invocations.

I'm less concerned about the enforcing strict scoping, so I feel the component name should suffice.  The main goal is to grou

[2017-07-25 19:22] machty opened #519 "Force usage of polyfill"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

I'm running into issues related to #71 on older versions of Android Chromium Webview and I believe I'd be able to solve my problems if there were a way to force

[2017-07-25 19:32] machty commented on #519
Also, if you _would_ like a PR, please let me know how/where it'd make sense to put this config.

[2017-07-25 19:48] machty commented on #519
Did a quick spike/fork and can confirm that this a not-terrible approach to normalizing formatting behavior between browsers.

[2017-07-26 05:49] jasonmit commented on #519
@machty totally happy to accept a PR for this.

In terms of the config, it can be part of `config/ember-intl` if it's a build time boolean you're checking or `config/environment` if something you need at build time (unsure how you're implementing it).

[2017-07-26 08:33] jasonmit commented on #519
You should be able to swap out the native Intl constructors for NumberFormat and DateTimeFormat.

[code]

If that's not the case, let me know where it's not working.  I validated really quick that the format-number helper is passing through the polyfilled NumberFormat.  Haven't tried every scenario.

[2017-07-26 10:46] machty commented on #519
I'll try that; if that works, that's preferable to my fork/spike, though it'd feel a little hacky to take advantage of those platform-provided properties being mutable even though `window.Intl` is not.

[2017-07-27 16:08] adrian-fernandez opened #520 "Example error"
- [X] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

### Steps to Reproduce

Simple error in the readme

You missed the last `}`

[2017-07-27 19:53] #520 closed

[2017-07-27 19:53] jasonmit commented on #520
Thanks :)

[2017-08-02 21:44] jasonmit commented on #519
@machty did you get around to testing this?

[2017-08-02 21:46] #510 closed

[2017-08-02 21:46] jasonmit commented on #510
Work has landed in master, still iterating on it and will eventually be part of 3.x.  API subject to change between now and then.

[2017-08-02 22:12] jasonmit commented on #401
Quick update.  I've settled on supporting both a flat file translations.{yml,json} and for components/templates that have many translations the directory structure we are all used to app/components/x-foo/translations/[locale].{yml,json}

I should have a beta released for ember-intl and @ember-intl/nest-translations in a few days.

[2017-08-04 12:17] arnebit opened #531 "UglifyWriter: ENONET build failed when minifyJS enabled since v2.30"
### Environment

- Ember Version: 2.14.1
- Ember CLI Version: 2.14.1/2
- Ember Intl Version: 2.30.0, 2.31.0
- Browser(s): n/a
- Node Version: 6.6.0.
- OS: Windows 10

### Steps to Reproduce
[code]
Add this to ember-cli-build.js:
[code]
`ember build env=stage`

### Result
(after some warnings independent of ember-intl, i.e. which occur also with ember-intl 2.29.1)
[code]
Interestingly, `ember build

[2017-08-04 18:00] #531 closed

[2017-08-04 18:04] jasonmit commented on #531
Should be fixed in 2.31.1

What are the new warnings you are seeing?

[2017-08-04 21:02] arnebit commented on #531
...but I think those started to show up after updating ember & ember-cli from 2.12 to 2.14.

[2017-08-05 00:30] jasonmit commented on #531
Yes, I've been seeing those across all my projects (those that don't use ember-intl).   Thanks again for the bug report!

[2017-08-14 00:38] jasonmit commented on #493
I've extracted out the polyfill into it's own separate addon so it's not coupled to ember-intl.

https://github.com/ember-intl/polyfill/commit/c530a0c7c33d6ae2d2845155b0efb197af270fa3 is the working branch right now that will resolve this.  Need to figure out how I'm going to import individual locales and also support vendoring the entire intl polyfill with all the data (for those that don't care

[2017-08-14 00:40] jasonmit commented on #519
I've extracted out the polyfill into it's own separate addon so it's not coupled to ember-intl.

https://github.com/ember-intl/polyfill/commit/c530a0c7c33d6ae2d2845155b0efb197af270fa3 is the working branch right now that will resolve this w/o the need of an initializer.

This is useful if you want consistency across browsers since some browsers vary slightly in the CLDR dataset they use.  In Node,

[2017-08-16 23:41] jasonmit commented on #493
https://github.com/ember-intl/polyfill#vendorbundle-intl-polyfill resolves this.  Support for this within ember-intl will land soon.  Will close once I have a version cut.

[2017-08-21 21:08] jasonmit commented on #480
https://github.com/ember-intl/ember-intl/commit/aec30932e7d125fb3e552c51571e25948a4838e0 resolves this.

These changes will all land in 3.0 (master)

[2017-08-21 21:08] #480 closed

[2017-09-02 18:33] Turbo87 opened #533 "Improve screen reader support"
The Lighthouse report often shows the following warning:

If an Ember app only has a single language then we can set that language in the `index.html`, but when supporting multiple languages it gets a little more tricky. I would like to propose doing something like this:

[code]

This should result in something like `<html lang="de">` and will hopefully improve the Lighthouse score and screen read

[2017-09-02 21:04] jasonmit commented on #533
👍

Hopefully can be done in way that would work with SimpleDOM's `document` (fastboot).

[2017-09-02 21:27] Turbo87 commented on #533
that would be awesome, yeah

[2017-09-17 10:05] tchak opened #534 "Support for apps using module unification resolver"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

[Module Unification RFC](https://github.com/emberjs/rfcs/blob/master/text/0143-module-unification.md)

Where full support may be premature, it would be nice to h

[2017-09-18 20:39] jasonmit commented on #534
It's crashing because of `config/ember-intl.js`?  Can you throw together a quick example app with the crash and I'll work on a patch.

[2017-09-19 10:05] tchak commented on #534
Thanks! I have a branch on a very small open source app here https://github.com/emberjs-paris/website/tree/ember-intl

[2017-09-20 22:10] jasonmit commented on #534
Did a bit of digging today and after resolving the config/environment issue I noticed there is another blocking issue:
https://github.com/emberjs/rfcs/blob/master/text/0143-module-unification.md#how-should-configuration-declarations-be-made-in-the-main-module

Both ember-i18n and ember-intl are impacted by this since they define a `util` type (and ember-intl defines an additional `cldr` type).  I'

[2017-09-23 13:16] tchak commented on #534
Thanks!

[2017-10-18 06:04] buschtoens commented on #66
I'm highly interested in this feature and would be available for a PR. Do you already have some specific ideas in min?

[2017-10-19 14:39] Turbo87 commented on #533
Looks like `document` is not available at all in fastboot. https://github.com/kimroen/ember-cli-document-title/blob/master/vendor/document-title/document-title.js#L91-L104 might help in finding an alternative solution though.

[2017-10-27 14:38] Turbo87 commented on #511
@jasonmit nevermind, this was a bad idea. It's much easier to have a script that can be run manually which transforms the necessary CLDR data into whatever format suits the app.

[2017-10-27 14:38] #511 closed

[2017-10-27 14:45] Turbo87 commented on #493
@jasonmit what we are doing now is this:

we ship the Intl polyfill unconditionally in the `vendor.js` file (we should decide whether we ship it or not via the new `targets.js` feature of Ember CLI), but we do not bundle the `intl/locales/*.js` files.

in our `loadAndSetLocale(locale)` method we check if `window.Intl === window.IntlPolyfill` and in that case load the correct `intl/locales/${locale

[2017-10-30 04:57] denzo opened #537 "Issue with ember-engines"
Currently we are unable to successfully use `ember-intl v2.31.1` with `ember-engines`.

We have tried 2 different approaches.

### Install in the host app
We have installed `ember-intl` in the host app and successfully shared the `intl` service to the `in-repo-engine` as suggested in the [guides](http://ember-engines.com/guide/services).

However, when we use the template helper in the engine `{{t

[2017-11-02 01:55] jrock2004 opened #538 "Format currency while typing"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.12.2
- Ember CLI Version:2.12.2
- Ember Intl Version: 2.23.1
- Browser(s): Chrome
- Node Version: Unknown

### Steps to Repro

[2017-11-02 16:31] jrock2004 commented on #538
Is there a way to remove the format?

[2017-11-03 02:00] jasonmit commented on #538
@jrock2004 formatting cannot be reversed.  Perhaps one option would be to display the raw value on focus and on blur format and keep the two separate.

[2017-11-03 02:00] #538 closed

[2017-11-03 02:06] jasonmit commented on #537
I personally haven't tried to use ember-intl within an engine, however the error you are seeing might be resolved with bumping `ember-cli-babel` to >= 6.6.0 within your host application.  Let me know if that resolves your issue and if you detect any other issues.

[2017-11-03 23:32] jrock2004 opened #539 "Convert decimal from different locale"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.12.2
- Ember CLI Version:2.12.2
- Ember Intl Version: 2.23.1
- Browser(s): Chrome
- Node Version: Unknown

### Steps to Repro

[2017-11-04 22:24] jasonmit commented on #539
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat is the API used "under the hood" for formatting numbers and does not work with strings.  For your scenario I'd recommend storing the raw number value and not the formatted value.  However, there are options such as accountingjs' `unformat`:

`accounting.unformat('23,01', ',')` -> `23.01`

http://openexcha

[2017-11-04 22:24] #539 closed

[2017-11-05 02:36] jrock2004 commented on #539
@jasonmit so your saying is I should format when I blur away

[2017-11-05 06:27] jasonmit commented on #539
@jrock2004 correct and store the raw, unformatted, value that you set as the input value on focus.

[2017-11-05 20:53] jrock2004 commented on #539
@jasonmit Oh I think I see what you mean. Having 2 variables ` price` and `formatPrice`. On focus, show the price, when not in focus show formatPrice?

[2017-11-06 09:17] jasonmit commented on #539
Correct

[2017-11-07 21:03] jrock2004 opened #540 "Helper Method to get locale info"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.12.2
- Ember CLI Version:2.12.2
- Ember Intl Version: 2.23.1
- Browser(s): Chrome
- Node Version: Unknown

### Steps to Repro

[2017-11-08 06:19] jasonmit commented on #540
The Intl API does not support this directly, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl

You would need to extract this data out of the CLDR.  If you need inspiration on how that may be done you can look towards https://github.com/yahoo/formatjs-extract-cldr-data which extracts pluralization and date rules out of the CLDR.

If you want to work on this, th

[2017-11-08 18:41] jrock2004 commented on #540
I have a very bad hack at this moment to cover this

[code]

Let me see if I have some time to maybe help with this

[2017-11-22 16:40] jrock2004 opened #541 "Writing a unit test with a service"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.12.2
- Ember CLI Version: 2.12.0
- Ember Intl Version: 2.31.1
- Browser(s): Chrome
- Node Version: Node 4

### Steps to Repro

[2017-11-22 16:49] jrock2004 commented on #541
Looking at stack trace, here is the failure point.

[code]

[2017-11-22 17:07] jrock2004 commented on #541
So looking, it seems that module name is undefined `"moduleName is not defined"`. Thoughts

[2017-11-23 09:20] jasonmit commented on #541
https://github.com/ember-intl/ember-intl/blob/2.x/docs/unit-testing.md

[2017-11-23 10:32] jasonmit commented on #541
Actually, reopening since we can probably throw an error in test-mode that helps the user know what is wrong.

[2017-11-26 03:51] denzo commented on #537
Apologies for not getting back to you @jasonmit

Unfortunately, your suggestion about bumping `ember-cli-babel` does not help.

The workaround that worked for us was to re-export the helper within the engine.
http://ember-engines.com/guide/sharing-components-and-more
[code]

However, this works as our engine is in-repo and we are able to use the host app's name space.

[2017-12-17 17:48] kraltom commented on #228
Might be worth it to prefix keys in nested translation files by directory name. E.g. if file
`translations/some/directory/en-us.yaml` would contain `hello: "hello"` string, the build would output file `en-us.json` with `{ "some.directory.hello": "hello" }` contents.

[2017-12-31 12:52] GELight opened #542 "Current set locale"
Hi,

Is there a w to get the current set locale from ember-intl?
I need it to mark my current selcted language in my language chooser template.

I didn't found any information on your documentation.

### Environment

- Ember Version: 2.17
- Ember CLI Version: 2.17.1
- Ember Intl Version: latest
- Browser(s): Chrome
- Node Version: 8.7.0

Best regards,
Mario

[2017-12-31 13:55] GELight commented on #542
Solved by myself. :)

[2017-12-31 13:55] #542 closed

[2018-01-02 15:01] devinus commented on #272
@jasonmit Is there any way to add currency symbols to an already loaded locale?

[2018-01-09 21:43] jasonmit commented on #537
Sorry for closing, thought it was around an ember-cli-babel bug I noticed. Lets keep the discussion flowing, any example apps to help triage this further would be much appreciated :)

[2018-01-11 07:40] tushararora opened #544 "Error in parser.js"
What could be the reason for this error?

<img width="697" alt="screen shot 2018-01-11 at 1 07 22 pm" src="https://user-images.githubusercontent.com/6129194/34813565-6d4d6746-f6d0-11e7-9a39-188a1c68e675.png">

### Environment

- Ember Version: 2.16.1
- Ember CLI Version: 2.16.2
- Ember Intl Version: 2.31.1
- Browser(s): Firefox 58 / Chrome 63
- Node Version: 7.7.4

### Steps to reproduce
- I guess

[2018-01-11 09:29] jasonmit commented on #544
Unsure to tell without the translations that are causing this.  Is it possible to share those?

[2018-01-22 16:55] karellm opened #545 "The state of Ember i18n libraries"
I'm currently investing which ember i18n library I will use for a new app. I'm trying to make sense of the key differences and advantages of `ember-intl`, `ember-i18n` and `ember-i18next`. Here are couple ideas/questions:

## 1. What do you feel about the different libraries?

Any opinion about which one works better for what use case?

## 2. Storing locale files within the component folder direct

[2018-01-22 21:56] GELight opened #546 "Night & Day Detection"
Hi,

1. Is there a posibillity to detect whether a time is on **day** (bright) or **night** (dark)?
2. Another thing would be very nice to detect the season of a date and time.

### Environment
ember-cli: 2.17.1
node: 6.11.2

Best regards,
Mario

[2018-01-24 00:52] jasonmit commented on #545
It really comes down to specific use-case, as ember-intl and ember-i18n are quite different.

ember-intl handles date formatting, number formatting, relative time formatting, and message formatting.  Date/Number formatting are natively supported by the Intl API while other parts are not yet officially part of the Intl API spec.

ember-i18n also bundles the translations by default, where ember-intl

[2018-01-24 01:11] jasonmit commented on #546
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat API does not expose anything like this.

You may need to extract out of the CLDR data:
http://unicode.org/repos/cldr/trunk/specs/ldml/tr35-dates.html#Day_Period_Rule_Sets

https://github.com/ember-intl/formatjs-extract-cldr-data is the tool that extracts parts of the CLDR that ember-intl requires for pl

[2018-01-24 01:11] #546 closed

[2018-01-24 01:11] #545 closed

[2018-01-24 01:11] #544 closed

[2018-01-24 01:40] karellm commented on #545
@jasonmit Thanks for taking the time to answer. That's good to hear that side-storage of locale file is being discussed.

For the code parser, it simply parse the file searching for translation keys and automatically populate the library. It also handle removing unused keys. When working on international app, I find incredibly painful to have to maintain the library by hand. That was my attempt at

[2018-01-24 02:23] jasonmit commented on #545
Likewise, that's why I think there is a lot of value in moving the translation as close to the components as possible.

Totally.  I'd love to bake in support to find dead translations.  Feel free to open another issue with that idea and we'll track it.  Unsure if as an addon or baked into the lib, but either way would be something I can look into after I ship component translations.

[2018-01-24 03:34] karellm commented on #545
Sounds good, do you have an ETA for the modules?

[2018-01-24 05:18] jasonmit commented on #540
Closing for now, would still make for a good addon.

[2018-01-24 05:18] #540 closed

[2018-01-24 05:18] #228 closed

[2018-01-24 05:27] jasonmit commented on #545
@karellm planning to start component scoped translations done in Feb.  I need to land some other parts first.  https://github.com/ember-intl/ember-intl/projects/1

[2018-01-29 07:14] Turbo87 opened #547 "Ignore certain "missing message" warnings"
In our app we have several translations that are only used on specific locales, but `ember-intl` is constantly warning about them being missing in the other locales, which makes the signal-to-noise ratio quite bad. It would be great if there was an API that would allow us to filter out these messages before they are being passed to the console.

Maybe something like this:

[code]

[2018-02-12 09:05] Turbo87 opened #553 "Optionally throw hard error for missing translations"
Related to my suggestion in https://github.com/ember-intl/ember-intl/issues/547 it would be nice if the build could be configured to throw a hard error when missing translations are detected.

[2018-02-19 09:14] Turbo87 opened #554 "RSVP.cast is not a function"
It seems that Ember v3.1.0-beta.1 has updated `RSVP` to a version that no longer includes `RSVP.cast()`, but that is still used inside of `ember-intl`, which leads to:

see https://github.com/emberjs/ember.js/issues/16257

[2018-02-19 15:32] Turbo87 commented on #554
whoops, looks like https://github.com/ember-intl/ember-intl/pull/549 already resolved this. Thanks @cibernox!

[2018-02-19 15:32] #554 closed

[2018-03-16 23:10] jamesarosen commented on #109
https://github.com/jamesarosen/ember-i18n/issues/481

[2018-03-24 00:02] karellm commented on #545
@jasonmit The ember.js Times 39 talks about this addon. I was wondering if there were news about the different aspect discussed here. Thanks!

[2018-03-24 01:01] jasonmit commented on #545
@karellm https://github.com/jamesarosen/ember-i18n/issues/481 is the latest discussion

[2018-04-03 19:03] dehuszar opened #556 "Nested translation objects not translating"
### Environment

- Ember Version: 2.18
- Ember CLI Version: 2.18
- Ember Intl Version: 2.33
- Browser(s): Firefox, Chrome
- Node Version: 9.3.0

### Steps to Reproduce
I'm trying to set up ember-intl and am seeing weird behavior where if I have:
[code]
in my en-us.json the translation key (`t('parent.child.selectboxOptions.key1')`) won't resolve, but if I instead describe:
[code]
it (`t('parent.ch

[2018-04-05 19:06] #556 closed

[2018-04-06 18:59] ctcpip opened #557 "`formatToParts` support"
are there any plans to add support for `formatToParts()` ?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat/formatToParts

[2018-04-07 23:52] jasonmit commented on #557
Very interested in supporting `formatToParts`.  Would require a bit of thought as to what the public API would be to expose it.   Happy to have that discussion or hear your thoughts.

[2018-04-08 23:48] jasonmit commented on #553
[code]

[2018-04-09 00:03] jasonmit commented on #553
Reopening, I now realized you want this to be a build-time error.

[2018-04-09 08:02] Turbo87 commented on #553
yeah, exactly. I would like our builds to fail if people submit/merge PRs with missing translations. This would need to be combined with https://github.com/ember-intl/ember-intl/issues/547 though as we would want to ignore a subset of translations that are indeed only relevant for certain locales.

[2018-04-09 08:03] Turbo87 commented on #541
@jasonmit the new testing APIs no longer have this issue as `needs` doesn't exist anymore, so I think we can close this

[2018-04-17 13:27] sly7-7 opened #558 "Merge translations"
I find myself in a case where I want to dynamically override some translations value based on some criteria.
I thought I could do this by asynchronously loading the new translations parts and then call `intl.addTranslations()`, but instead of overriding and merging the incoming parts it redefines the whole translation object.

For example, in the base translation file, I have
[code]
and wanted to

[2018-04-23 16:52] ctusch opened #559 "Is it possible to translate texts without the service?"
I want to use ember-intl in the static part of my component (i.e. in the object literal I pass to reopenClass). I can't use services there since there is no owner in this scope and hence no injections are possible.

Is there a way to translate texts in JS without the service? If not, would it be hard to implement?

Thank you for any help!

[2018-04-23 23:34] jasonmit commented on #559
Can you give an example?  I'm not sure I understand the problem.

[2018-04-23 23:35] jasonmit commented on #558
You're after doing a deep merge between the translations being added and existing translations.  I think we can support this.  Happy to review a PR or will work on it in the coming weeks (lots of my plate at the moment).

[2018-04-25 01:33] jasonmit commented on #559
This is unsupported.  In terms of difficulty, it would be a big change to the internals.  Translations need to happen within the context of an app instance given the nature of ember services.

[2018-04-25 07:15] #559 closed

[2018-04-26 15:25] ctusch commented on #559
Alright, thanks for the answer! I guess I will make the app instance global then.

[2018-05-06 12:07] makepanic opened #562 "Missing keys warning requires baseLocale"
When sideloading translations, there is no warning about missing translations.
Technically it should be possible by just picking any of the `locales` and using its keys as `defaultTranslationKeys` when [finding missing keys](https://github.com/ember-intl/ember-intl/blob/master/lib/broccoli/translation-reducer.js#L163).

This could be implemented as fallback when no `baseLocale` is set.

If this is

[2018-05-06 23:45] jasonmit commented on #562
`baseLocale` has no impact other than being the "source of truth" to compare against.  Unsure I see value in randomizing the `baseLocale` from `locales`.  The comment within ember-intl.js could be updated to be more clear.

`"This property is optional, and if you rely on sideloading translations then this should be null"`  could be updated to `"This property is optional.  If your translations are

[2018-05-07 05:38] makepanic commented on #562
I'm unsure if I misunderstood you,
 but a possible suggestion is to only use a randomized baseLocale for [finding missing translation keys](https://github.com/ember-intl/ember-intl/blob/master/lib/broccoli/translation-reducer.js#L162), as they're not found without a baseLocale being set.

It shouldn't really influence any current behavior except the missing translation logging.

[2018-05-07 23:42] jasonmit commented on #562
What if instead we search for all known keys across all translation files.  Then, compare each locale against that manifest of translation keys and spit out a report.  This could then ultimately remove `baseLocale` all together (which I really want to since it's a source of confusion where folks interpret it as being the default locale).

[code]

[2018-05-09 19:06] #562 closed

[2018-05-10 00:03] jasonmit commented on #558
I'll start on this soon, will be included in the 3.0.0-beta tag (master).

[2018-05-10 00:04] #424 closed

[2018-05-10 00:06] #517 closed

[2018-05-10 00:08] jasonmit commented on #534
Will close for now and will definitely adopt once it's more baked into the ecosystem.

[2018-05-11 22:03] #558 closed

[2018-05-11 22:07] jasonmit commented on #558
@sly7-7 this is now part of 3.0.0-beta.3.  Be mindful of the breaking changes within 3.0.0.

https://github.com/ember-intl/ember-intl/commits/master

I will include a migration document before I release stable.

[2018-05-18 19:08] jrburke opened #573 "intl-polyfill: show a warning for unknown locales"
_Edit: actual enhancement suggestion here: https://github.com/ember-intl/ember-intl/issues/573#issuecomment-390351334_

---

- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: Em

[2018-05-18 21:36] jasonmit commented on #573
As of now, CLDR data cannot be sideloaded so that data is bundled into the dist.  Track #268 for progress on that, it's been asked for once but I simply haven't prioritized it above other work.

The translations however can be side-loaded and should be written to `locales`.  Do you have translations for `no-no` and the other missing locales?

[2018-05-18 22:25] jrburke commented on #573
I'm fine if the CLDR data cannot be sideloaded, it just ends up that the index.html has script tags for the locales above, but not the actual .js files in the output for that CLDR data.

I do have the localized strings for all the locales, and those can be loaded fine, just trying to figure out why the `dist/assets/intl/locales/no-no.js` file does not end up in the output.

What piece of code take

[2018-05-18 22:44] jasonmit commented on #573
Ah, sorry I misunderstood your question originally because I assumed you were referring to the CLDR files but it looks like you're referring to the intljs polyfill locale data.

https://github.com/ember-intl/ember-intl/blob/2273bbe1269e125135ab5da9c3077e9dd1280e7b/lib/broccoli/intl-polyfill.js#L35-L48 are the lines that you're asking for.

Looks like `no-no` should be `nb-no`.  `nb` is the languag

[2018-05-21 17:57] jrburke commented on #573
I am still sorting through a solution, but I think I have something working where I modify the locales I set up in the `config/ember-intl.js` to match one that is in https://github.com/andyearnshaw/Intl.js/tree/master/locale-data/jsonp.

As for what to do for others, I can see generating a warning that mentions the mismatched locale, and a pointer to the list of locales in https://github.com/andye

[2018-05-21 18:08] jrburke opened #574 "Case mismatch between ember-intl and"
- [x] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: Ember 2.18.2
- Ember CLI Version: 2.18.2
- Ember Intl Version: 2.33.2
- Browser(s): n/a, build issue
- Node Version: 8.10.0

##

[2018-05-23 04:09] jasonmit commented on #574
I was able to verify this behavior.  I'll work on a patch.

[2018-05-23 07:14] jasonmit commented on #574
2.33.3 should resolve this.  Thanks!

https://github.com/ember-intl/formatjs-extract-cldr-data/commit/fae0c03da36656c544c1519ab02795cf97227180#diff-fb67e3b2a24fa48312348e960a558605R123

[2018-05-23 07:14] #574 closed

[2018-05-23 19:43] jrburke commented on #574
Confirm that it works, thank you very much!

[2018-05-24 10:01] broglep-koubachi opened #575 "Dependency conflict for cldr-core"
### Steps to Reproduce
[code]
wait and get:
`npm WARN cldr-numbers-full@31.0.1 requires a peer of cldr-core@31.0.1 but none was installed.`

The issue was introduced by `broccoli-cldr-data@1.1.1` which transitively depends on `cldr-core@31.0.1` via `@ember-intl/formatjs-extract-cldr-data@5.0.0` which conflicts with direct dependency `cldr-core@28.0.0` of `ember-intl`

[2018-05-25 07:57] jasonmit commented on #575
Should be fixed on 2.x and 3.0.0-beta.6.  Thanks

[2018-05-25 07:57] #575 closed

[2018-05-25 17:07] NullVoxPopuli commented on #534
I'm using module unification in https://github.com/NullVoxPopuli/emberclear/ and it's working great :-)

I look forward to module unification support in ember-intl.
(I'm currently using ember-i18n with some hacks, as it hard-coded-ly looks in the app directly for translations (MU uses src, not app))

[2018-05-25 20:05] jasonmit commented on #534
@NullVoxPopuli I have very little knowledge of the module unification progress and understanding of the blockers.  Can you lay out the issues here so I can start thinking about how we'll solve this.  This way I can position 3.x to be ready for it.

[2018-05-25 20:29] NullVoxPopuli commented on #534
yeah, I'll give it a go soon. at the very least I can do the same shenanigans I did for ember-i18n.
I read on the ember-i18n repo that the projects will be merged? is there an expected timeline? (relatively, of course, cause open source is usually, "when I have time") :-)

[2018-05-25 20:34] jasonmit commented on #534
Would love if you can carry the torch on this.  I've been aligning the APIs closely for 3.0 (in beta, master).

Unsure about a timeline but the migration is fairly straight forward in converting the ember-i18n translation syntax over to ember-intl.  A tool to handle the translation syntax swap may be the missing piece that speeds up the migration.

[2018-05-28 09:12] jasonmit commented on #533
Related: https://github.com/ember-fastboot/fastboot/pull/180

[2018-05-28 09:18] Turbo87 commented on #533
oh, nice! I'll see if I can get that running here locally :)

[2018-05-28 09:58] Turbo87 commented on #533
[code]

this seems to work quite well, but it has the disadvantage of needing a component 🤔

[2018-05-28 10:08] Turbo87 commented on #533
I managed to make it work with the `intl` service directly, but I had to slightly modify the `getDOM()` function:

[code]

[code]

This code works fine for me on Ember 3.1, but I have not tested it on any other Ember versions. In our case it goes through the `documentService` code path.

[2018-05-29 04:15] jasonmit commented on #533
What are your thoughts on the language updating logic being contained within a Component?

Also, I am open to accepting extra features that may not work in older versions of Ember - just so long as it doesn't break older versions of Ember.

I think it may catch people by surprise that the Service is updating the document directly.  The downside is the user would need to be cognizant of dropping a

[2018-05-29 07:14] Turbo87 commented on #533
it would certainly have the advantage of being more explicit, but we're using Ember where everything should work right out of the box 😉

I'm not sure about this, but I think I prefer to do it right in the service if possible and possibly in the future provide an option to turn that behavior off if people complain about it. The only thing that is a little worrying is that the implementation uses pr

[2018-05-29 08:16] jasonmit commented on #533
Fair.

👍 agreed

[2018-05-29 08:18] Turbo87 commented on #533
@rwjblue @ef4 any thoughts on ☝️?

[2018-05-29 13:08] ef4 commented on #533
Most of the time I favor doing anything with DOM in components, even if that means an addon needs to tell people to put a singleton component in their templates. Trying to manipulate DOM from a service or route tends to make things fragile, especially in tests.

This particular case is simple enough that if you do it carefully it’s probably ok.

Bigger picture, there’s not really a strong reason w

[2018-05-29 14:00] vvvprabhakar opened #577 "Integrating the ember-intl addon with ember-validation addon"
- [ ] I am on the [latest](https://github.com/jasonmit/ember-intl/releases/latest) ember-intl version
- [ ] I have searched the [issues](https://github.com/jasonmit/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version:
- Ember CLI Version:
- Ember Intl Version:
- Browser(s):
- Node Version:

### Steps to Reproduce
Test model
/model/test.js
impo

[2018-05-29 22:41] jasonmit commented on #577
Have you looked at https://github.com/ember-intl/cp-validations

[2018-05-29 22:43] jasonmit commented on #577
Feel free to open an issue over there if you're running into issues.

[2018-05-29 22:43] #577 closed

[2018-05-30 02:03] NullVoxPopuli commented on #534
@jasonmit @tchak I'm struggling with some things at the moment.

I have an app set up here if one of you could take a look: https://github.com/NullVoxPopuli/emberclear/tree/2f69b1a12e1b5059a71c8e8c635c7fe66fb54d27

I commented here https://github.com/ember-intl/ember-intl/pull/535#issuecomment-392967662 on some details of a change I had to make to the ember-intl package. But, I haven't been able t

[2018-05-30 19:26] alexlafroscia commented on #401
@miguelcobain I believe it's on-hold until the new module layout lands, and will be written to work with that to make resolution easier.

[2018-05-31 13:32] vvvprabhakar commented on #577
Thank you so much

[2018-06-04 08:31] buschtoens opened #579 "Passthrough options hash to missing-message"
It would be great, if the [`missing-message`](https://github.com/ember-intl/ember-intl/blob/2273bbe1269e125135ab5da9c3077e9dd1280e7b/docs/missing-translations.md) util could also get access to the options hash. This would allow a setup like this:

[code]

[code]

This is not a dupe of https://github.com/ember-intl/ember-intl/issues/553, which is about conditionally throwing hard errors at build ti

[2018-06-04 08:36] buschtoens commented on #579
https://github.com/ember-intl/ember-intl/blob/96a63c31f5d1f05970c4957c496a9f708225150e/addon/services/intl.js#L102-L113

Implementation is straightforward.

[code]

But we then need to revise the last paragraph [in the docs here](https://github.com/ember-intl/ember-intl/blob/2273bbe1269e125135ab5da9c3077e9dd1280e7b/docs/missing-translations.md#L4):

[2018-06-04 08:37] buschtoens commented on #579
Do we want this feature? If so, do we also want to have the `allowMissing` logic to be included in the default `missing-message` util?

[2018-06-04 19:38] gossi commented on #534
Well, it's not just to support ember-intl with apps. But also the test-matrix that MU itself uses:

- MU app with classic addon
- MU app with MU addon
- Classic app with classic addon
- Classic app with MU addon

this is where things will get tricky 😦

[2018-06-04 20:09] jasonmit commented on #579
Seems like a reasonable ask.

In the markdown explaining overriding the [missing-message](https://github.com/ember-intl/ember-intl/blob/master/docs/missing-translations.md#missing-translations) behavior, you can use your implementation as an example.

[2018-06-04 20:24] NullVoxPopuli commented on #534
@gossi for addon devs, is it known when classic apps will have support dropped? (like, till Ember 4 or something) or are both classic and MU going to be supported forever?

[2018-06-04 21:36] gossi commented on #534
as far as I read they are supported side-by-side for a period of time until classic apps/addons are abandoned.

[2018-06-05 07:12] buschtoens commented on #579
Yes, of course. I know. :)

I was asking, since IMO this seems like an addition, that might be usable to other users. By adding the `allowMissing` logic in the default handler we would create a semi-standardized way.

But yeah, I don't mind either way :D

[2018-06-06 05:11] jasonmit commented on #579
So long as you normalize `resilient` and `allowMissing` into a single naming convention within the `lookup` method, I'd be happy to accept your proposal.  My initial concern was it nearly has the same meaning as the `resilient` flow but I think with a quick refactor my concern goes away.

Thanks again for taking this up.

[2018-06-06 11:45] buschtoens commented on #579
The problem is, that `resilient` and `allowMissing` have slightly different semantics.

Letting `missingMessage` handle the `resilient` logic instead of having `lookup` do it

https://github.com/ember-intl/ember-intl/blob/96a63c31f5d1f05970c4957c496a9f708225150e/addon/services/intl.js#L102-L113

would mean that users could accidentally break the `defaults` logic of `t`,

https://github.com/ember-i

[2018-06-06 12:00] buschtoens commented on #579
We can solve this by passing all options, including `resilient` and the current `defaults`, through to `allowMissing` and have the default implementation return `undefined`, if `defaults.length > 0` irregardless of `resilient`.

So basically something like this:

[code]

[code]

[2018-06-06 23:04] walter commented on #579
I saw this in my notifications and thought it had promise for my desired "fall through to default locale translation" feature by writing custom `message-missing` that recalls `lookup`, but for default locale.

Would the inclusion of passing `options` to `message-missing` handle this case? Is there an alternative approach for my desired behavior?

[2018-06-06 23:12] jasonmit commented on #579
@buschtoens let me think about this and get back to you later on today.

@walter should be possible already though I'm sure which of the two scenarios you're after.

If you mean you want to fallback the actual locale the API:

[code]

[code]

If you mean you want to fallback a specific lookup to a fallback:

[code]

There is no "global" default behavior supported currently, though I suspect you co

[2018-06-06 23:27] walter commented on #579
@jasonmit thanks for clearing this up. Sorry about my ambiguity.

The `setLocale` to array in order of precedence is what I'm after. Didn't realize that's the way it worked. Great to see!

I see it documented in the "Service API" doc under `locale` section. Sorry I missed it before.

Thanks for your work on `ember-intl`.

[2018-06-06 23:33] jasonmit commented on #579
@buschtoens the `assert` in missing-message was that intentional or a mistake?  Changing missing-message to throw vs emit a missing message label might not be what we want.  Missing translations would result in apps breaking.

[2018-06-07 07:27] buschtoens commented on #579
Copied straight from the docs. Since this is an assertion, it will only throw in dev mode. I like catching these mistakes early, but I understand very well that not everybody is.

Maybe we rather want something like that? I think together with the altered implementation of `lookup` and `t` this would keep the same semantics as before, while giving the user full control over how to handle / report

[2018-06-07 18:22] jasonmit commented on #579
I added that to the docs since some may want the actual throwing behavior.  One thing that stands out is in tests it will likely result in tests now failing in the case of translation(s) & locale not setup.

💯 agree.  Sounds like you have a good handle on this and I like your approach.

Feel free to ping me if you need help with any of this.

Thanks again!

[2018-06-12 11:40] chadian commented on #427
@jrock2004 I received the same error which was fixed by adding:
[code]
If you have more than one language `en`, `fr`, `de`, etc... include it as well in your `needs` list.

[2018-06-14 19:30] k-dauda opened #581 "Nested translation objects with dot notation not translating"
Example

    {
      "login.page": {
        "authenticate.text": "Authenticate",
        "forgot-password.text": "Forgot Password"
      }
    }

[2018-06-14 21:42] jasonmit commented on #581
You cannot mix and match objects with keys that contain dot notation.

We have no way of deciphering does this dot in the key mean go into an object vs is it just part of the string literal.  It's either you have objects or you flatten your translations.

Maybe there is an area to improve here, but that is currently the behavior.

[2018-06-14 22:45] k-dauda commented on #581
@jasonmit It seems like having a hook to run a transform on the translations would work better than doing that with every lookup. Flattening the translations json similar to how ember-i18n does it works pretty well: https://github.com/jamesarosen/ember-i18n/blob/b83c1bf3556ea888faf7bc42b9d6619ad359a5cb/addon/utils/locale.js#L167

[2018-06-14 23:11] jasonmit commented on #581
Feel free to open a proposal to discuss.  I'm not against, just the work needs to be done and thought through.

[2018-06-16 09:44] #581 closed

[2018-06-16 09:44] jasonmit commented on #581
This will be included in the next beta release.

[2018-06-17 00:39] NullVoxPopuli opened #583 "Multi line strings in translations file?"
### Environment

- Ember Version: 9ba382d0e2cd2a2356deecbf61db303a16b53a44 (2018-06-12)
- Ember CLI Version: 7bc63039a1f89e03d9c1246cc5d3e8245290f302 (2018-05-29)
- Ember Intl Version: 3.0.0-beta.8
- Browser(s): Chrome
- Node Version: 8.11.1

### Steps to Reproduce

have a long translation entry that is broken up on multiple lines.

example:
[code]

previously with ember-i18n, I could use a js fil

[2018-06-17 08:12] jasonmit commented on #583
YAML supports multiline and is supported in ember-intl.

https://yaml-multiline.info/

[2018-06-17 08:12] #583 closed

[2018-06-17 10:20] NullVoxPopuli commented on #583
But isn't it harder to catch synax errors in yaml?

[2018-06-17 23:00] jasonmit commented on #583
Syntax errors within ICU syntax or yaml syntax errors?

In either case, I'm not against also supporting commonjs js modules if you want to carry the torch forward on it.  It's not something that has been proposed yet.

[2018-06-22 08:16] makepanic commented on #553
A couple weeks ago I tried to implement this as a failing test but that was awkward as it had to be in the lintTree hook.

Is it ok if I implement this again on current master with throwing an error?

[2018-06-22 09:21] jasonmit commented on #553
@makepanic yes please

[2018-06-25 07:52] Turbo87 opened #584 "Add `fallbackLocale`"
Apparently the `baseLocale` option was removed for `ember-intl@3`, but this seemed like a quite useful option, which prevented users from seeing "missing translation" and instead at least showing e.g. the english version of the thing.

I agree that `baseLocale` as a way to determine whether translations are missing was not ideal and it's good that that part got refactored, but I think having such

[2018-06-25 08:10] jasonmit commented on #584
Assuming you're willing to load your English translations for everyone, `intl.setLocale(['fr-fr', 'en-us'])` would earn you similar behavior w/o the build time merge that used to happen.

[2018-06-25 17:59] kkincade opened #585 ""ember build" Fails in Nested Addon Situation"
I have a custom addon (i.e. `@adc/i18n`) which lists _ember-intl@^3.0.0_ as a dependency. Running the dummy application for `@adc/i18n` works without issue. However, when I try to include `@adc/i18n` within another custom addon of mine as a dependency (i.e. `@adc/list-row`), I receive the following build error:

It seems like the line it's failing on is `if (!this.opts.publicOnly)` in the _treeFor

[2018-06-25 18:09] jasonmit commented on #585
Ah, I believe I know what is happening here.  Thanks for the thorough explanation, I'll try and have a fix today or tomorrow.

[2018-06-25 18:18] jasonmit commented on #584
`fallbackLocale` will naturally lead to the confusion.

* When to use this approach vs `setLocale([]);`
* communicating that it's only a build-time thing so async translations will not work as some might expect
* by defining a fallback do I need to not set a default locale

Those familiar with ember-intl may immediately be able to answer these but it adds friction for newcomers trying to get start

[2018-06-25 18:23] Turbo87 commented on #584
I have never found a use for `setLocale([]);` before...

I don't understand this. We are using async translation loading with the current `baseLocale` feature and it works very well.

that is a documentation issue that can easily be resolved

[2018-06-25 18:48] kkincade commented on #585
Thanks for the quick response! I'm uploading a screenshot of some of the important variables at that point in time, in case it might help. Seems like the `ember-intl/app` folder might be the tree causing the issue.

![ember-intl-treeforapp](https://user-images.githubusercontent.com/2199847/41869357-0299e2a8-7876-11e8-822c-4cf8fad0ac16.png)

[2018-06-25 19:05] jasonmit commented on #584
External translation service.  Story becomes muddled as to what even is a fallback locale in the context of those loading their translations from an external API.

Yes and we can solve this issue with documentation once there is a story for extending the translation bundling process.  I see this as being a plugin to that without complicating the core API.

[2018-06-26 00:36] kkincade commented on #585
That is correct. I'm not sure which addon/apps config options it's saying are undefined.

Kameron Kincade | Senior Software Engineer kameron.kincade@icloud.com
On Mon, Jun 25, 2018 at 16:23, Jason Mitchell <notifications@github.com> wrote:
I'm having trouble replicating. So I'm understanding correctly, you have two addons list-row and i18n. list-row has a dependency on i18n. You experience this er

[2018-06-26 03:01] jasonmit commented on #585
@kkincade I've tried to setup an a set of addons with the same configuration and I'm unable to reproduce.  Any chance you can push an example to github?

[2018-06-26 03:04] jasonmit commented on #585
@kkincade can you verify that within your addon's you're calling super in the `included` hook of `index.js`?  That's the only thing I can think of that reproduces the stacktrace.

If you're reimplemented `included` you need to invoke

[code]

[2018-06-26 03:17] jasonmit commented on #584
@Turbo87 I spent a little time digging into this tonight.  What are your thoughts on ember-intl invoking pre/postprocessTree hooks in ember-cli with the translation tree.  These two hooks should be all you need to implement.

[code]

[2018-06-26 08:59] Turbo87 commented on #584
idk, I'm a little worried about extending an existing hook with different meaning. I'd probably use dedicated hooks just for `ember-intl`.

[2018-06-26 14:55] kkincade commented on #585
Oh my goodness. I had...

[code]

...and was missing the `included` method. Thanks so much for pointing me in the right direction. Sorry for the inconvenience.

[2018-06-26 14:55] #585 closed

[2018-06-26 20:31] doublex opened #589 "Abbreviated numbers (enhancement)"
CLDR supports in "numbers" -&gt; "decimalFormats" -&gt; "decimalFormat" abbreviated numbers, .e.g.:
3150 -> "3k"
700000000 -> "700M"
Would be a great enhancement.

[2018-06-26 21:30] jasonmit commented on #589
Dupe of https://github.com/ember-intl/ember-intl/issues/66

[2018-06-26 21:30] #589 closed

[2018-06-29 03:53] #579 closed

[2018-07-04 00:27] kkincade opened #591 "Converting Translations File Names to Lower Case"
The _ember-intl/index.js_ file (line 196) is converting translation file names lower case. So if I name my translation file _en-US.json_, it is output as _en-us.json_. You are likely doing this to ensure unique file names, but I'm wondering if the outcome is intentional or overlooked.

To me, it seems safer to keep the original casing. I ran into a Broccoli Merge error when I had _<app>public/tran

[2018-07-04 02:15] jasonmit commented on #591
It's intentionally normalizing the locale names.

Can you explain this part further, I'm unsure I understand what's going on.

[2018-07-05 08:54] #547 closed

[2018-07-05 13:14] makepanic commented on #553
I think this is also fixed with https://github.com/ember-intl/ember-intl/pull/588

[2018-07-05 13:52] #553 closed

[2018-07-05 22:57] kkincade commented on #591
Previously we were placing our translations in _<app>/public/translations_ instead of using the **publicOnly: true** method. After switching to the **publicOnly: true** method, I had forgotten to remove the old translation files from the _public_ folder. Broccoli was attempting to merge _<app>/public/translations/en-US.json_ with the _en-us.json_ output from the TranslationReducer. It saw there wa

[2018-07-08 01:08] jasonmit commented on #591
Ah, likely a case of the addon's public tree output was failing overwriting the app's public tree (your original files written to assets).  I think ember-intl did the right thing in failing, which led to you discovering the file conflict.

Do you feel there is a bug here and if so how would you propose it be addressed?

[2018-07-09 20:26] #591 closed, assigned to nobody

[2018-07-10 09:09] makepanic opened #592 "default ember-intl blueprint throws an error"
With the current ember-intl@3.1.0 there's a bug where `requiresTranslation` is not a function.
This causes the build to fail unitl a user provides a `requiresTranslation` function.

The issue is probably caused by [`Object.assign(defaults, provided)`](https://github.com/ember-intl/ember-intl/blob/master/index.js#L167) overwriting the default `requiresTranslation`.

One possible solution would be t

[2018-07-10 09:29] buschtoens commented on #592
btw, in case you don't know, you can use [`yarn link`](https://yarnpkg.com/lang/en/docs/cli/link/) to install your local version of the package in a test Ember app and then run the blueprint via `ember g ember-intl`.

[2018-07-10 13:22] #592 closed

[2018-07-11 07:39] jasonmit commented on #537
A re-export or adding ember-intl as a dependency resolves this issue.

http://ember-engines.com/guide/sharing-components-and-more

Verified so closing, feel free to open another issue if you see anything else.

[2018-07-11 07:39] #537 closed

[2018-07-30 13:30] riklaunim commented on #584
Another problem that a test now wants to use "en-us" which does not exist and "en" translation isn't considered for usage.

[2018-07-30 16:02] kkincade opened #594 "[ember-intl] '.ds-store' is not a valid locale name"
I've been using ember-intl in my main application and a number of addons. During the build process, I've noticed the following warning.

    [ember-intl] '.ds-store' is not a valid locale name

I believe it is taking the *.DS_Store* file produced by Macs and trying to think of it as a translation file. I only noticed this issue once adding translations to addons that are consumed by my application

[2018-07-31 07:06] makepanic commented on #594
It's probably caused by macOS creating a "hidden" .DS_Store in the translations dir.

A possible solution would be to filter translation files that are "hidden" files (= `name.startsWith('.')`).

[2018-07-31 19:58] jasonmit commented on #594
I'll have a look at this soon.  Ideally, we filter just the .json, .yml, .yaml files out of the translations dir.

[2018-08-01 13:23] makepanic opened #595 "Support for translations in resource bundle files (.properties)"
Hi,
would you be open to add support for providing ember-intl translations via a [resource bundle files](https://www.jetbrains.com/help/idea/resource-bundle.html#editing)?

If ember-intl does this, editors like intellij provide an improved editor for translating keys:

![https://www.jetbrains.com/help/img/idea/2018.2/bundleEditor.png](https://www.jetbrains.com/help/img/idea/2018.2/bundleEditor.png

[2018-08-01 22:45] #594 closed

[2018-08-03 00:57] jasonmit commented on #595
I truthfully don't know a whole lot about this.

@Turbo87 I believe you use IntelliJ, can you make a call here :)

[2018-08-03 05:25] Turbo87 commented on #595
I'll look into it when I'm back from vacation :)

[2018-08-03 07:48] buschtoens commented on #595
Would it make sense to take a step further back and provide an API to build custom translation assemblers, also taking #401 into account maybe?

[2018-08-03 18:27] jasonmit commented on #595
@buschtoens definitely.

Some of that work landed with `treeForTranslations` hook.  As long as you transform the resource bundles into yaml/json files within the hook things should *just work*.

[2018-08-15 03:31] jasonmit commented on #428
Closing as this is unlikely to be supported anytime soon.  Considerable amount of work would go into converting the t-helper to a component and that would introduces limitations (i.e., passing the result of the helper around expecting it to be a `string`/`String.safeString`).

[2018-08-15 03:31] #428 closed

[2018-08-15 03:34] jasonmit commented on #584
@riklaunim for tests you can set the locale of the service before your tests run.  Today, it defaults to `en-us` when unset.  Let me know if I'm misunderstanding your comment.

[2018-08-15 03:38] jasonmit commented on #401
I'm going to take this up soon, first pass will enable putting translations anywhere within your app directory (and likely addon dir).  Scoping will come next since I want to think about that more.

[2018-08-15 09:29] riklaunim commented on #584
Yes, that's what I did. But it's kind of odd I can't set a default language yet en-us is the default.

Plus even when I haven en language it's not used for en-us.

[2018-08-15 17:57] jasonmit commented on #584
https://github.com/ember-intl/ember-intl/blob/master/docs/integration-testing.md#setupintlhooks-locale makes this less painful.

Negotiating the locale based on the data loaded into the service is something that would be an interesting feature.  Not something currently supported but not something I'm against adding.

[2018-08-16 12:16] szneba opened #598 "Call missingMessage when translation key is empty"
Please consider the scenario where we have 2 translation files:

[code]

[code]

In this case while using German translations within the application, when we encounter `sample_translation.translation_2` an error ‚A message must be provided as a String or AST.’  will be thrown and app will break.

If we could run `missingMessage` not only when translation is `undefined`, but also when it is `null`

[2018-08-16 18:35] buschtoens commented on #598
Out of curiosity, why do you not just remove the empty `translation_2` key?

[2018-08-17 07:04] szneba commented on #598
Actually this is the way my translations parser works. It returns all the keys for all the languages.
I don't know if anyone except me has a similar problem, that is why I added „Does it make any sense" part ;)

[2018-08-17 07:15] buschtoens commented on #598
Hm, I see. 🙂

Maybe it would make more sense to strip these `null` keys during build time, since they unnecessarily inflate the size of the translations bundle?

If your translations tool does not support that, I'm sure we can accommodate for that. We wanted to beef up our build pipeline anyway. 💪

Would this be an alright solution for you?

[2018-08-17 07:56] szneba commented on #598
This would be awesome! Thank you! 😃

[2018-08-17 17:45] NullVoxPopuli opened #599 "Cannot build, due to test-support trying to be bundled with my app?"
- [ x ] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [ x ] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 49e58e45604bd63ac1001cb491195c032c050053
- Ember CLI Version: 0f9d15d011fd9adb4c2a8db52e44bf5d74679631
- Ember Intl Ver

[2018-08-17 20:14] jasonmit commented on #599
Unclear to me why you're hitting this.  I'm also using 3.1.1 in prod and haven't encountered this.  May be an issue with another one of your dependencies (treeShaking perhaps?).  I'll need to spend time looking into what the cause is but it's likely outside of ember-intl's control here.

@buschtoens any ideas?

[2018-08-17 20:27] NullVoxPopuli commented on #599
but also, @ef4 said it was an issue with ember-auto-import https://github.com/ef4/ember-auto-import/issues/105

which has a known issues with canary.

[2018-08-17 20:32] jasonmit commented on #599
Okay I'll treat this as a dependency bug and will keep an eye out for the solve.

Given what we are leveraging auto import for(lodash util methods), we can consider removing it temporarily.

[2018-08-18 04:17] ef4 commented on #599
@NullVoxPopuli yes, https://github.com/ef4/ember-auto-import/issues/105 was breaking your situation. But there is no other known issue with canary -- the one you reported a long time ago was resolved.

[2018-08-22 00:05] scudmissile commented on #599
I don't think this is an issue with ember-cli canary, as I'm encountering it while using ember-source@3.1.4, ember-cli@3.1.4, and ember-intl@3.1.1. I was able to work around it by downgrading from version 1.2.11 to 1.2.10 of ember-auto-import.

I also commented on https://github.com/ef4/ember-auto-import/issues/110 since I saw that other people had filed an issue that matched mine there.

[2018-08-23 06:53] makepanic opened #601 "Warn user on ICU arguments mismatch"
I think ember-intl could theoretically check if a translation string has the same ICU argument in all translations, similar on how we already do it for the existence of translation keys in all languages.

e.g.
[code]

Would warn (or throw if `throwMissingTranslations` is enabled) that `foo` has different ICU argument names during build time, to avoid runtime errors when rendering the mismatching t

[2018-08-23 16:47] jasonmit commented on #601
Definitely is possible and honestly I don't think it would be difficult to implement.

If anyone wants to take this on, https://github.com/yahoo/intl-messageformat-parser is basically what you'll need to parse and compare the `argumentElement`'s between translations.

[2018-08-27 02:06] ef4 commented on #599
At this point, I don't have any known ember-auto-import bugs that would be relevant to ember-intl, so if you are still having trouble please file a new issue.

[2018-08-27 04:04] jasonmit commented on #599
Fix upstream in ember-auto-import resolves the original issue, feel free to reopen if you're still having issues after upgrading.  Thanks @ef4!

[2018-08-27 04:04] #599 closed

[2018-08-29 08:07] #373 closed

[2018-08-30 06:11] anehx opened #604 "Tests fail with Ember v2.12"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.12.2
- Ember CLI Version: 3.3.0
- Ember Intl Version: 3.2.1
- Browser(s): Chrome 68
- Node Version: 6.14.4

### Steps to

[2018-08-30 09:03] jasonmit commented on #604
Resolved in 3.2.4.  Thanks for reporting!

[2018-08-30 09:03] #604 closed

[2018-09-04 21:34] snewcomer commented on #601
This seems like an interesting problem to solve.  I'd be happy to tackle when I get some free time.

[2018-09-04 21:42] snewcomer opened #606 "Short Number Locale Formatting"
Hi!  I'm looking to format numbers based on their compact form and was wondering how we could incorporate something like this.  Would your preference be that this data/formatting be in a separate addon?

e.g. 123,000 in short form would be: en - `123K` ja - `12万`

https://github.com/unicode-cldr/cldr-numbers-modern/blob/master/main/ja/numbers.json
http://cldr.unicode.org/translation/number-pattern

[2018-09-06 02:50] jasonmit commented on #606
Can this be merged with https://github.com/ember-intl/ember-intl/issues/66?

[2018-09-06 15:46] snewcomer commented on #66
Yep same here!  I'm looking to format numbers based on their compact form.

e.g. 123,000 in short form would be: en - `123K` ja - `12万`

https://github.com/unicode-cldr/cldr-numbers-modern/blob/master/main/ja/numbers.json
http://cldr.unicode.org/translation/number-patterns#TOC-Short-Numbers

I'm going to dig around over the next week or so.

[2018-09-06 17:59] snewcomer commented on #66
@jasonmit So a couple of thoughts to start

1. Question here -> https://github.com/yahoo/formatjs-extract-cldr-data/issues/17
3.  Also, I'm not seeing `cldr-numbers-full` extracted in [formatjs-extract-cldr-data](https://github.com/yahoo/formatjs-extract-cldr-data/search?q=cldr-numbers-full&unscoped_q=cldr-numbers-full).  I think this may be step # 1 if you agree.  e.g. the commit to add cldr-numb

[2018-09-07 05:42] jasonmit commented on #66
@snewcomer I know the primary author has moved on so I think the best course, to not impede progress, we leverage the [fork](https://github.com/ember-intl/formatjs-extract-cldr-data) and upstream changes.

I'll do some digging on my end to see who has access to merge any changes we need in.

Updating the CLDR is a definite.  If the data you need is within modern then we should figure out a way to

[2018-09-07 05:44] jasonmit commented on #66
@snewcomer

Given how ember-intl bundles, it makes sense to continue to target the full locale data set.

[2018-09-11 19:26] snewcomer commented on #66
@jasonmit So step 1 is for me to make a PR to the fork to extract the full numbers data set.  I'll try to get up a PR by the end of the week.

[2018-09-12 22:11] snewcomer commented on #66
@jasonmit Making some headway in extracting numbers-full.  A few discussion points -

1.  `options` can specify `relativeFields` [here](https://github.com/ember-intl/formatjs-extract-cldr-data#relativefields).  I'm assuming we want a `relativeNumbers` option that goes like this.  What do you think?

2.  I'm assuming the data we want to extract is [here](https://github.com/unicode-cldr/cldr-numbers

[2018-09-12 23:47] jasonmit commented on #66
Agreed and it would be configurable and maybe default to false for now until the next major version bump.

Looks right to me!

Yeah we'll need to sort that out.  Unsure what the public API would be for this.  I'm hesitant of having this be an extension of `formatNumber()` `{{format-number}}` as we'll then need to essentially polyfill Intl.NumberFormat to get the full supported options of the Numbe

[2018-09-13 07:15] estshy opened #607 "Loading async translations with JSONP instead of XHR"
I have a website running on multiple domains with several languages, which are loaded asynchronously depending on context. I am working on improving application boot time and I can see that loading of translations through XHR is currently a bottleneck as such request is blocking everything else (deferReadiness used). I was wondering whether it would not be possible to go with JSONP instead. It wou

[2018-09-13 07:54] buschtoens commented on #607
ember-intl doesn't come with XHR built in. It is entirely agnostic to how you load translations, if you don't bundle them in.

The docs on [asynchronously loading translations](https://github.com/ember-intl/ember-intl/blob/2.x/docs/asynchronously-loading-translations.md) demonstrate that:

[code]

[`fetch`](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) is native browser API. Instead

[2018-09-13 10:06] estshy commented on #607
@buschtoens Unfortunately the approach with link preload as fetch doesn't work at the moment. I am not sure whether preload as fetch is already widely supported.

![image](https://user-images.githubusercontent.com/5459938/45482059-5880c900-b74d-11e8-9a06-22ed17c19191.png)

[code]

[code]

[2018-09-13 11:34] buschtoens commented on #607
Try setting the correct `Accept` / `Content-Type` request header.

Should be correctly supported in Chrome. 🤔
But it's currently disabled in Firefox. IE and other browsers don't have it at all.

Anyhow, since this is not widely supported _yet_, you might wanna go a different route any how.

You can in _instance_ initializers.

That's true. I just wanted to show different techniques, how you can re

[2018-09-13 12:17] estshy commented on #607
In instance initializers I can not defer application readiness, which means the application would start in the same time translations were fetched and user would see a flash of untranslated content.

[2018-09-14 04:15] jasonmit commented on #607
Can this work take place within your application route's lifecycle hooks (beforeModel, model, afterModel) instead?

[2018-09-14 06:35] estshy commented on #607
It can not as I have internationalised routing which needs to be setup in instance initializer. I can not add new routes at application runtime. ;)

[2018-09-14 08:54] estshy commented on #607
Yes, that's exactly what I meant. I am using intl translations for creating different paths on websites. For instance, on polish domain I have contact form access by /kontakt and on english domain I have contact page exposed on /contact.

`<script>self.translationDeferred = fetch('...');</script>`

When it comes to this solution then I agree it will work around the issue, though I have a few more

[2018-09-14 10:07] jlami opened #609 "Changing a .yaml file does not rebuild"
### Environment

- Ember Version: 3.3.2
- Ember CLI Version: 3.3.0 and 3.4.2
- Ember Intl Version: 3.2.4
- Browser(s): N/A
- Node Version: 8.9.4

### Steps to Reproduce
Change anything in a .yaml translation file. See no rebuild and page refresh.

Change any template or js file after that and see the changes to translation finally being applied.

-- edit

I think this is due to how `Addon.treeGene

[2018-09-14 18:57] jasonmit commented on #607
I thought the intent of this was to start loading the translations before/while your app code is fetched.  At what point do you have enough knowledge to fetch the translations?  That's the part where you would go and fetch the requests.

It's an example, feel free to use whatever you want to fetch the data (XHR?).

[2018-09-14 22:11] jasonmit commented on #609
@jlami can you explain the environment a bit more?  Is this an addon with translations?

[2018-09-14 22:30] jlami commented on #609
@jasonmit This is an application, so not an addon.

[2018-09-14 22:59] jasonmit commented on #609
I'm unable to reproduce this, can you push a reproduction of the issue somewhere?

[2018-09-15 03:30] jasonmit commented on #609
This might be specific to Windows since I haven't been able to reproduce.  Haven't been able to reproduce in Linux or OSX.  Will continue to think about the problem.

[2018-09-15 12:37] jlami commented on #609
Good to know. I have been able to trace this to the treeGenerator function of ember-cli, which picks the UnwachtedDir path for me. Does https://github.com/ember-cli/ember-cli/blob/master/lib/models/addon.js#L501 have `this.project._watchmanInfo.canNestRoots` as true on Linux?

[2018-09-15 15:53] jlami commented on #609
If you want to see if I'm doing something weird, here is my resulting test app: https://github.com/jlami/test-ember-intl

[2018-09-15 21:01] jasonmit commented on #609
@jlami that makes sense.  If you don't have watchman installed on Windows it will not take the path of the WatchedDir.

I'll refactor this a bit to work for non-watchman users.  The ember app project translation dir should always use WatchedDir, addon's translation trees will take another path of conditionally using WatchedDir or UnwatchedDir.

Thanks for reporting!

[2018-09-15 23:58] #609 closed

[2018-09-16 00:03] jasonmit commented on #609
3.2.5 should resolve this

[2018-09-16 11:04] jlami commented on #609
👍 3.2.5 does solve this!

[2018-09-24 15:18] buschtoens opened #613 "Make `translationMacro` work without `intl` service injection"
Right now the [Computed Property macro](https://github.com/ember-intl/ember-intl/blob/e664d0eb8fbe9dc47c44e9d1df38eb2defa81416/docs/translating-text.md#computed-property-macro) relies on the `intl` service to be injected on the host object.

https://github.com/ember-intl/ember-intl/blob/e664d0eb8fbe9dc47c44e9d1df38eb2defa81416/docs/translating-text.md#L36-L67

We _could_ work around this by lookin

[2018-09-24 20:46] jasonmit commented on #66
@snewcomer sounds good to me

[2018-09-25 01:02] jasonmit commented on #613
Seems like a reasonable ask, so +1 from me :)

[2018-09-25 10:43] snewcomer commented on #66
@jasonmit Ok after a lot of debugging, you were right.  Need to update the parser and compiler and the format type will be `shortNumber`.  I'm thinking the compiler `format` function will be our own function (nothing to do with `Intl.NumberFormat`) where we normalize the number into a short number.  What do you think?

Should we fork both pkgs and I can PR against those?

[2018-09-27 09:06] #613 closed

[2018-09-27 09:07] #607 closed

[2018-09-27 09:15] jasonmit commented on #66
@snewcomer yes, a fork is needed and fine in this case.

https://github.com/yahoo/intl-messageformat/issues/121 would help if the API supported registering external formatters

[2018-09-28 17:54] artinboghosian opened #615 "Provide ability to know when a translation is missing for specific locale"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.1.4
- Ember CLI Version: 3.1.4
- Ember Intl Version: 3.2.0
- Browser(s):
- Node Version: 8.11.3

### Steps to Reproduce

[2018-10-02 02:58] jasonmit commented on #615
Should be a relatively easy change to make without breaking public APIs.

Missing message is responsible for returning the placeholder text, i.e., translation not found along with emitting a console warning.  Struggling to see how we can invoke this on every missing locale.  Seems sensible to stop once all the locales are iterated through.

Might solve my concern in the paragraph above but would b

[2018-10-02 04:38] artinboghosian commented on #615
@jasonmit thanks for quick feedback. Thanks for clearing up the purpose of missing-message, I missed that it was intended for rendering. So now that makes complete sense as to why it is called after iterating all locales and not finding a translation.  An event would work fine for this, something like `onTranslationMissing(locale, key, options)`.

Also, it's possible that since the adapter will on

[2018-10-05 15:04] artinboghosian commented on #615
@jasonmit I can take this on if you are busy, just let me know. Thanks again.

[2018-10-05 20:06] patrickberkeley opened #616 "Translations containing backslashes"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.1.0
- Ember CLI Version: 3.1.0
- Ember Intl Version: 3.2.6
- Browser(s): Chrome latest
- Node Version: 8.9.4

### Steps t

[2018-10-05 20:59] jasonmit commented on #615
@artinboghosian I would love that, thank you!  Feel free to ping me if you need anything :)

[2018-10-06 05:17] jasonmit commented on #616
Upstream issue in [yahoo/intl-messageformat-parser](https://github.com/yahoo/intl-messageformat-parser/).

Also related: https://github.com/yahoo/intl-messageformat/issues/109 https://github.com/yahoo/react-intl/issues/1182

I'll keep this issue open for tracking.

[2018-10-08 12:07] patrickberkeley commented on #616
Thanks for the info, @jasonmit. Would you like me to close the issue here? Or how would you like to proceed?

[2018-10-08 16:58] jasonmit commented on #616
We should keep this open for tracking and investigate removing backslash as escalpe character in favor of the quote escaping that the spec mentions.

[2018-10-09 02:04] jasonmit commented on #66
@snewcomer FYI, master is now using the forks of intl-messageformat and intl-messageformat-parser scoped under the ember-intl org.

[2018-10-10 01:27] patrickberkeley opened #620 "Ability to use non-string translation values"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.1.0
- Ember CLI Version: 3.1.0
- Ember Intl Version: 3.2.6
- Browser(s): Chrome latest
- Node Version: 8.9.4

### Steps t

[2018-10-10 21:15] jasonmit commented on #620
@patrickberkeley seems like a reasonable ask.  The solve for this was skip the messageformat parser if the provided translation is not a string.

This does not solve #616, that fix is still in progress and will take a few more days.

I'll version this fix today as a minor change.

[2018-10-10 21:15] #620 closed

[2018-10-10 21:16] jasonmit commented on #620
v3.3.0, thanks!

[2018-10-13 01:37] richard-viney opened #622 "Simplest way to get a full date and time formatted"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.4.5
- Ember CLI Version: 3.4.3
- Ember Intl Version: 3.2.6
- Browser(s): Chrome 69
- Node Version: 10.11

### Steps to Re

[2018-10-13 04:16] jasonmit commented on #622
You can create a named "format": https://github.com/ember-intl/ember-intl#named-formats

I believe this should resolve your issue.

[2018-10-13 04:16] #622 closed

[2018-10-16 09:36] gossi opened #623 "Provide @t decorator"
Please provide a `@t` decorator. Just for convenience not to use the `@macro` helper everytime. Would be a good to be served by ember-intl directly.

[2018-10-16 14:58] buschtoens commented on #623
I like the suggestion! 😊

[2018-10-16 20:16] jasonmit commented on #623
Interesting I like the idea.  Can you share an example of the API?  Specifically around a translation that has props where they might not necessarily be static?

[2018-10-16 20:39] buschtoens commented on #623
@jasonmit I've done a quick implementation in https://github.com/ember-intl/ember-intl/pull/624 that also showcases the API. 😊

[2018-10-17 08:40] buschtoens opened #625 "Allow literal / raw values in translation macro / decorator"
As suggested in https://github.com/ember-intl/ember-intl/pull/624#issuecomment-430397615.

The translation macro (and soon decorator #623) currently only allow the user to pass keys that will then be used to retrieve the values to be used for interpolating the translation strings: [Docs](https://github.com/ember-intl/ember-intl/blob/57144a6bb9a6f9e64f74273177f250a6d6d8010c/docs/translating-text.md

[2018-10-17 15:59] buschtoens commented on #623
Published a first draft of [`ember-intl-decorators`](https://github.com/ember-intl/ember-intl-decorators#readme) to [npm](https://www.npmjs.com/package/ember-intl-decorators). 🚀

[2018-10-17 15:59] #623 closed

[2018-10-18 09:21] hakilebara opened #627 "Provide ability to call sentry in missing-message"
I would like to be able to call a service (like sentry) in the `missingMessage` function.

[code]

[2018-10-18 16:33] buschtoens commented on #627
https://github.com/ember-intl/ember-intl/blob/57144a6bb9a6f9e64f74273177f250a6d6d8010c/addon/services/intl.js#L117-L121

`missingMessage` is called with `this` as the `intl` service, meaning that you should be able to lookup your Sentry service from it.

[code]

Let me know, if it works. 😊

[2018-10-19 09:56] #625 closed

[2018-10-19 20:18] #627 closed

[2018-10-20 04:16] jasonmit commented on #401
This is still active.

[2018-10-20 04:17] jasonmit commented on #109
Closing as this is being handled by ember-i18n and the community.

[2018-10-20 04:17] #109 closed

[2018-10-20 09:46] buschtoens commented on #595
The [`properties` package](https://github.com/gagle/node-properties) seems like an easy solution to parse `.properties` files. Together with [`treeForTranslations(tree)`](https://github.com/ember-intl/ember-intl/blob/0eda54c7a1784ebca54b4e72e134bd53e9de2457/docs/addon-support.md#advanced-usage-treefortranslations) one can write an addon that combines both.

`treeForTranslations(tree)` only receive

[2018-10-20 09:51] buschtoens commented on #595
Also relevant https://github.com/ember-intl/ember-intl/issues/401#issuecomment-316629409:

<sup>`treeForTranslations` is implemented already by now</sup>

[2018-10-20 10:12] buschtoens commented on #268
In order to support this, we essentially just need to do what we already do with the regular translations and `this.opts.publicOnly`:

https://github.com/ember-intl/ember-intl/blob/c92422d416de65db3fb70f68c57fec9b782dc40c/index.js#L93-L144

Then defuse the warning here:

https://github.com/ember-intl/ember-intl/blob/c92422d416de65db3fb70f68c57fec9b782dc40c/addon/hydrate.js#L13-L43

And document fo

[2018-10-20 10:53] buschtoens opened #636 "translationMacro without intl service injection does not recompute on locale change"
https://github.com/ember-intl/ember-intl/pull/614 made the `intl` service injection optional, but `intl.locale` is still statically listed as a dependent key:

https://github.com/ember-intl/ember-intl/blob/c92422d416de65db3fb70f68c57fec9b782dc40c/addon/macro.js#L72

When not injecting the service, this of course does not work. Instead we then need to manually watch `intl.locale` and invalidate the

[2018-10-20 10:55] buschtoens commented on #392
By now we have released https://github.com/ember-intl/ember-intl/pull/626, which adds a [`raw` function](https://github.com/kellyselden/ember-macro-helpers#raw) like in [`ember-awesome-macros`](https://github.com/kellyselden/ember-awesome-macros) / [`ember-macro-helpers`](https://github.com/kellyselden/ember-macro-helpers).

In the almost two years that have passed since the last comment to this d

[2018-10-20 10:59] buschtoens commented on #392
Alternative suggestion that uses less syntax, but is also less clear / intuitive to me.

[code]

[2018-10-20 11:06] makepanic commented on #595
Can confirm that the `treeForTranslations` addon hook isn't really usable to transform translations for the consuming app.

I think a new hook for this kind of feature would be great as it'll allow developers to implement support for various other translation formats like e.g. [XLIFF](https://en.wikipedia.org/wiki/XLIFF)

[2018-10-20 11:10] buschtoens opened #637 "Filter empty translation keys to reduce file size"
`translation_2` would be `null` for `de-de`.

As suggested in https://github.com/ember-intl/ember-intl/issues/598#issuecomment-413779400:

Which would prevent this error https://github.com/ember-intl/ember-intl/issues/598#issue-351179851:

https://github.com/ember-intl/ember-intl/blob/c92422d416de65db3fb70f68c57fec9b782dc40c/lib/broccoli/translation-reducer.js#L167-L173

Before passing `translatio

[2018-10-20 11:15] buschtoens commented on #533
@Turbo87 Do you have time to / want to submit the PR for your code? Otherwise I'll submit the PR in your name. 🙏

[2018-10-20 11:25] buschtoens opened #638 "Integrate @ember-intl/polyfill"
@jasonmit I see that you have started work on [`@ember-intl/experimental-polyfill`](https://github.com/ember-intl/experimental-polyfill). Can you remember what still needs to be done to drop the `experimental` part and start using it as a dependency of `ember-intl`. 😄

Relates to:
- Support sideloading of CLDR data #268
- intl-polyfill: show a warning for unknown locales #573
- "autoPolyfill" shou

[2018-10-20 11:35] buschtoens commented on #557
FWIW I needed to do exactly this to support this type of display:

![image](https://user-images.githubusercontent.com/834636/47255119-29f0bf00-d46c-11e8-8188-1da0a36de7ef.png)

[code]

[code]

The above solution is not 100 % localized, since some locales invert the order of fields, which is not accounted for here, but it works for all the locales that we need to support.

I also needed to force th

[2018-10-20 23:38] jasonmit commented on #638
This work was based off of working in tandem with the ember-intl experimental branch.  It would take a light refactor to get working against master.

Ideally, ember-intl would lookup the `@ember-intl/polyfill` addon and provide it with some context (locales that need to be bundled based on the translations in the host app).  https://github.com/ember-intl/experimental-polyfill/blob/master/index.js#

[2018-10-22 08:33] Turbo87 commented on #533
@buschtoens feel free, happy to review 🙏

[2018-10-22 15:32] elopez-ag commented on #557
I came here looking for `formatToParts` as I need something like the example at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat/formatToParts#Examples to add different css to the currency symbol

I'll use @buschtoens approach for now, thx!

[2018-10-24 10:02] #533 closed

[2018-10-25 23:47] #637 closed

[2018-10-26 19:32] jasonmit commented on #636
@buschtoens perhaps we revert as I see no way of invalidating a cp, do you know of a strategy?

[2018-10-26 19:40] buschtoens commented on #636
We can use the `localeChanged` event. 😜

[2018-10-26 22:55] sbsurf commented on #584
I use `intl.setLocale([locale, "en"])`, but it doesn't seem to have the effect in this comment:

https://github.com/ember-intl/ember-intl/issues/584#issuecomment-399868684

If `locale` is `es`, for example, any missing `es` translations come up as empty, instead of falling back to the `en` translations.

Bring back `baseLocale` would be helpful. Or perhaps someone can help me get the suggested sol

[2018-10-26 23:04] jasonmit commented on #584
Can you open a separate bug for the fallback issue you described?

[2018-10-27 00:28] #71 closed

[2018-10-27 00:28] #493 closed

[2018-10-27 00:28] #350 closed

[2018-10-27 00:28] #519 closed

[2018-10-27 00:28] #598 closed

[2018-10-27 00:38] NullVoxPopuli commented on #534
Rude, stalebot

[2018-10-27 01:29] jasonmit commented on #584
@sbsurf awesome timing for that fix to land!  Open an issue if you find it doesn't solve your issue after bumping to 3.5.0.

[2018-10-31 15:12] herzzanu opened #660 "Addon integration issue"
### Environment

- Ember Version: 3.5.0
- Ember CLI Version: 3.5.0
- Ember Intl Version: 3.5.0
- Browser(s): Chrome 70
- Node Version: 10.12

### Steps to Reproduce

Create an addon, add ember-intl to `dependencies`, add the addon to the app, fire the app

All the app translations are removed by the build process. The console reports an error that the addon translations file cannot be found in the

[2018-11-01 08:32] herzzanu commented on #660
Cool, thanks. I think the same also happens on 3.4.0.

[2018-11-01 19:13] sbsurf commented on #541
I am hitting this issue, and I am following instructions detailed here: https://github.com/ember-intl/ember-intl/blob/master/docs/unit-testing.md

[2018-11-01 19:47] sbsurf commented on #541
Refactoring the unit test into a component integration test does seem to seem to resolve the issue (although I'm still working on fixing some other errors with it). Should probably update the documentation?

[2018-11-01 21:00] Turbo87 commented on #541
yes, the docs on that seem a little outdated. they should instead use the new testing APIs available in `ember-qunit`.

[2018-11-02 13:45] drummy2 opened #664 "Specifying default locale"
The documentation describes how to dynamically set the locale, but is there a way to set the default locale so that it isn't en-us.  In ember-i18n it was in the environment configuration.

[2018-11-02 13:56] buschtoens commented on #664
There is no (explicit) default runtime locale. You need to set it during application boot. :)

https://github.com/ember-intl/ember-intl/blob/master/README.md#setting-locale

[2018-11-02 13:58] #664 closed

[2018-11-05 00:46] jasonmit opened #667 "docs: Migrate unit test documentation to latest conventions"
Migrate unit test documentation to latest conventions, references older style of unit testing.

[2018-11-05 13:52] makepanic commented on #601
@snewcomer were you able to work on this? If not I think I could work on this over the weekend.

[2018-11-05 14:30] herzzanu commented on #660
@jasonmit what is the status on this? Anything I can help with?

[2018-11-05 18:00] jasonmit commented on #660
No update, any more information such as when this began for you would be helpful.

[2018-11-05 21:33] herzzanu commented on #660
Thanks. Well, when I added `ember-intl` to our addon. But it also happens if you create a new addon from scratch and add `ember-intl` to `dependencies`.

[2018-11-06 03:58] jasonmit commented on #660
I verified latest ember-intl works as expected with ember-cli 3.3.0 so I believe something is broken internal to latest ember-cli.

[2018-11-06 13:17] herzzanu commented on #660
Thanks, that's what I suspect as well. Are you going to report this further or do you need any help with it?

[2018-11-06 18:33] sbsurf opened #671 "Multiple files per locale"
Coming from `ember-i18n`, I have 2 files for each locale, one shared with translators to maintain, and another with some core translations maintained by developers only. With `ember-i18n` I was importing both into my `t.js`. Is there a way to accomplish this somehow?

[2018-11-06 18:39] sbsurf commented on #253
I have the same question - for dates + date/times I need to be able to use the ISO format of `YYYY-MM-DD`. Ideally, with AM/PM vs 24 hr option set automatically based on locale.

[2018-11-06 19:48] drewclauson commented on #253
@sbsurf Since I was the OP, I wanted to just comment that I don't recall if I ever figured that out.  Unfortunately, I no longer am on the project that utilized this, so I can't go back and look at the code.  Sorry!

[2018-11-06 19:50] sbsurf commented on #253
Thanks @drewclauson. This was more a question for someone like @jasonmit. Didn't want to open another issue, so I piggy-backed onto yours.

[2018-11-06 20:33] jasonmit commented on #671
You can accomplish this with folders:
`translations/shared/en-us.yml`
`translations/develeopers/en-us.yml`

These two files will be merged together at build time.

[2018-11-06 20:33] #671 closed

[2018-11-06 20:49] jasonmit commented on #253
@sbsurf I would refer to the Intl.DateTimeFormat API:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat

This is the browser primitive used under the hood.  All options there are what we support.

The 24hr (`hour12` options) is locale dependent by default so you should not have to touch that unless you want to override for specific locales.

Formatting

[2018-11-06 21:00] jasonmit commented on #660
@herzzanu feel free to create an upstream issue in ember-cli and link the two.  I'll try and triage/bisect this further once I have some time.

[2018-11-06 22:36] sbsurf commented on #253
Thanks @jasonmit. I actually want to force that date format for any locale. If you can think of a way to override it, let me know. I'll keep poking.

[2018-11-14 15:00] kanongil opened #686 "The disablePolyfill option is broken"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember CLI Version: **3.5.0**
- Ember Intl Version: **3.5.0**

### Steps to Reproduce

1. set `disablePolyfill: true` in `config/environmen

[2018-11-14 17:58] buschtoens commented on #686
Try `config/ember-intl.js` instead. 😉

[2018-11-14 18:28] #686 closed, assigned to nobody

[2018-11-15 02:02] jasonmit commented on #667
https://github.com/ember-intl/ember-intl/commit/aaa61f4e8c3c150562bdb588e9b04ffc402edd83

[2018-11-15 02:02] #667 closed

[2018-11-16 00:19] #601 closed

[2018-11-19 09:29] BHuys opened #694 "Manage locales dynamicaly (migrating from i18n)"
- [jup ] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [jup ] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.5.0
- Ember CLI Version: 3.5.0
- Ember Intl Version: 3.5.0
- Browser(s): chromium (v68.0.3440.106)
- Node Version:

[2018-11-19 10:48] makepanic commented on #694
If you only want to configure the locales, then use the `setLocale` method:

[code]

See https://github.com/ember-intl/ember-intl#setting-locale

[2018-11-19 12:56] BHuys commented on #694
Isn't passing an array into setLocale meant for backup-languages when there is no translation found for a specific label? I want to let my app behave as following:

If I check 'en', 'fr', 'nl', 'de' in my backend I want my app to show a languageselector with these 4 languages so users can switch languages in app, when I only pass 'en', 'fr', 'de', I only want these 3 locales available. The order o

[2018-11-19 14:14] makepanic commented on #694
I'm unsure if I get your use-case.
So you're displaying a language picker and want to change the language based on the selection?

I think you could wire the select up to call `intl.setLocale([chosenLocale, 'en'])` if the user chooses a language. You'd have to add all possible `locales` to the intl `locales` array though.

If you don't want to hardcode possible locales, then [dynamically loading t

[2018-11-19 14:21] BHuys opened #695 "Get current locale value (string or array?)"
- [yes] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [yes] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version:  3.5.0
- Ember CLI Version: 3.5.0
- Ember Intl Version: latest
- Browser(s): chromium v68
- Node Version: 8.11.3

I nee

[2018-11-19 14:32] buschtoens commented on #694
You can define all the available translations (meaning the actual strings) as `.yml` or `.json` files in the [`translations` directory](https://github.com/ember-intl/ember-intl#translations). All translations are bundled into the `vendor.js` by default, meaning that they are automatically made available for use.

This is often not desirable, because this significantly inflates build size. To avoid

[2018-11-19 14:35] BHuys commented on #694
I'm now solving it by putting all the possible languages in the locales array as you are suggesting, when I load my data I only addTranslations for the enabled languages (my data is coming from an api, not a file). This works for me now, just need to remember to add the language in the array each time I need to support a new language.

Thanks for the help and suggestions @makepanic @Turbo87 @busch

[2018-11-19 21:52] jasonmit opened #696 "Add tests for relative time `short` units"
https://github.com/ember-intl/ember-intl/blob/master/docs/format-relative-options.md

These are now available to use but lack tests.

[2018-11-20 01:36] jasonmit commented on #696
https://github.com/ember-intl/ember-intl/commit/77d3c63339a6ec98a2ef1cd8a260c88554c0697f

[2018-11-20 01:36] #696 closed

[2018-11-20 13:44] Driezzz commented on #695
Why doesn't `this.get('intl.locale')` just return the locale string? Currently, everytime you want to just get the active locale, you need to write a computed property.

[2018-11-20 15:56] buschtoens commented on #695
Because `setLocale` accepts an array of locales in order to support fallbacks. This is the reason, why there is no "one" locale. There is only a primary locale and a number of fallback locales.

You could access `this.get('intl.locale.firstObject')`.

We could also think about adding a `primaryLocale` to the `intl` service for convenience.

[2018-11-20 18:06] jacobq commented on #584
FWIW, I have a use case for having a fallback (permanent default) locale that I don't think has been mentioned here yet. I have a number of "locale-less" strings, which are actually IDs like `company_1` that should be translated to the same thing in every locale (say, "Google").

In `ember-i18n` I was able to provide translation files in `js` rather than JSON so could just merge those shared value

[2018-11-20 22:52] jasonmit commented on #584
@jacobq thank you for the feedback.

I'm not against bringing back fallback locale.  I think it would be a relatively easy feature to bring back and could land as part of the current 4.0 beta.

[2018-11-22 14:04] Driezzz commented on #695
@buschtoens With `primaryLocale `, do you mean the currently Active locale or the primary locale in the locales[].

If it's the current Active locale, that would be very helpful!

[2018-11-23 22:35] jasonmit commented on #660
@herzzanu can you verify this is still happening?  I'm using latest ember-intl within an ember-cli 3.5.x project with engines that ship with translations (handled similar to addons).

[2018-11-24 05:59] #584 closed

[2018-11-24 08:52] herzzanu commented on #660
@jasonmit Thanks for following up. Seems to be working now with a brand new addon. I'll upgrade my addon as well, see how it's working and report back.

[2018-11-25 00:05] jasonmit commented on #660
Great, feel free to ping this issue if it resurfaces :)  Thanks!

[2018-11-25 00:05] #660 closed

[2018-11-25 02:01] jasonmit commented on #557
I think it's best to leverage the native API for this, so I believe @buschtoens approach is the right one.

I don't know how else we would expose this API on the service or as a helper.  We could polyfill the API, but I'd prefer to move that responsibility to an optional addon.

[2018-11-25 04:59] jasonmit commented on #636
We might also be able to leverage the `setup` method on `@ember/object/computed` to setup the intl property.  When can assign it an arbitrary, private, key that we always reference as a dependent key to the cp.

[2018-11-27 03:10] NullVoxPopuli commented on #534
Just an update, as I actually start to add translations now.

It seems no translations are found in my acceptance tests? o.o
they are found everywhere else though, dev, production, etc

[2018-11-27 03:56] jasonmit commented on #534
Reopening for exposure

[2018-11-27 08:58] buschtoens commented on #695
@Driezzz With `primaryLocale` I mean the first locale of the currently active locales, i.e. `this.get('intl.locale.firstObject')`.

The `locales` array in `config/ember-intl.js` is really just a set, not an ordered array. There is not primary locale. ☺️

[2018-11-27 10:32] NullVoxPopuli commented on #534
ah! because I didn't have my local storage setup, it was setting the  initial locale to undefined.

@jasonmit would it make sense to have an assertion on `setLocale` for checking against the list of known locales?

[2018-11-27 14:51] pablogravielseo commented on #541
Even if I follow the example: https://github.com/ember-intl/ember-intl/blob/2.x/docs/unit-testing.md I got the same error: `TypeError: Cannot read property 'forEach' of undefined` for Unit test route:

### Environment
Ember Version: 2.18.2
Ember CLI Version: 2.18.2
Ember Intl Version: 2.33.4
Browser(s): Chrome
Node Version: Node 8.11.4

Example  file:
[code]

[2018-11-27 15:40] pablogravielseo opened #705 "TypeError: Cannot read property 'forEach' of undefined"
Hi guys! Even if I follow the example: https://github.com/ember-intl/ember-intl/blob/2.x/docs/unit-testing.md I got the error: `TypeError: Cannot read property 'forEach' of undefined` for "Unit test route".

There is a closed issue related to, for example: https://github.com/ember-intl/ember-intl/issues/541, but in my case is a "unit route" test.

### Environment
Ember Version: 2.18.2
Ember CLI Ve

[2018-11-27 16:07] buschtoens commented on #705
You're referring to outdated documentation. Can you give [`testing.md`](https://github.com/ember-intl/ember-intl/blob/master/docs/testing.md) a try? 😊

[2018-11-27 18:21] jasonmit commented on #534
@NullVoxPopuli we would need to bundle the list of locales to accomplish this.  I wouldn't want to bundle this ~8kb for the sake of an assertion.  However, we could do it in development builds,

Here is that list if you want to explore this approach https://github.com/unicode-cldr/cldr-core/blob/master/availableLocales.json

[2018-11-27 19:14] sbsurf opened #706 "htmlSafe vs {{{ }}}"
Question:

In my _.hbs_ files, is there an advantage to passing __htmlSafe=true__, as opposed to just wrapping the whole thing in tripple braces? Both do the trick.

Eg:

[code]

vs

[code]

[2018-11-27 19:31] gossi commented on #534
Mainly, what's required is this resolver configuration:

[code]

I'd assume MU somehow/somewhere should offer hooks, so addons can provide their resolver configuration

[2018-11-27 19:37] NullVoxPopuli commented on #534
Most def.

Maybe this is something you or I could look at adding this week?
Could just be a hook that is used in the index.js file

[2018-11-27 19:57] buschtoens commented on #706
The difference is that `htmlSafe=true` returns a string that is marked as [`isHTMLSafe`](https://www.emberjs.com/api/ember/3.5/functions/@ember%2Ftemplate/isHTMLSafe). In 99 % this usually does not make any difference, but there are some things to note here:

You can't pass triple curlies as an argument to helpers and curly helpers. For instance:

[code]

`ember-template-lint` has a [`no-triple-cu

[2018-11-27 20:11] sbsurf commented on #706
Thank you for the thorough explanation. Very helpful.

[2018-11-27 20:21] buschtoens commented on #636
This could work, but I was asking myself whether we should really do that? Intuitively it feels weird to me to implicitly have the `intl` service be injected.

But considering that even if the user did not explicitly inject the service, they could not put anything else for the `intl` property¹, I think we should be in the clear with implicitly injecting the `intl` service, if it is not already inj

[2018-11-27 20:35] pablogravielseo commented on #705
Hi @buschtoens thank you for the information, but I'm using `Ember v2.18.2` (https://guides.emberjs.com/v2.18.0/testing/testing-routes/) with `Ember Intl Version: 2.33.4` and I'm not yet using the new testing syntax of `QUnit testing API RFC`, do you think that is possible to use with the new syntax? I will try.

[2018-11-27 20:41] buschtoens commented on #705
Whoops sorry, didn't see! 🙈

Before we dive into that, can you try removing `ember-cli-qunit` and upgrading to the latest `ember-qunit` version?

In theory `ember-qunit` is backwards compatible with the [legacy API](https://github.com/emberjs/ember-qunit/blob/master/docs/legacy.md). But upgrading would allow you to use the new syntax for all new tests that you write and to [slowly migrate](https:/

[2018-11-27 21:44] gossi commented on #534
Does an API in MU already exist to do that?

[2018-11-27 21:57] jasonmit commented on #706
Triple curlies are really unsafe, take the following example:

[code]

This will evaluate the entire output as HTML, so you'll see the alert fires.

`htmlSafe` is different in that it only treats the translation itself, not any arguments, as HTML.  Every argument passed into the `t` helper is then escaped.

[code]

Would escape `name` but treat the rest of the translation output as htmlSafe.

[2018-11-27 21:59] #706 closed

[2018-11-27 22:00] NullVoxPopuli commented on #534
@gossi not yet, it's an unchecked TODO on the quest issue

[2018-11-28 00:07] pablogravielseo commented on #705
@buschtoens works! After a hard work, I have updated all unit tests (model, route, validator) that raised the error `TypeError: Cannot read property 'forEach' of undefined` with new test syntax of `ember-cli-qunit` (I'm using `v4.2.1`) and `ember-intl v3.5.0`. Thank you!

[2018-11-28 01:07] #636 closed

[2018-11-28 03:49] #705 closed

[2018-11-28 11:40] buschtoens commented on #392
I've implemented the suggested `@intl` decorator in https://github.com/ember-intl/decorators/pull/66.

[2018-11-29 09:16] #392 closed

[2018-11-29 19:34] sbsurf commented on #706
Thank you @jasonmit

Is there a way to make all calls htmlSafe? My translators are aware of simple html tags like _<br>_ and I would like to not worry about what what's in the translations, as there are many.

Would there be a downside to sending _htmlSafe_ by default?

[2018-11-29 20:08] jasonmit commented on #706
@sbsurf no "built-in" way but this should achieve what you want.

[code]

[2018-11-29 21:13] sbsurf commented on #706
Awesome. Thanks so much for your help.

[2018-11-29 22:10] jasonmit commented on #706
@sbsurf no problem!

[2018-12-03 03:14] UzEE opened #715 "Using inline handlebars helpers within translation strings"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and found issues dating back to a couple of years #102 and #421.

### Environment

- Ember Version: 2.16.4
- Ember CLI Version: 2.18.2
- Ember Intl Version: 3.5.0
- Browser(s): Chrome 70
- Node Versi

[2018-12-03 04:07] jasonmit commented on #715
@UzEE not a solved problem.  For link-to's I tend to use ember-href-to to solve that.

I'll keep this issue opened to start a dialog in discovering what it will take to support this.

[2018-12-03 05:30] UzEE commented on #715
@jasonmit Yes, link-to seems to be the easiest to work around with by using the ember-href-to addon. Unfortunately for my use case, the `{{action}}` helper usage far outweighs the `{{link-to}}` usage, so I'm still investigating possible solutions that work with that as well.

[2018-12-03 21:49] jasonmit commented on #401
Here is an example of how you can achieve this today on addons and engines:

[code]