[2018-12-04 18:56] jasonmit opened #717 "Make Intl.RelativeFormat polyfill optional"
Now that native support has landed in Chrome, we can add the functionality in making `Intl.RelativeFormat` optional for those that just target modern Chrome.

It will remain enabled by default for the foreseeable future until all modern browsers ship with the API.

Related: https://www.youtube.com/watch?v=SkIgtVvAR6w

[2018-12-07 01:05] sukima commented on #471
This issue has been open for more than 20 months now. How are others handling lists if this hasn't been implemented. There must be work around. I doubt everyone is drastically changing their prose to avoid lists.

[2018-12-07 01:07] Turbo87 commented on #471
@sukima the data on how to format lists in a locale-aware manner is available on the CLDR dataset. we have built a small function based on that, but unfortunately I can't share it :-/

[2018-12-07 01:38] jasonmit commented on #471
https://github.com/unicode-cldr/cldr-misc-full/blob/master/main/en/listPatterns.json is a reference to the CLDR dataset that can be used to build this feature/addon.

[2018-12-12 09:37] #615 closed

[2018-12-13 09:52] AndreJoaquim commented on #695
I know this is already closed but it'd just like to say that it'd be really cool to have the `primaryLocale` alias to `intl.locales.firstObject` in the `intl` service.

As I'm migrating from `ember-i18n` to `ember-intl`, I'll have to replace `i18n.locale` with `intl.locale.firstObject` (which can be confusing for some people as `locale` is singular but represents an array) everywhere. With the `pr

[2018-12-13 10:07] buschtoens commented on #695
I have no objections to adding such a `primaryLocale` alias. It's likely most useful to devs who do not use the fallback mechanism, but could be confusing, if you use it. With proper documentation I would gladly accept such a PR. 😊

[2018-12-13 10:55] AndreJoaquim commented on #695
@buschtoens I've opened a PR adding `primaryLocale, documentation about it, and a test 😊

[2018-12-14 05:46] xud6 opened #728 "Can't find get started guide"
I can't find any guide / get start guide on how to use this addon.

[2018-12-14 17:54] buschtoens commented on #728
I was meaning to set up ember-cli-addon-docs for quite some time and migrate the `docs` directory over.

[2018-12-16 06:52] xud6 commented on #728
Actually i didn't have much problems with docs directory as long as it's organized.
The biggest problem i have is where to start in the docs folder. It seems all of the docs in the docs directory assumes you know the basics of how the addon work. But i need docs that can help me get started
The ember i18n addon's doc (https://github.com/jamesarosen/ember-i18n/wiki), while not fancy, is way better

[2018-12-17 14:51] PoslinskiNet opened #730 "ICU argument missing combined with falsey requiresTranslation case"
Hi there,

I've encountered probably an edge case that could be covered (if I understand it correctly).

Let me explain the case:

1. We have a few languages.
2. Let's assume that our base language is `en-GB`
3. Other languages can have a translation, but if they don't they should use `en-us` as a fallback.
4. Everything works fine, especially when I change `ember-intl.js` a little:

[code]

The o

[2018-12-18 05:17] jasonmit commented on #730
@PoslinskiNet I'm able to reproduce this.

Are you referring to the `fallbackLocale` option?

Would very much appreciate this.

[2018-12-18 05:30] jasonmit commented on #728
@xud6 good feedback, thanks.  Also, please send any PRs my way that you think could improve the docs.

[2018-12-20 08:54] buschtoens opened #733 "Convert to TypeScript"
#600 was an attempt to convert ember-intl to native classes, but it ended up getting reverted for reason I do not recall any more.

I've been using [`ember-cli-typescript@2.0.0-rc.1`](https://github.com/typed-ember/ember-cli-typescript/tree/v2.0.0-rc.1) quite successfully with [`@ember-intl/decorators`](https://github.com/ember-intl/decorators) and other projects and suggest we convert ember-intl

[2018-12-20 10:57] jasonmit commented on #733
@buschtoens I unfortunately can't recall exactly what it was other than it didn't work on older builds of Ember.

[2018-12-20 11:31] buschtoens commented on #733
Perfect! I think all of this got resolved with [`ember-native-class-polyfill`](https://github.com/pzuraq/ember-native-class-polyfill), which supports Ember 3.4 & 3.5. The polyfilled behavior is native in 3.6.

We currently test down to 2.12. We'd need to update our support matrix then. _Maybe_ we can get the polyfill to run for 2.18, which receives security patches until Feb 2019, [according to th

[2018-12-21 07:14] jasonmit commented on #733
I think we would want to support further back than that for now.

[2018-12-26 12:44] #573 closed

[2018-12-26 12:44] #268 closed

[2018-12-26 14:42] #595 closed

[2019-01-02 17:14] #439 closed

[2019-01-10 07:48] bedrosenator opened #744 "shortLocale property is not changing after setLocale method"
### Environment

- Ember Version:
- Ember CLI Version:

- Browser(s):
- Node Version:

- ember-cli: 3.6.1
- Ember Version: 3.5.0
- node: 8.10.0
- os: linux x64
- Browser(s): Chrome Version 70.0.3538.77 (Official Build) (64-bit)
- Ember Intl Version: 3.5.0

### Steps to Reproduce
1. Call intl.setLocale method
2. Get intl.shortLocale property

shortLocale remains the same as it was before setLocale.

[2019-01-10 08:37] buschtoens commented on #744
I'm sorry, but I can't find a `shortLocale` property on the `intl` service. 🤔

Are you maybe setting it yourself somewhere?

[2019-01-10 11:03] bedrosenator commented on #744
Oh, yes. I've found that place in my code, sorry. Thanks for fast reply

[2019-01-11 10:52] AlbertoNr3 opened #745 "Problem with translation macro in component js"
I want to translate a literal in a js file, but when using he translation it fails.
It works fine without the translation and plain text so my guess was it has to do with ember-intl.

### Environment

- Ember Version:
- Ember CLI Version:3.1.4
- Ember Intl Version: 3.5.0
- Browser(s): Chrome
- Node Version: 10.15.0

[code]

[2019-01-11 11:38] buschtoens commented on #745
Hey @AlbertoNr3 😊

You are using the `translationMacro` incorrectly. It is intended to be used as a computed property. So either to it this way:

[code]

Ot by directly using the `t` method of the `intl` service:

[code]

[2019-01-11 13:01] buschtoens opened #746 "Facebook's FBT"
Facebook recently open sourced [FBT](https://facebookincubator.github.io/fbt/), their Intl framework.

They are using a very interesting concept: translations are not defined in an external `.yml` file and then referenced by a key. Instead the base translation (English) is written in place in the (JSX) template and wrapped in an `<fbt>` tag to denote that it is a translatable section. FBT then lat

[2019-01-11 13:07] buschtoens commented on #746
Something like this would be possible.

[code]

[2019-01-11 13:16] AlbertoNr3 commented on #745
Thank you very much for the fast reply, it works now.
I'm not sure if I just didn't see it or if it should be added to the documentation.

[2019-01-11 13:16] #745 closed

[2019-01-11 13:22] buschtoens commented on #745
In case you're still looking: https://github.com/ember-intl/ember-intl/blob/master/docs/translating-text.md#computed-property-macro

[2019-01-11 13:58] gossi commented on #733
Maybe ship an `index.d.ts` at first as "lightweight" solution, so people with Typescript don't get those squiggly lines in their IDE and then conversion afterwards?

PS. Maybe ember observer has some usage statistics

[2019-01-11 15:52] Turbo87 commented on #746
@buschtoens I've had that plan for a long time, but never found the time to implement it. how would you handle nested component invocations in that `<T>`?

one way to do it would be to compile the template once per supported locale and then override the templates when a new locale is lazy-loaded in the browser. I assume something like that is possible, but I guess it would require some knowledge o

[2019-01-11 16:01] buschtoens commented on #746
Instead of compiling the template for every locale, we could transform the template into something that can handle every locale:

[code]

What this _does not_ support is changing the order of non-translated "things" relative to one another. I don't know, if FBT allows this.

[2019-01-11 16:03] buschtoens commented on #746
We could potentially even allow changing the relative order by using `{{in-element}}` or something similar? 🤔
Don't know about the performance implications.

Directly talking to Glimmer might be more performant.

[2019-01-11 16:12] Turbo87 commented on #746
yeah, being able to change the order is unfortunately quite important in a lot of locales... 😢

[2019-01-13 18:40] snewcomer commented on #66
This functionality is ready for review!

https://github.com/ember-intl/ember-intl/pull/747

[2019-01-14 03:19] #66 closed

[2019-01-14 13:10] normanhaze opened #750 "format-relative helper displays in English regardless of current locale"
- [X] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.4.1
- Ember CLI Version: 3.4.3
- Ember Intl Version: 3.5.0
- Browser(s): Chrome
- Node Version: 8.12.0

### Steps to Repr

[2019-01-14 20:19] jasonmit commented on #750
@normanhaze can you share you ember-intl config?

I'm unable to reproduce this using the dummy app, which you can see here: https://ember-intl.github.io/

[2019-01-21 21:31] jasonmit commented on #750
@normanhaze can you share your ember-intl config? In the ember-intl config, are you explicitly setting the locales your app is targeting? If not, do you have translations for fr-fr in your project?

[2019-01-21 21:35] jasonmit commented on #750
I'm fairly confident this will resolve your issue, so closing for now.  Feel free to comment here if it still happens.

[2019-01-22 10:37] normanhaze commented on #750
No change from my end unfortunately :/ I'm still getting the relative date in English.

[2019-01-22 21:15] jasonmit commented on #750
And you restarted ember serve between the change?

Can you post the config and I'll try and replicate?

[2019-01-23 14:43] andshi opened #762 "Does ember-intl support Glimmer?"
Glimmer support was added in v2.x.x but there is no information in README.md or docs how to use ember-intl with Glimmer.

[2019-01-23 14:52] buschtoens commented on #762
Glimmer as in a pure [Glimmer.js project](https://glimmerjs.com/), à la `ember new my-app -b @glimmer/blueprint`?

[2019-01-23 14:58] andshi commented on #762
Unfortunately yes.

[2019-01-23 14:59] buschtoens commented on #762
I would not expect it to work, because `ember-intl` relies on the `intl` service, which extends from the `Service` class from `@ember/service`. :/

[2019-01-23 15:02] andshi commented on #762
Thanks a lot. The issue could be closed.

[2019-01-23 15:02] #762 closed

[2019-01-23 23:43] jasonmit commented on #750
@normanhaze I appreciate that you circled back.  This will likely help others in the future :)

[2019-01-25 09:40] hanssen commented on #706
I just discovered an [relating issue](https://github.com/ember-intl/cp-validations/issues/49) with _cp-validations_, when enabling `htmlSafe` as default.

[2019-01-28 11:30] normanhaze opened #764 "Default en-us being set despite setting locales in beforeModel()"
- [X] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

Ember Version: 3.4.1
Ember CLI Version: 3.4.3
Ember Intl Version: 3.5.0
Browser(s): Chrome
Node Version: 8.12.0

### Steps to Reproduce

Is

[2019-01-29 16:42] belgoros opened #768 "Default locale is lost when injecting intl service in another service"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: `3.7.2`
- Ember CLI Version: `3.7.1`
- Ember Intl Version: `3.5.0`
- Browser(s): FF, Chrome
- Node Version: `10.12.0`

###

[2019-01-29 16:57] snewcomer commented on #768
@belgoros `services/constants.js` is a singleton and as such are instantiated when they are created (`init` called when `this.intl....`).  So in this scenario, you have a something `getting` the `constants` service earlier than `beforeModel` is called during the application lifecycle.  So you are seeing the default `en-us` before you set it.

What would be recommended is to do any logic (hopefully

[2019-01-29 22:57] jasonmit commented on #764
ember-intl will default to `en-us` if a locale is not provided, so you may be looking at the service before the locale has been set.

[2019-01-29 23:01] jasonmit opened #769 "Investigate CI break on master"

[2019-01-30 00:07] buschtoens commented on #769
Probably a floating dependency? I wanted to look into it already, but it's bedtime for me. 🌛

[2019-01-30 09:32] normanhaze commented on #764
Any suggestions for how I can fix it? I'm setting the locales as the docs described so I'm not sure what I should be doing differently.

[2019-01-30 09:33] belgoros commented on #768
@snewcomer Thanks a lot for your response and explanation. But I'm setting all the translations in `init` method of `constants.js`.  I believed that having a method `setIntlService`, for example as you suggested in `constants.js` and call it from `beforeModel` hook in `application.js` route would not change anything:
[code]
I still have no clues with that idea 😢

[2019-01-30 10:08] belgoros commented on #768
Doing like that still fails because `init` method in `constants.js` is called before its `setIntlLocale(locale)`:
<img width="271" alt="screenshot 2019-01-30 at 11 05 00" src="https://user-images.githubusercontent.com/83579/51973963-231c1400-247f-11e9-9771-ef83dfdf38b7.png">

[2019-01-30 11:19] belgoros opened #771 "Provide more examples of use for interpolation and date-time formatting options"
- [X] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.7.2
- Ember CLI Version: 3.7.1
- Ember Intl Version: 3.5.0
- Browser(s): Chrome
- Node Version: 10.12.0

When migrating f

[2019-01-30 13:07] snewcomer commented on #768
Yep and that makes perfect sense!  Essentially you are at the whim of the application lifecycle and as such, no way to access the correct locale in `init` of the constants service (well there is, but could be flakey).  Could you maybe describe your situation that necessitates this?

[2019-01-30 13:51] belgoros commented on #768
@snewcomer With pleasure 😄. I have to display a page with working hours for a shop. So I display all the 7 weekdays (Monday to Sunday), with a state (open, closed, divided), and hours.
To do that, I have `constants.js` service defined as follows:
[code]
I used `ember-i18n` before and it worked, `i18n`has been replaced by running the [migrator](https://github.com/DockYard/ember-i18n-to-intl-migrato

[2019-01-30 17:36] belgoros commented on #771
It seems like I found the way to display a translated date with the time.
Modify the translation file entry as follows (we do not provide date format here):
[code]
Modify the template code as follows:
[code]
If there is a better way, ti is always welcome 😄

[2019-01-31 21:09] jasonmit commented on #771
Thanks for the feedback - the docs can definitely use some lovin'.

[code]

`'Last modified on {date, date, time} by {user}'`

[code]

Does this resolve your issue?

[2019-02-01 08:12] belgoros commented on #771
@jasonmit Thank you so much for explaining that. I fixed some typos in your code snippet:
- missing comma after `second: 'numeric'`
- `date` value takes `currentShop.shop.country.updatedAt` instead of `model.modifiedBy`
- not sure if I need to keep `hhmmss` section in `formats.js` date section
 and it works as needed:
[code]
template exmaple:
[code]

[2019-02-01 09:48] jasonmit commented on #771
You can remove it, it's there for an example.

[2019-02-01 09:49] belgoros commented on #771
OK, thanks a lot!
I'll close the issue

[2019-02-01 09:49] #771 closed

[2019-02-02 09:47] jasonmit commented on #769
I cannot reproduce locally even with `--no-lockfile`... for another day I suppose.

[2019-02-03 07:38] jasonmit commented on #769
@krukas the CI failure on master is a single test failing around what appears to be a unicode spacing character changing that we being asserted on.

The issue you're seeing in CI is just what appears to be a webpack plugin bug:
https://github.com/webpack-contrib/terser-webpack-plugin/issues/67
https://github.com/webpack-contrib/terser-webpack-plugin/issues/66

So nothing I can really do there.  Yo

[2019-02-03 17:34] krukas commented on #769
@jasonmit Thanks links solved the problem for me, strange that this only start to happen when you install ember-intl.

[2019-02-03 20:04] jasonmit commented on #769
Ember-intl relies on ember-auto-import.  So unless you have other add-ons using ember auto import then you wouldn't see the bug.

[2019-02-04 14:39] zeppelin opened #778 "primaryLocale's dependent key might be wrong"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: `3.5.1`
- Ember CLI Version: `3.3.0`
- Ember Intl Version: `3.5.0`
- Browser(s): any
- Node Version: `11.8.0`

### Steps to

[2019-02-04 20:49] jasonmit commented on #778
[code]

[2019-02-05 04:18] jasonmit commented on #769
Believe this issue was related to how a newer version of Chrome was encoding fr-fr's number separator (non-breaking space).  Fixed on master, closing.

[2019-02-05 04:18] #769 closed

[2019-02-05 12:21] zeppelin commented on #778
Ah, never mind, this feature doesn't exist in 3.5.0.

[2019-02-05 12:21] #778 closed

[2019-02-06 17:20] buschtoens commented on #764
I recommend setting a breakpoint in the getter and setter here to track down, when and where they are invoked:

https://github.com/ember-intl/ember-intl/blob/105d8b40193d7737fda405bdb31e995177f0ecce/addon/services/intl.js#L39-L58

[2019-02-06 18:22] AndreJoaquim opened #781 "Using `disabledPolyfill: true` with `publicOnly: true` will prevent translations from being written to dist"
- [X] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.7.1
- Ember CLI Version: 3.7.1
- Ember Intl Version: 4.0.0-beta.7
- Browser(s): Chrome
- Node Version: 8.9.0

### Steps t

[2019-02-06 18:40] buschtoens commented on #781
Can you verify that it's really not present in `dist/translations`? The list put out by `ember build` is not exhaustive. We are using `publicOnly: true, disablePolyfill: true` successfully in production with the same versions.

[2019-02-07 10:59] AndreJoaquim commented on #781
Double checked and you're right. For anyone that comes here, my problem was I did not add `.json` files on the `ember-cli-deploy`'s `config/deploy.js`.

[2019-02-07 10:59] #781 closed

[2019-02-08 20:52] Kilowhisky opened #783 "Utilizing escaped { in translation text does not work as expected"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.6.1
- Ember CLI Version: 3.7.1
- Ember Intl Version: 3.5.0
- Browser(s): Chrome
- Node Version: 8.11.4

### Steps to Repr

[2019-02-09 07:53] jasonmit commented on #783
Upstream issue, see: https://github.com/ember-intl/ember-intl/issues/616#issuecomment-427547389

[2019-02-11 16:38] Kilowhisky commented on #783
Bummer,

Thanks for all the hard work!

It looks like i can do `\\{0\\}` for right now.

[2019-02-12 18:30] pzuraq opened #785 "ComputedProperty system will need to be updated for 3.9"
Hey there, wanted to open this issue up for visibility! We've merged some major refactors upstream in Ember to set things up for the upcoming change to ship native decorators. The system is becoming _more_ private, but we've made sure that this library and `ember-concurrency` have an upgrade path in the meantime. In the future, I believe a true decorator is pretty much what you'll want anyways 😄

[2019-02-12 19:45] buschtoens commented on #785
Can I start the upgrade based on the latest Ember canary already or do I need to wait for some PRs to land there first?

[2019-02-12 19:48] pzuraq commented on #785
You should be able to upgrade based on canary, though we are _hoping_ that https://github.com/babel/babel/pull/9360 lands before it goes to stable. If it does though, it would likely be a minor update on your side, and we would give you a heads up about it

[2019-02-13 22:30] mongoose700 commented on #715
Hello! My team has been using a custom i18n solution, but we'd like to switch to using ember-intl. We have a solution for this called t-split. It can take a translation string like
`Text before the link {{#link}}First text in the link {{#strong}}text in the strong{{/strong}}, final text in the link{/link}} text after the link`
and be used in the template like this:
[code]

It finds the special `{{

[2019-02-16 13:27] srsgores opened #790 "Calculating and Displaying Durations"
Currently testing on version 3, and not sure the best way to display durations.  Currently, I have this:

[code]

Where `duration` is a value in milliseconds, so I can do something like:

[code]

And the translation is:

[code]

What I really want is to use something like `format-relative`, but without the "days ago" part.  How can I change that functionality, and then pass in a `duration` propert

[2019-02-16 21:40] jasonmit commented on #790
Can you give an example of the output you're expecting?

[2019-02-17 01:16] srsgores commented on #790
I'd expect an output like this:

Or:

[2019-02-17 02:15] srsgores commented on #790
Here's a sample helper I wrote:

[code]

[2019-02-17 04:40] snewcomer commented on #790
@srsgores Do you happen to be referring to `Intl.RelativeTimeFormat`?  Looks like it was added in Chrome 71.

https://developers.google.com/web/updates/2018/12/nic71
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RelativeTimeFormat
https://tc39.github.io/proposal-intl-relative-time/#sec-intl-relativetimeformat-constructor

[2019-02-19 09:21] normanhaze commented on #764
Sorted it - It seems I was loading the languages within a bit of code that was waiting on login info. Thanks for the help!

[2019-02-19 09:21] #764 closed

[2019-02-19 09:56] normanhaze opened #795 "Use first valid locale in array for date helpers"
- [X] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

I am using custom language files for certain users of my app to allow certain key words on the site to be customised. In these cases, my locales are set to s

[2019-02-19 22:20] jasonmit commented on #795
The locales dictate which locale data is bundled in your app.  If you create your own invalid locale names it may not bundle data correctly.  I would avoid this strategy and look at ways of solving your issue without custom locale names.

[2019-02-20 17:12] buschtoens opened #797 "Defining translations inside engines"
I've noticed that `publicOnly` does not play well with engines. If enabled, the generated translation file is placed in the host app's `translations` dir and not in the engine's `translations` dir.

Disabling `publicOnly` also doesn't work, because the translation is not bundled into `engine.js` or `engine-vendor.js`, but seemingly gets merged into the host app's app tree:

https://github.com/embe

[2019-02-20 18:51] buschtoens commented on #795
I had a similar problem. We ship different locales for whiteabel partners. Fortunately the IETF has thought if this in their standard. You can add a _private use sub-tag_: `en-us-x-foo`, where `foo` may be up to 8 chars.

[2019-02-20 20:40] jasonmit commented on #795
@buschtoens curious if you've run into issues with the locale data?  This isn't a scenario I believe I test for and should add them if we're going to officially support.

[2019-02-21 12:50] buschtoens commented on #795
So far this has been working great for us. However, we don't use the included polyfill, but load `Intl.~locale.de-DE` from [polyfill.io](https://polyfill.io/v3/). Since it's part of the standard, I think we should strive for supporting it officially and add tests around it. 😊

[2019-02-21 20:27] jasonmit commented on #795
The locales field is also used to determine which pluralization, relative time, and compact number rules to bundle.  I can't say with certainty that any of this will behave as expected which is just while I'm calling it out.

We should support it though.

[2019-02-22 06:01] jasonmit commented on #797
Yeah, it takes the same path as an addon so the behavior you get is bundling into host app.  So things will work, and normally it's sufficient (we've been using this configuration within our app that uses ember-engines + ember-intl).

`publicOnly: true` issue sounds like an important bug to solve though.

[2019-02-22 17:00] buschtoens commented on #715
I really like your idea @mongoose700. I'm only wondering whether the syntax can be condensed somehow. 🤔

[2019-02-24 01:40] mongoose700 commented on #715
In cases where there's only one type of segment that appears in a particular string, you can leave out the `if`s.

[code]

[2019-02-26 00:52] jaurand opened #804 "Custom outputPaths results in "Could not find module `@ember-intl/intl-relativeformat`""
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.13.3
- Ember CLI Version: 2.13.3
- Ember Intl Version: 3.5.0
- Browser(s): Chrome 72
- Node Version: 8.15
### Steps to Re

[2019-02-26 04:28] jasonmit commented on #804
I believe this is an upstream bug in ember-auto-import but was resolved in https://github.com/ef4/ember-auto-import/pull/107

Can you verify your package manager is pulling in the latest version of ember-auto-import.

[2019-02-26 14:26] jaurand commented on #804
`ember-auto-import` is listed as a dependency of `ember-intl` in our yarn.lock file as 1.2.13.  I believe that release is after that fix was merged.

[2019-02-26 16:49] jasonmit commented on #804
Can you put together a reproduction of the issue?

I cannot reproduce off of a brand new ember app and ember-intl install.

[2019-02-26 19:16] jasonmit commented on #804
The fix for this landed in 1.2.18 which is why you're running into the issue:
https://github.com/ef4/ember-auto-import/blob/master/CHANGELOG.md#1218

[2019-03-01 12:57] buschtoens opened #811 "Pluggable formatters"
I propose we make the formatters that may be used in translations officially pluggable.

#### Motivation

Our API returns monetary values as objects that look like this:

[code]

We have added this method to our `IntlService`:

[code]

And also added an accompanying helper:

[code]

We represent monetary values like this for two reasons:

- to avoid floating point arithmetic imprecision when perfo

[2019-03-01 19:53] jasonmit commented on #811
This would require some work within intl-messageformat, intl-messageformat-parser.  Currently there is not an API to register new formatters or even override existing ones.  The formatters you see referenced in your translations do not delegate to ember-intl formatters.

[2019-03-01 20:16] Kilowhisky opened #812 "Locales array not reflecting the locales listed in the config file"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.8.0
- Ember CLI Version: 3.7.0
- Ember Intl Version: latest
- Browser(s): Chrome
- Node Version: 8.11.4

### Steps to Rep

[2019-03-01 21:30] jasonmit commented on #812
The `locales` option within `config/ember-intl` is to describe the locales that your app targets so that at build time we know which locale data needs to be bundled.  It does not get passed to ember-intl ember runtime in anyway but if it would be helpful information I can look into adding it.

[2019-03-01 21:41] Kilowhisky commented on #812
Ok that makes sense now. The documentation is a bit funky here so i was confused as to the difference between the `locales` in the service and the `locales` in the config file.

I can make a code workaround for this easily enough.

Thanks!

[2019-03-01 21:41] #812 closed

[2019-03-01 21:56] jasonmit commented on #812
I welcome any tweaks to the docs :)

[2019-03-02 07:37] EndangeredMassa opened #814 "errorOnMissingTranslations doesn't seem to work"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.8.0
- Ember CLI Version: 3.8.1
- Ember Intl Version: 3.5.2 and v4.0.0-beta.4
- Browser(s): latest Chrome (72.0.3626.121)

[2019-03-02 22:18] jasonmit commented on #814
Can you share your `config/ember-intl.js`

[2019-03-03 03:20] EndangeredMassa commented on #814
Ah, that makes sense. No worries!

[2019-03-03 03:20] #814 closed

[2019-03-04 19:28] #785 closed

[2019-03-11 15:03] zkrzyzanowski commented on #804
Hi, I'm getting the same error in our app, with `ember-auto-import` in our lockfile at `1.2.19`

Ember Version: 3.8.0
Ember CLI Version: 3.8.1
Ember Intl Version: 3.5.2
Browser(s): Chrome 72
Node Version: 8

Let me know what other information you'd need. Thanks!

[2019-03-11 17:35] jasonmit commented on #804
@zkrzyzanowski can you reproduce it in a new ember app?  Does the issue go away when you nuke & recreate your lockfile?

[2019-03-12 13:59] snewcomer commented on #811
@jasonmit Curious - is one advantage of `messageformat` this?

[2019-03-14 14:13] zkrzyzanowski commented on #804
@jasonmit Thanks for the quick response, the issue still occurs after deleting & recreating the lockfile. I'll check if this can be reproduced in a new ember app today.

[2019-03-14 18:20] jasonmit commented on #804
@zkrzyzanowski strange that it's occurring after the lockfile was nuked.  I wasn't able to reproduce with a new ember app.  Any help to reproduce would be much appreciated :)

[2019-03-18 17:51] jasonmit commented on #811
@snewcomer I don't believe so, haven't heard of anything involving RTL issues with `intl-messageformat`.  If that's not the case, let me know.

The advantages I know of off the top of my head are: spec-compliant escaping, ability to register formatters (i.e., your work involving compact numbers would fit well with that API vs needing to fork), (great documentation)[https://messageformat.github.io/

[2019-03-18 18:09] snewcomer commented on #811
https://github.com/messageformat/messageformat/search?utf8=✓&q=rtl&type=

Ah I guess I was referring to this.  Looks like it detects rtl locale.  Happens via ‘biDiSupport’ config variable

[2019-03-26 19:10] charneykaye opened #825 "Use translated string in index.html? (Feature request)"
Suppose I could write an index.html such as:

[code]

Which injects the value from my default locale, `en-us.yaml`:

[code]

And further, i.e. [fastboot](https://ember-fastboot.com/), I envision a scenario in which the locale could be specified to ember build, resulting in index.html of varying languages at URLs such as `/de/` versus the default `/` alias for `/en/`

[2019-03-26 19:12] buschtoens commented on #825
I would recommend to use an addon like [`ember-page-title`](https://github.com/adopted-ember-addons/ember-page-title) instead. It has FastBoot support baked in and even allows you to switch the page title when switching routes, which is likely something you'll want anyway. 😄

Would this solve your use case?

[2019-03-26 19:18] charneykaye commented on #825
@buschtoens you nailed the only use case I can think of. Future me will see your idea when searching the issues of ember-intl, and never even consider hacking a workaround :wink: Thanks for saving me that time.

[2019-03-26 19:18] #825 closed

[2019-03-26 19:22] charneykaye commented on #825
Also want to shout out `[ember-cli-meta-tags](https://github.com/ronco/ember-cli-meta-tags#readme)` which I'm using to cover the other use case that crept up.

[2019-03-26 19:29] buschtoens commented on #825
Awesome, glad I could help you!

![hat tip](https://media.giphy.com/media/3o7TKyqNi5CbAv7Z4s/giphy.gif)

[2019-03-28 12:40] Bouke opened #829 "Reason for using ember-auto-import?"
We are thinking about starting to use ember-intl, however I'm a bit worried about the use of ember-auto-import. To me it feels like using ember-auto-import will result in pulling in unspecified packages, regardless of what's defined in our `package.json` / `yarn.lock` file. This would cause uncertainty in our build process, as it might pull in any other version it likes.

Conceptually it feels ver

[2019-03-28 17:09] buschtoens commented on #829
Your post reads like you think that [ember-auto-import](https://github.com/ef4/ember-auto-import) allows ember-cli to pull in _any_ arbitrary package via `import x from 'y';`. This is luckily not true.

For addons, it only allows the addon using it to pull in `dependencies` from the addon's `package.json`. `devDependencies` or anything else is not allowed.

This also means that if you are using `y

[2019-03-28 18:38] Bouke commented on #829
Thanks, cool, that seems to at least resolve some of my concerns for that package, especially in the security department. I'm still curious what the use-case is of this package, especially why this addon needs it? It seems like it requires quite some dependencies including webpack, while there's already brocolli and the likes. Maybe it's just me as I try to be conservative about the (amount of) de

[2019-03-28 19:02] buschtoens commented on #829
ember-cli long predates the official ES module import syntax and bundlers like webpack. This is why it was historically notoriously difficult to add "standard" npm packages as a dependency. You'll find _a lot_ of old Ember addons, which are essentially just shims / wrappers around popular libraries, to make them importable.

ember-auto-import changes that and makes importing npm modules "just work

[2019-03-28 19:12] buschtoens commented on #829
Broccoli is primarily a build / transpilation pipeline, not a bundler. The [Embroider Spec](https://github.com/embroider-build/embroider/blob/master/SPEC.md) goes into more details about this.

Because we pull in various npm dependencies, like `fast-memoize`.

[2019-03-29 02:10] jasonmit commented on #829
So that we're able to bundle the key foundation libs that ember-intl relies on: `intl-relativetime`, `intl-messageformat`, `intl-messageformat-parser`, and `fast-memoize`.

`broccoli` isn't a replacement for `webpack` they actually can work together and we'll see that more with Embroider.

[2019-03-31 00:37] #829 closed

[2019-04-01 06:58] Bouke commented on #829
Thank you for the feedback. So if I understand correctly; instead of creating ember-wrappers for all those packages, ember-auto-import can be leveraged to just import from npm, foregoing the need to wrap those packages. In order to include the assets in the final bundle, it is using webpack to do that?

[2019-04-01 07:45] jasonmit commented on #829
That is correct and yes it uses webpack to handle the bundling process.

[2019-04-02 20:49] brettburley commented on #797
I've been playing around with `ember-intl` with `ember-engines` a bit to see what the current behavior is.

@buschtoens does your engine itself list `ember-intl` as one of its dependencies in the `package.json`? In the testing I've done, I've found that as long as it's listed there, both variants of `publicOnly` will bundle the translations into either the `engine.js` or `engines-dist/engine-name/

[2019-04-02 21:04] jasonmit commented on #804
Closing since no one has been able to reproduce it standalone.  If anyone can reproduce, please push the project somewhere and open a new issue.

[2019-04-02 21:04] #804 closed

[2019-04-09 23:09] timiyay opened #844 "Can't load Intl polyfill in route hook"
Our Ember apps support iOS 9 webviews and Mobile Safari, which require the `Intl` API to be polyfilled. We don't want to burden other users with the API and locale data polyfill, so we need to load it conditionally based on feature detection.

We'd like to load these conditional polyfills in our application route hooks, to take advantage of their handling of async behaviour. Unfortunately, this is

[2019-04-10 03:46] jasonmit commented on #844
The initializer can actually be removed in 3.x/4.x, it's no longer needed.  However, I don't think that will solve your problem entirely.

I'll need to introduce an API to lazily setup ember-intl.  This way you then can conditionally load your polyfill inside of your app route hook, or wherever it's needed.

Let me think about what that might look like, for now I'll remove the initializer.

You'll

[2019-04-10 04:01] timiyay commented on #844
Thanks for the speedy response @jasonmit, I'll definitely keep an eye out for the latest changes.

We're scheduled to bump up to `ember-intl@3.x.x` soon. We're moving incrementally, so the conditional polyfill work was needed to land step 1 - migrate from `ember-i18n` to `ember-intl`. Now that's done, we can bump up to the latest.

The lazy setup API sounds perfect for us.

Do you envision a featu

[2019-04-10 04:04] jasonmit commented on #844
Yeah the Intl polyfill needs to still be decoupling from this addon.   I could then totally see a scenario where it would have an auto-detect strategy.  Would love all the help in getting to that point!

[2019-04-10 04:05] timiyay commented on #844
Does this issue for integrating `@ember-intl/experimental-polyfill` cover what needs to be done, more or less?

[2019-04-10 04:11] jasonmit commented on #844
I would not integrate with that addon.  That's experimental, I plan to finalize that work.

[2019-04-10 04:26] timiyay commented on #844
No worries. Feel free to shout out when you've got a direction in mind, and I can figure out how to contribute.

This issue is solved for my use case - I'll leave it to you whether you want to close it, or keep it open to track the lazy API work.

[2019-04-16 16:05] ultimatemonty opened #850 "broccoli-persistent-filter: t(...).isPlaceholder is not a function"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.4.6
- Ember CLI Version: 3.9.0
- Ember Intl Version: 3.5.2
- Browser(s): n/a (fails to build)
- Node Version: 10.13.0

##

[2019-04-16 18:52] jasonmit commented on #850
Unsure but you have ember-intl as a dep and a devDep, that's not necessary.

I believe this issue is an artifact of a bug in a dependency.  I'll keep this open for visibility.

[2019-04-17 17:06] jacobq commented on #733
Question: are there type definitions for `ember-intl` somewhere? (What do I need to do to add them to my project?) I am seeing warnings from the TypeScript compiler like this:

[code]

[2019-04-20 10:43] gossi commented on #733
I made some: https://github.com/gossi/spomoda/blob/master/web/types/ember-intl/index.d.ts
Use them locally and extend them with the ones you need for test-support (I haven't covered them yet)

[2019-04-20 20:03] erkie commented on #733
@gossi have you considred adding these to https://github.com/DefinitelyTyped/DefinitelyTyped? That would make it super easy to consume for others :D

[2019-04-21 08:39] gossi commented on #733
I don't think this is a good idea for several reasons:

- DefinitelyTyped and libraries get out of sync, so it's better to have them on the original library itself in the first place (DT is more like last resort here)
- Those types just cover my use-cases, that is very limited
- The idea is to move ember-intl into TS, so I'd rather help out with this instead of pushing stuff on the other side

[2019-04-21 09:14] buschtoens commented on #733
I also made some type defs for [`@ember-intl/decorators`](https://github.com/ember-intl/decorators/tree/master/types), which are more complete, but I agree with @gossi that we'd ideally convert the code itself to TS or at least host the type definitions in the same code base.

[2019-04-22 17:43] hakilebara commented on #728
I would like to work on a ember-cli-addon-docs migration

[2019-04-22 17:44] jasonmit commented on #728
Would love that @hakilebara!

[2019-04-22 17:45] hakilebara commented on #728
I propose the following structure:

- Getting Started
    - Overview
    - Installation
    - Quickstart guide
- Guide
    - Asynchronous loading translations
    - Compact decimal formatting
    - Ember service API
    - Intl.js polyfill
    - Supported locales
    - Missing translations
    - Testing
- Template Helpers
    - The `t` helper
    - format-date
    - format-number
    - format-messa

[2019-04-22 17:48] jasonmit commented on #728
That all seems reasonable, can you add a placeholder under Advanced for Engine support?  We'll need to document the behavior for the currently opened PR.

[2019-04-27 19:39] villander opened #858 "Error compatibility embroider"
### Environment

- Ember Version: 3.9.0
- Ember CLI Version: 3.9.0
- Ember Intl Version: 3.5.2
- Embroider 3.4.0
- Browser(s): Chrome
- Node Version: 10

### Steps to Reproduce

`ember s`

[code]

this erros happens on this function

[code]

[2019-04-28 06:10] jasonmit commented on #858
I haven't begun using embroider for anything, would appreciate any help in landing a fix.

[2019-04-29 07:51] buschtoens commented on #858
This lookup must be failing:

https://github.com/ember-intl/ember-intl/blob/860b051103ee88cec84c4d7cc703ed4714f3a187/addon/services/intl.js#L105

I guess that [`addon/adapters/default.js`](https://github.com/ember-intl/ember-intl/blob/master/addon/adapters/default.js) is not ending up in the final build. It might be shaken out from the tree?

[2019-04-29 17:47] #728 closed

[2019-04-29 19:44] jasonmit opened #860 "Setting up Travis to auto deploy docs to gh-pages"
Now that @hakilebara did all the hard work in getting us on ember-cli-addon-docs (thanks again!), we can now hook it up to our Travis CI pipeline to auto publish.

## Open questions/comments
* [x] Will this change how we publish versions?
* [x] We can remove [`/docs`](https://github.com/ember-intl/ember-intl/tree/master/docs) and update any links/sourcecode references pointing to those docs.
* [x]

[2019-04-30 07:30] Turbo87 commented on #860
to be honest, I have no idea 😕

couldn't find anything about it in the `.travis.yml` file 🤔

[2019-05-02 23:57] bakerac4 opened #861 "VSCode Extension"
Hi there,

I created a VSCode extension to make working with ember-intl easier. I found that finding the right key when I have a 2000 line translation file was tedious at best. I saw that angular had something like what I wanted, so I ported it over to work with ember-intl. It also works with ember-i18n (we have quite a few projects we support and I wanted this functionality there as well)

Im hop

[2019-05-03 14:30] hakilebara commented on #860
The way versions are published shouldn't change.

All the information contained from `/docs` have been migrated to the dummy app. Links within the docs have been updated. I think the folder can be safely removed.

I believe linking to `https://ember-intl.github.io/ember-intl` will work on the next tagged release. This might be caused by a bug in ember-cli-addon-docs

[2019-05-03 23:39] jasonmit commented on #860
There are references to the doc in the app code that need converted i.e.,:
https://github.com/ember-intl/ember-intl/blob/d6973ebb100611363ad16c27be4b92a28a848a9a/blueprints/ember-intl/files/config/ember-intl.js#L66

[2019-05-06 03:18] Techn1x commented on #706
Would it be possible to have a template eslint rule, that forbids translations that have HTML in them, when the `t` helper doesn't have `htmlSafe=true`?

[2019-05-07 23:02] jasonmit commented on #860
I ended up tagging a build (4.0.0-beta.9) and it doesn't seem to be publishing.  Perhaps I'm doing something wrong.

https://github.com/ember-intl/ember-intl/blob/master/.travis.yml#L51-L54

[2019-05-08 05:40] jasonmit commented on #860
It's all working locally, just need to fix the deploy stage in CI:

[`No `deployKey` or `deployKeyPath` configured`](https://travis-ci.org/ember-intl/ember-intl/jobs/529603350)

[2019-05-08 07:06] hakilebara commented on #860
The steps listed below might help with travis deployKey configuration
https://ember-learn.github.io/ember-cli-addon-docs/docs/deploying#automating-deploys

[2019-05-08 11:03] nightire opened #866 "Always update document language"
Can we always update the document title here at L48?

https://github.com/ember-intl/ember-intl/blob/b9ea8fef81ff05458e182e215016f4d3a2054cbd/addon/services/intl.js#L44-L51

I have a use case that we set different font-family depends on `html[lang]` attribute. The problem is, on the first time the page gets loading, `this.updateDocumentLanguage` don't have a chance to run if you set `'en-us'` as th

[2019-05-09 04:06] nightire commented on #866
@buschtoens sure, I made a reproduction repo here:

https://github.com/nightire/repro-intl-update-document-language

and I've prepared a simple test case in `routes/application.js`.

[2019-05-09 05:18] jasonmit commented on #866
It's because we default to en-us and so the work to update the doc lang via the computed's setter is not executed: https://github.com/ember-intl/ember-intl/blob/master/addon/services/intl.js#L28

[2019-05-10 07:02] #866 closed

[2019-05-10 20:18] jasonmit commented on #866
Fix deployed in v4.0.0-beta.10

[2019-05-11 07:15] jasonmit commented on #733
@buschtoens that's awesome!  Feel free to bring them in here.  I'd be happy to maintain them until we migrate the entire addon over to ts.

[2019-05-11 18:27] jasonmit commented on #860
This should now be all squared away.  Thanks again for all your hard work @hakilebara!

[2019-05-11 18:27] #860 closed

[2019-05-17 06:31] jasonmit commented on #861
Awesome & thanks for bringing it to our attention.

Feel free to send over a PR to add a section for third party integrations to the docs!

[2019-05-17 06:31] #861 closed

[2019-05-17 06:32] jasonmit commented on #850
Is this still an issue and if so can anyone help reproduce it for me?

[2019-05-17 06:32] jasonmit commented on #790
Closing for now, seems to have gone stale.

[2019-05-17 06:32] #790 closed

[2019-05-17 08:35] #557 closed

[2019-05-17 08:54] jasonmit opened #876 "feat: Add tests around private-use subtag locales"
Context: https://github.com/ember-intl/ember-intl/issues/795#issuecomment-465706905

[2019-05-17 08:54] #795 closed

[2019-05-17 08:55] jasonmit commented on #858
Is this still an issue?  Can anyone throw together a reproduction or include the steps.

[2019-05-17 12:08] ultimatemonty commented on #850
@jasonmit I'll try this out again in the next few days and get back to you. Sorry for letting it languish

[2019-05-22 04:28] wukongrita opened #880 "Source map error"
Hi, I am using Firefox 67 (64 bit) and getting this message:

[code]

### Environment

- Ember Version: 3.8.1
- Ember CLI Version: 3.8.1
- Ember Intl Version: 3.5.2,
- Browser(s): Firefox 67 (64 bit)
- Node Version:  8.9.4

any help how to  solve this? thanks...

[2019-05-31 01:36] jasonmit commented on #880
Is anyone else able to reproduce this?  If not, can you provide a reproduction?

[2019-05-31 01:38] jasonmit commented on #880
Seems related to https://github.com/ef4/ember-auto-import/issues/124#issuecomment-421321063 but solved but bumping deps.  In your case, may need to rebuild a portion of your lockfile.

[2019-06-03 15:35] jnicklas commented on #880
I'm also seeing these errors on Firefox 67, neither Chrome nor Safari show the same error against the same app, so this seems to be something specific to Firefox. Sorry I don't have time to investigate this further right now, but maybe that little bit helps.

[2019-06-05 03:18] yratanov opened #888 "Fingerprinting"
### Environment

- Ember Version: 3.9
- Ember CLI Version: 3.9
- Ember Intl Version: 3.5.2

### Steps to Reproduce

I am using `publicOnly: true` flag in ember intl config and all my translations are served in `assets/<lang>.json`. The problem is that in production environment these files are not fingerprinted, so users don't get updated translations after the deploy.

Is it possible to fingerprin

[2019-06-05 09:06] buschtoens commented on #888
Fingerprinting is handled by [`broccoli-asset-rev`](https://github.com/rickharrison/broccoli-asset-rev). By default, it does not fingerprint `.json` files.

Just add `'json'` to the [`extensions` option](https://github.com/rickharrison/broccoli-asset-rev#options). ☺️

[2019-06-05 09:08] buschtoens commented on #888
If you have time for it, a PR adding this information to the docs for [Asynchronously loading translations](https://ember-intl.github.io/ember-intl/docs/guide/asynchronously-loading-translations) would be much appreciated. 🙏

[2019-06-05 12:01] yratanov commented on #888
ok, so here is what I have as a solution:

### Fingerprinting
Add `json` files to [broccoli-asset-rev](https://github.com/rickharrison/broccoli-asset-rev) settings and enable `assetMap`:
[code]

Then fetch `assetMap`  in production environment:
[code]

------

@buschtoens I can add it to the docs if you think it is a proper solution :)

[2019-06-05 12:17] yratanov opened #890 ""Message can not be parsed" warning on specific locale"
### Environment

- Ember Version:  3.10.1
- Ember CLI Version: 3.10.1
- Ember Intl Version: 3.5.2

### Steps to Reproduce

I have `ypk-us-ak` locale (stands for [Yupik lang](https://en.wikipedia.org/wiki/Yupik_languages)) in my app.  But for some reason I get warning in build time:

`WARNING: [ember-intl] ypk-us-ak: "dayCount" message can not be parsed: Cannot read property 'indexOf' of undefined`

[2019-06-05 12:22] buschtoens commented on #888
As long as the full path to a given translation file is hard-coded and uninterpolated, e.g. `translations/en-us.json` instead of `translations/${language}.json`, `broccoli-asset-rev` will pick it up and rewrite it in place already.

For cases where interpolation is required, loading the `assetMap` first is a viable solution. Alternatives include using [`ember-cli-resolve-asset`](https://github.com

[2019-06-05 12:23] buschtoens commented on #890
Maybe related to https://github.com/ember-intl/ember-intl/issues/876

[2019-06-06 15:08] sacarino opened #891 "Frustrating issue with ember-intl and auth0"
- [X] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: v3.10.1
- Ember CLI Version: v3.10.1
- Ember Intl Version: v3.5.2
- Browser(s): Chrome 73
- Node Version: v10.16.0

### Ste

[2019-06-06 18:33] efx commented on #858
I was unable to reproduce this using a [newly created application.](https://github.com/efx/embroider-ember-intl). Though, the primary app I develop in does throw this error when built with embroider.
The below screenshot of the failing stack trace is from the private app:
<img width="1408" alt="Screen Shot 2019-06-06 at 14 32 08" src="https://user-images.githubusercontent.com/472721/59057251-f9795

[2019-06-07 14:08] jnicklas commented on #880
Weirdly, these errors have now disappeared for me on Firefox 67.0.1, maybe this was a bug in FF? At any rate it seems to be fixed now, for me at least. 🤷‍♂️

[2019-06-09 04:03] jasonmit commented on #891
Likely related to what I'm also seeing in the CI pipeline.

[2019-06-10 16:25] jasonmit commented on #891
This is happening because of https://github.com/ef4/ember-auto-import/pull/216

This is unrelated to ember-intl and looks to be caused by the latest version of ember-auto-import (1.4.0).  If you use yarn resolutions, you can pin ember-auto-import to < 1.4.0 for now.

[2019-06-10 16:25] #891 closed

[2019-06-10 16:33] jasonmit commented on #891
Track this issue for progress https://github.com/ef4/ember-auto-import/issues/218

[2019-06-10 16:41] jasonmit commented on #891
If you need to work around the issue:
https://github.com/ember-intl/ember-intl/commit/f0419f29e51cbbb0337203de9cd09dba3998b87e#diff-168726dbe96b3ce427e7fedce31bb0bc

[2019-06-11 13:28] efx commented on #858
Upgrading to ember-intl@4.0.0-beta.10 fixes this error for me. embroider version:
[code]
Should we close this by recommending using the latest version of ember-intl? That wouldn't be helpful for those needing to support < 4.0. I have no qualms updating our app but that is one user's opinion. 😄

[2019-06-12 19:38] robotjonez opened #897 "[ember-intl] "{key}" was not found in "cs-cz", "es-co""
For some reason setting `requiresTranslation` false is still giving me logs in the console is there something I am doing incorrect here? pretty much everything is working properly only issue are these numerous logs.

![Screen Shot 2019-06-12 at 2 36 31 PM](https://user-images.githubusercontent.com/26654215/59380834-954f1000-8d1f-11e9-85a2-2f7ec0ff52ce.png)

[2019-06-12 19:46] robotjonez commented on #897
I am using version: `"ember-intl": "^3.5.2",` and I also have `throwMissingTranslations` set to false.

[2019-06-13 14:47] robotjonez commented on #897
Got it! `requiresTranslation: (key, locale) => false,` Sorry about that my IDE was making this seem like invalid syntax.

[2019-06-13 14:47] #897 closed

[2019-06-13 21:24] rwwagner90 opened #900 "Issues with migrating from ember-i18n"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.0.0
- Ember CLI Version: 3.0.0
- Ember Intl Version: 4.0.0-beta.9
- Browser(s): Chrome
- Node Version: 8.11.4

### Steps

[2019-06-16 06:22] jasonmit commented on #900
This is something that can be implemented on your end.

[code]

Unsure if it makes sense being part of the lib.  If you need to mock a translation in testing, we have [tooling to make that easy](https://ember-intl.github.io/ember-intl/docs/guide/testing#setupintl-hooks-translations-).

This is a general issue with that the app trees are merged together.  Better scoping is needed.  Happy to review

[2019-06-16 14:27] rwwagner90 commented on #900
Should we at least document this then? I think a configurable option to not throw errors could be useful too, but having a workaround might be sufficient.

For sure. I can open a PR to allow excluding. What would you think of prefixing helpers or something as well? Make everything `intl-foo`?

[2019-06-16 17:07] jasonmit commented on #900
Good idea, feel free to send a PR to update the docs would greatly appreciate 🙏

[2019-06-16 17:13] jasonmit commented on #900
Unsure, could get pretty verbose.  Maybe s/format/intl?  Would require deprecating.

[2019-06-17 11:33] rwwagner90 commented on #900
For sure, but module unification may be a very long time and even when it drops, it will take users awhile to update, so it might be good to guard against this.

[2019-06-17 12:18] herzzanu opened #906 "Can't access intl service in addon tests and dummy app"
I'm extending the intl service in my addon but when I try to access it in the tests I can only access the original service. However it works when consuming it in the app. It also worked when I had it extended in the app so the issue is only in the addon.

[code]

### Environment

- Ember Version: 3.10.1
- Ember CLI Version: 3.10.0
- Ember Intl Version: 3.5.2
- Browser(s): All
- Node Version: 10.15

[2019-06-17 17:20] #900 closed

[2019-06-17 17:22] jasonmit commented on #900
Yes that makes sense to me.  I'll plan to s/format/intl in the helper names and deprecate the existing names.

[2019-06-17 17:29] jasonmit commented on #638
This is next on my to-do list now that we cut 4.0 latest.  Ember-intl 5 will no longer ship with the Intl polyfill and I'll recommend installing future add-on to fill the gap for users that need it for either consistent output across browsers or legacy browser support.

[2019-06-18 05:12] jasonmit commented on #906
ember-intl does not do anything out of the ordinary in registering the service.  You may need to tell ember-cli to use your addon's app tree over ember-intl's app tree.  Right now, it just sounds like my app tree is winning out.

That can be fixed in your addon by doing something like this:

[code]

If this doesn't resolve it, I'd need a working reproduction of the issue that I can clone and look

[2019-06-18 06:06] herzzanu commented on #906
Thanks a lot, this was exactly the issue and it's now solved 🙇 Closing...

[2019-06-18 06:06] #906 closed

[2019-06-20 03:42] jasonmit commented on #888
Feel free to add a section in the documentation.  Thanks!

[2019-06-20 03:42] #888 closed

[2019-06-20 03:42] #858 closed

[2019-06-20 03:43] jasonmit commented on #858
@efx since 4.x is the latest stable I don't feel it's worth documenting.  If more folks open issues relating to it without upgrading first I'll update the docs.

[2019-06-20 03:43] jasonmit commented on #850
Closing because issue seems to have gone stale.

[2019-06-20 03:43] #850 closed

[2019-06-26 15:31] lookininward commented on #401
Any new developments on this? Having a struggle trying to get things to work.

In my addon's index.js:
[code]

Then I have the component in `app/components/my-component.js`.
Translation files are placed in `app/components/my-component/translations/en-us.yaml`

This results in a missing translation key error, whereas if keep the translations at the root level `project/translations/en-us.yaml` it do

[2019-06-27 20:22] jasonmit commented on #401
@lookininward you're joining the addon folder into the translation tree.  If you want your addon's app folder included you'll need to adjust this line: `funnel(path.join(__dirname, 'addon'), {` to read `funnel(path.join(__dirname, 'app'), {`

[2019-06-30 01:59] meirish commented on #746
👋 Saw this linked from discord and am very interested as this was the approach we took at a previous employer and I was very much a fan. We used it with an early version of ember, so I'm not sure there's much that's still applicable, but maybe worth looking at for ideas?

https://github.com/jenseng/i18nliner-js was the base library and https://github.com/fivetanley/i18nliner-handlebars was the emb

[2019-07-18 18:49] k-dauda opened #934 "Support for compact style in format-number helper"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

It would be nice to have support for a [compact](https://ember-intl.github.io/ember-intl/docs/guide/compact-decimal-formatting) style in the [format-number](

[2019-07-20 10:29] jasonmit commented on #934
Official support for this API is moving forward as part of the spec:
https://github.com/tc39/proposal-unified-intl-numberformat/blob/436ed1607c4b446124cf18e25f7eae6d14ed2857/README.md#intlnumberformat-unified-api-proposal

This is what stopped me from implementing this as part of the 4.x API - I did not want to conflict with the incoming native API.

[2019-07-25 14:39] x-yuri commented on #167
I suppose that is because `minimumFractionDigits` is `1` by default, so changing just `maximumFractionDigits` to `0` makes no sense.

[2019-07-25 20:48] jasonmit commented on #167
@x-yuri awhile ago there was inconsistency between how the spec was implemented in the polyfill vs how v8 implemented `maximumFractionDigits` and `minimumFractionDigits`.

v8 has since addressed the spec misalignment and I believe the polyfill was correctly following the spec all along.

[2019-07-25 20:59] x-yuri commented on #167
@jasonmit I'm trying to say that from your words it looks like not specifying `minimumFractionDigits` must be okay, but the spec disallows it. From what I can see, Chrome gives me this error:

![](https://i.imgur.com/dWNuUyx.png)

But it works with `maximumFractionDigits >= 2`. So supposedly `minimumFractionDigits` is `2`. That is, when you specify `maximumFractionDigits = 0`, but not specify `min

[2019-07-25 21:19] jasonmit commented on #167
Correct, Chrome now asserts correctly as per the spec.  In the past, this was not the case and allowed for just passing `maximumFractionDigits: 0`.

You're commenting on a very old thread where implementations have changed.

[2019-08-20 16:42] Al10s commented on #401
I guess that #945 will do the job for the scoping part!
It works well with a pod app when `inputPath` is set to `'app/pod'`.
It could yet be improved to allow ignoring some sub-directory names when creating the namespace:
We might want to store the translations in a `translations` sub-folder but we don't want every namespace to end with `.translations`, so there could be a config to ignore some ke

[2019-08-23 16:00] nag5000 opened #956 "Interpret count=null and undefined identically in formatMessage?"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

In plural form `count=undefined` is interpreted as NaN and `count=null` as 0 in `intl.formatMessage`.
Is it possible to treat them both as null or NaN or som

[2019-08-23 16:08] jasonmit commented on #956
This appears to be a feature of the message formatter we use:

https://github.com/formatjs/formatjs/blob/2ac3f174e6d0c7228ce908b6c7a0f038117953b2/packages/intl-messageformat/tests/index.ts#L126

[2019-08-23 16:11] jasonmit commented on #956
https://github.com/formatjs/formatjs/tree/master/packages/intl-messageformat is the format message compiler we use.  ember-intl passes through to intl-messageformat so if any change is needed it should likely happen there.

There has also been some past discussions around migrating to format-message would indirectly solve your issue.

[2019-09-05 11:08] Gpfielpwb opened #973 "An error occurred in the constructor for ember-intl"
- [X] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.3.2
- Ember CLI Version: 3.3.0
- Ember Intl Version: 4.0.1
- Browser(s): Chrome
- Node Version: 6.17.0

### Steps to Repr

[2019-09-05 14:23] Gpfielpwb commented on #973
Hi,

I've fixed the issue by upgrading the node version `6.17.0` to  `8`

[2019-09-05 14:23] #973 closed

[2019-09-06 21:35] ajcolter commented on #583
I'm trying to get this to work but I don't see my app rendering new lines correctly via ember-intl.

Ember Version: 3.8.3
Ember CLI Version: 3.11.0
Ember Intl Version: 2.33.2
Browser(s): Chrome
Node Version: 8.12.0

I have the following in my en-us.yaml:
[code]
Which I would like to render as:
[code]
on the page. However, what I'm seeing is:
[code]

Any insight into how I can get this to work?

[2019-09-06 21:45] ajcolter commented on #583
### Environment
Ember Version: 3.8.3
Ember CLI Version: 3.8.3
Ember Intl Version: 4.1.0
Browser(s): Chrome
Node Version: 8.12.0

I have the following multi-line string defined in my en-us.yaml file:
[code]
I would like it to render like:
[code]
But I am actually seeing:
[code]
Any idea how to remedy this situation?

[2019-09-10 07:44] buschtoens commented on #583
@ajcolter Try setting [`white-space: pre-line`](https://developer.mozilla.org/en-US/docs/Web/CSS/white-space) on the HTML element that you render the string into.

[2019-09-10 12:49] lolmaus opened #974 "intl service API documentation missing"
There's a guide section on service API, but it's not explicit.

For example, I wasn't able to find the return value type of `setLocale()` on the `intl` service.

[2019-09-10 14:27] ajcolter commented on #583
🙌 Thank you! That did what I wanted.

[2019-09-16 13:39] martony38 commented on #858
I am still seeing this error with ember-intl@4.0.1 when using embroider. I was able to fix it by adding the following package rule to `ember-cli-build.js`:
[code]

[2019-09-18 08:23] maxwondercorn opened #979 "Whitelisting not documented"
I may have missed it but is string whitelisting documented anywhere other then in this [BabelEdit](https://www.codeandweb.com/babeledit/tutorials/how-to-translate-your-ember-app-with-ember-intl) tutorial?

I've whitelisted words and found that this format works but I get non-translated string errors on image `alt` attributes and `titles` on all elements.  There may be other attributes that I'm not

[2019-09-19 14:03] rwwagner90 commented on #671
Is this folder and merging behavior documented somewhere? If not, I would be happy to add it. This is exactly what I was looking for!

[2019-09-19 16:24] RobbieTheWagner opened #982 "Allow array of strings"
What would you guys think about allowing arrays of strings for translations? It seems right now if the value under the key is an array, it assumes the translation is missing, but I would like it to return the array instead.

[2019-09-19 19:33] buschtoens commented on #982
In that scenario, what about interpolation of variables?

[2019-09-19 19:45] rwwagner90 commented on #982
@buschtoens these particular strings do not have any variables, just plain strings we want to change per locale. It's basically a bulleted list that we will change per language.

[2019-09-20 07:24] jasonmit commented on #982
What would the output look like?  The result of the translation look ups concatted together with/without a separator?  Translations that take arguments would be difficult to express then.

[2019-09-20 07:27] jasonmit commented on #979
You're looking at the rules of the linter for `ember-template-lint`.  We don't manage that at all but you can find the documentation for that project here:

https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-bare-strings.md

[2019-09-20 07:27] #979 closed

[2019-09-20 12:26] rwwagner90 commented on #982
@jasonmit it should just return the array as is, no concat, and no arguments.

[2019-09-20 18:07] jasonmit commented on #671
I don't believe this is well documented.  The most appropriate place to add this I feel is https://ember-intl.github.io/ember-intl/docs/guide/translating-text

[2019-09-20 18:26] rwwagner90 commented on #671
@jasonmit it looks like docs were added about the multiple directories in https://github.com/ember-intl/ember-intl/blob/master/tests/dummy/app/pods/docs/guide/translating-text/template.md and we just need a new addon docs deploy.

[2019-09-20 18:31] jasonmit commented on #671
Odds, thought I had it auto deploying on git tag - I'll have to investigate what happened there.

[2019-09-23 08:22] buschtoens commented on #982
I would imagine an external API like this:

[code]

[code]

I'm still not 100 % convinced that returning arrays from locales is a good pattern, but I found myself in need of this a few times as well.

[2019-09-23 08:24] buschtoens commented on #982
Adding this feature would also raise the following questions:

- What about nested arrays?
- What about non-string elements in an array?
- What about objects?

[2019-09-23 12:40] rwwagner90 commented on #982
@buschtoens I'm just looking for raw array support. I think arrays are a special case, and I am okay with them not supporting passing variables, and just returning a raw array of strings.

[2019-09-23 16:06] buschtoens commented on #982
Sure, I understood that! But we also need to think about how this might be used not only in your specific case. 😊

I definitely see why it may be appealing to support returning lists from `{{t}}`., as I have code like this myself in a few places:

[code]

[code]

I think we can answer the three questions in https://github.com/ember-intl/ember-intl/issues/982#issuecomment-534003624 with "We throw a

[2019-09-23 16:10] rwwagner90 commented on #982
So without adding this, how would you support arbitrary lengths of content per locale? My current workaround is to make it one big multiline string, but I would prefer to be able to treat each line as a separate entity.

[2019-09-23 16:14] buschtoens commented on #982
So you basically answered my question 😄

Can you describe your use-case with an example maybe, where the list length differs between locales?

[2019-09-23 16:15] rwwagner90 commented on #982
I do not know of a specific example where the lengths could differ. In our case, we use this for guiding questions, to help users decide how to score a category. I could feasibly see different locales having different numbers of guiding questions.

[2019-09-23 16:21] buschtoens commented on #982
Alright, thanks! From my POV this is a reasonable feature to ask for and I am in favor of implementing it, but would like to hear some more opinions first (cc @jasonmit @Turbo87).

We can make the [missing key check](https://ember-intl.github.io/ember-intl/docs/guide/missing-translations) for list length configurable and enable it for all keys by default.

[2019-09-24 08:17] Turbo87 commented on #982
While the files that we use are not really standardized there are still quite a few tools that support them in the current way. as in: ICU messages in YAML/JSON files. I fear that if we changed our format to support arrays in some form we would lose that advantage.

If we don't care about supporting tools then we could also encode raw JSON in the translation strings instead.

[2019-09-24 13:04] rwwagner90 commented on #982
@Turbo87 Could you elaborate on the tools that use the format and what would be breaking?

[2019-09-25 03:33] jasonmit commented on #671
Should be resolved now: https://ember-intl.github.io/ember-intl/docs/guide/translating-text

[2019-09-25 03:46] rwwagner90 commented on #671
Thanks @jasonmit! Really appreciate all you do here 😃

[2019-09-25 10:13] Turbo87 commented on #982
I'm mostly talking about translation tools like Crowdin, etc.

[2019-09-30 22:48] jasonmit commented on #982
@Turbo87 I see this as a feature that would be opted into.  So if your project decided to adopt arrays as a translation value it would then possibly break tooling like Crowdin.  Otherwise, I believe you wouldn't impacted.

[2019-10-01 00:34] rwwagner90 commented on #982
Opt in sounds fine to me. We do not use any other tools.

[2019-10-04 20:35] #974 closed

[2019-10-07 22:24] oracle1wr commented on #890
Had a similar Warning message for numeric values. The message looks like this: " message can not be parsed: input.charAt is not a function".

It was fixed after I wrapped values with quotes.

[2019-10-08 14:43] nateevans opened #1009 "format-date helper - Date Only (no time output)"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Description
Maybe I'm missing something... but I don't see a way to use the **format-date** helper to display **only** the date with no time. (eg "12/31/

[2019-10-08 15:18] nateevans commented on #1009
Nevermind... we had a helper by the same name in our app 🤦‍♂

[2019-10-08 15:18] #1009 closed

[2019-10-21 00:00] jasonmit commented on #733
I'm happy to accept PRs to convert to typescript but will close for now.

[2019-10-21 00:00] #733 closed

[2019-10-21 00:03] jasonmit commented on #880
Is this still an issue after bumping ember-auto-import in your lockfile?

[2019-10-23 19:44] jasonmit commented on #880
Feel free to open a new issue with steps to reproduce if this continues on latest stable.

[2019-10-23 19:44] #880 closed

[2019-10-23 19:47] jasonmit commented on #638
Feature request for polyfill to support lazy loading: https://github.com/ember-intl/ember-intl/issues/844

[2019-10-23 19:47] jasonmit commented on #844
Closing in favor of tracking in #638

[2019-10-23 19:47] #844 closed

[2019-10-23 19:51] jasonmit commented on #717
Given it's not fully supported across modern browsers, I'm going to close this for now since it seems unlikely to land in the near future.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RelativeTimeFormat#Browser_compatibility

Will revisit in the future.

[2019-10-23 19:51] #717 closed

[2019-10-30 08:33] ofridagan opened #1026 "Supported Ember versions"
Hello,
I couldn't find it anywhere... What ember versions are compatible with ember-intl?

I'm using ember-i18n 4.2.0 and Ember 2.5.1 😞
I want to upgrade ember.. at what point should I upgrade to ember-intl?

Thanks!

[2019-10-30 15:05] buschtoens commented on #1026
We officially support down to Ember 2.12, as you can see from our [`ember-try.js`](https://github.com/ember-intl/ember-intl/blob/master/config/ember-try.js#L11). Potentially, we support even further down, but it wouldn't be "official".

I would recommend to at least upgrade until Ember 2.12, before migrating to `ember-intl`.

[2019-10-31 07:59] ofridagan commented on #1026
Thanks!
And yeah, Ember Octane is the goal... but I have a long way to go 😄

[2019-10-31 19:46] #1026 closed

[2019-10-31 19:47] jasonmit commented on #1026
I've added the Ember version badge to our README, hopefully clears up future confusion.

[2019-11-07 07:17] abhilashlr opened #1033 "Missing translation warnings during ember build"
Consider an application (not using ember-intl) but has a config/ember-intl.js that specifies `locales: ['a', 'b']`.
Engine 1 (uses ember-intl) has translations for 'a' and 'b'
Engine 2 (uses ember-intl) has translations for 'a' but does not have translations for 'b'.

While building the application, `ember build` returns a warning the engine 2 does not have language keys for language 'b'. Which is

[2019-11-08 17:56] abhilashlr opened #1035 "Nesting of translations breaks Testing"
Since [nesting (similar to this)](https://www.i18next.com/translation-function/nesting) is not supported by ember-intl yet, the alternative is to define a translation json as:
[code]
and in the template we define the usage as `{{t "secondKey" reuseText=(t "reuseText" count=2)}}`. This isn't going to throw an error. Instead, the `reuseText` key is translated to proper text and applied as a param to

[2019-11-08 18:25] abhilashlr commented on #1035
@jasonmit The PR #1036 addresses fixing this issue by adopting solution 1.

[2019-11-08 19:05] jasonmit commented on #1035
Seems like the best approach for now.

I would be willing to adopt this strategy.  The build tooling can combine the translations together.

[2019-11-09 04:33] jasonmit commented on #1035
@buschtoens I know you did a lot of work on the testing story, what are your thoughts?

I feel we should fix the bug even if we add first class support for that reflecting behavior.

[2019-11-09 10:36] abhilashlr commented on #1035
Not sure if #1036 is the right way to fix it, what are your thoughts @jasonmit @buschtoens?

[2019-11-10 04:31] jasonmit commented on #1035
@abhilashlr I don't believe so as it's going to interfere with translations with quotes.

[2019-11-10 04:35] jasonmit commented on #1033
As you pointed out, this is similar to #797.  Ember engines isn't "officially" supported but works in the most basic of use cases.  It starts falling apart specifically around `publicOnly: true`.

https://github.com/ember-intl/ember-intl/pull/846 is supposed to improve things but currently has some issues that need to be ironed out.

Closing in favor of tracking engine support in #797

Thanks!

[2019-11-10 04:35] #1033 closed

[2019-11-11 12:37] abhilashlr commented on #1035
@jasonmit agree to your point, but this would only replace the `\"` in the translation key, something defined like:
[code]
where the output would be something like `...translation)_key...`

[2019-11-12 20:38] jasonmit commented on #1035
Okay, within the key isn't so much of a concern then.

Yeah, that part confused me as well :)

I still want to defer this to @buschtoens since I believe he wrote most of the test support logic.  It's definitely a bug none the less.  If he doesn't have the cycles, I can take it over!

[2019-11-13 02:02] abhilashlr commented on #1035
Sorry about that! 🤦‍♂

Sure, thanks for that @jasonmit

[2019-11-13 17:49] buschtoens commented on #1035
I'll take a look!

[2019-11-17 17:49] MrChocolatine opened #1047 "Tests - Error " No instance initializer named 'ember-intl' ""
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.9.0
- Ember CLI Version: 3.9.0
- Ember Intl Version: 4.2.0
- Browser(s): Chrome
- Node Version: 10.17.0

### Steps to Rep

[2019-11-17 17:57] MrChocolatine commented on #1047
One of my dependencies had an instance-initializer using `after: 'ember-intl'`.
I am closing the Issue as it is not directly related to `ember-intl`.

[2019-11-17 17:57] #1047 closed

[2019-11-19 02:46] jasonmit commented on #934
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat#Syntax

Added to the public Intl.NumberFormat API under `notation` property.  Currently only works in Chrome and Node 13 but will enable it in my open PR.

[2019-11-20 07:44] #934 closed

[2019-11-20 07:53] jasonmit commented on #956
This is the behavior of the native Intl.NumberFormat API.

[code]

I don't want to try and monkey patch that behavior since it's something that can be solved by wrapping the ember-intl APIs to normalize the input params.

[2019-11-20 07:53] #956 closed

[2019-11-26 08:14] romgere opened #1058 "Application translations DOES NOT override addon translations"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.12.1
- Ember CLI Version: 3.12.0
- Ember Intl Version: 4.2.0
- Browser(s): Chrome
- Node Version: v10.16.3

### Steps to

[2019-11-26 23:40] jasonmit commented on #1058
Unfortunately these things are quite difficult to e2e test to prevent breakage.  I'll need to re-evaluate things and consider bring back a mono repo so we can have more complex test apps for scenarios like this beyond the extremely limited dummy app.

I'll see about fixing this in the meantime.

[2019-11-27 02:34] jasonmit commented on #1058
Before I go and try and replicate, can you add your `config/ember-intl.js` config to the issue?  Curious if that is playing a role in this issue.

[2019-11-27 04:44] jasonmit commented on #1058
#1059 will resolve this and then will backport to 4.0

[2019-11-27 04:46] #1058 closed

[2019-11-27 04:49] jasonmit commented on #1058
Should be fixed in v4.2.2 please reopen a new issue if it continues.

[2019-11-27 06:18] jasonmit opened #1061 "(testing) Convert to monorepo for many "dummy" test apps"
I need to bring back the monorepo strategy mainly to more easily support testing multiple dummy app strategies.

* Future support for engine tests
* The addon story
  * Translation collisions between the host app
  * Multiple addons
  * `wrapTranslationsWithNamespace` behavior

[2019-11-27 08:30] romgere commented on #1058
Fixed in 4.2.2 :tada: Thank you

[2019-11-27 21:22] jasonmit commented on #1047
Thanks, I've updated the migration notes to include it.

[2019-11-28 13:24] danieledraganti commented on #583
Hello everyone,
I am trying to use the:
`variable: |- text` syntax. Problem is, it triggers the following error:
`UnhandledPromiseRejectionWarning: YAMLException: a line break is expected`
Do I need to enable some option by any chance?
Thanks.

[2019-11-28 23:06] jasonmit commented on #583
@danieledraganti

The yaml parser seems to be suggesting it wants a linebreak after the `|-`

ie.,

[code]

[2019-11-29 00:43] danieledraganti commented on #583
@jasonmit Woops, serves me well for not trying to understand the actual error message. Works fine, thank you!

[2019-12-04 16:49] tehmaestro opened #1066 "Customize interpolation"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.3.0
- Ember CLI Version: 3.3.0
- Ember Intl Version: 4.2.2
- Browser(s): Chrome
- Node Version: 8

### Steps to Reproduce

[2019-12-04 16:58] buschtoens commented on #1066
I would advise against this, since ember-intl purposefully follows the [ICU message syntax](http://userguide.icu-project.org/formatparse/messages) standard, which allows for more than just simple interpolation.

Anyhow, to answer your question, there are two main ways you could do it: Either you customize the [translation build pipeline](https://ember-intl.github.io/ember-intl/docs/advanced/addon-

[2019-12-04 20:29] tehmaestro commented on #1066
Thank you. I'm going to close this.

[2019-12-04 20:29] #1066 closed

[2019-12-06 15:36] sly7-7 opened #1071 "intl.locale property should be auto-tracked"
- [ x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [ x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.14
- Ember CLI Version: 3.14
- Ember Intl Version: 4.2.2
- Browser(s): Chrome
- Node Version:

### Steps to Reproduce

[2019-12-06 15:42] sly7-7 commented on #1071
also, cc/ @marcoow, just for information

[2019-12-06 15:43] rwjblue commented on #1071
Thanks for opening this! The reason accessing `this.intl.locale` works is that with Ember 3.13+ accessing a tracked property, a computed property, or a "normal" property using `Ember.get` from within any tracking context (e.g. helper, modifier, or component class getter) will automatically cause that computation to be recomputed if the property changes.

I think the "simplest" solution here would

[2019-12-06 17:34] mehulkar commented on #1071
I had the exact same issue with `i18n.locale` last night and discovered two things with @pzuraq’s help:

1. for class based helpers that used `this.i18n.locale`, switching to `this.get('i18n.locale')` causes the recompute without the observer.
1. For class based helpers that used `i18n.t()`, I didn’t have to do the get at all and recompute just worked!

The second is the problem being solved here,

[2019-12-09 13:37] buschtoens commented on #1071
That is a very interesting idea. Thanks! I think this'd be great.

[2019-12-11 22:07] jasonmit commented on #1071
Can anyone add a fail test?  I don't really work with any Ember apps currently, so don't have anything to verify against.

[2019-12-18 13:50] buschtoens commented on #746
From my answer to a user question [on Discord](https://discordapp.com/channels/480462759797063690/487648547685269515/656854031221653524):

[2019-12-18 14:46] buschtoens commented on #706
@Techn1x Sorry, just saw this now. This rule would be very complicated and could only cover "traditional" locale providers, e.g. files in the `translations` directory. You could add runtime assertions to check that any translated string that _seems_ to contain HTML tags would throw an error, if it's not `htmlSafe=true`. The assertion would be stripped from the production build.

[2019-12-20 18:28] fkm opened #1091 "Location of formats.js file"
I was wondering why the `formats.js` file is located in the `app` folder instead of `config` together with `ember-intl.js`.

- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

[2019-12-20 21:01] jasonmit commented on #1091
It predates `config/ember-intl.js` and I never deprecated/introduced the breaking change.

[2019-12-20 21:01] #1091 closed

[2019-12-23 09:12] fkm commented on #1091
Thank you for clarifying!

[2020-01-01 00:30] maxymczech opened #1096 "Cannot read property 'indexOf' of undefined"
### Environment

- Ember Version: 3.4
- Ember CLI Version: 3.4.3
- Ember Intl Version: 4.2.2
- Browser(s):
- Node Version: 10.15.3

### Steps to Reproduce

I have the following item in `translations/cz.json`:

[code]

Which for some reason produces a pesky warning in the terminal:

[2020-01-01 22:47] jasonmit commented on #1096
Thanks for reporting, going to consolidate this with the other open issue:
https://github.com/ember-intl/ember-intl/issues/890

[2020-01-01 22:47] #1096 closed

[2020-01-02 00:10] jasonmit commented on #890
@yratanov @maxymczech it appears in both of your scenarios these are invalid locales.  Surprised there isn't warnings that this is invalid - may need to fix that bug separately.

https://github.com/unicode-cldr/cldr-core/blob/34.0.0/availableLocales.json

[2020-01-02 00:14] maxymczech commented on #890
Bruh, thank you very much, renaming `cz.json` to `cs.json` instantly solved the problem. The app worked perfectly fine with the wrong locale by the way. Would be nice to fix that error message.

[2020-01-02 00:23] jasonmit opened #1097 "Validate/assert against invalid locales"
Currently, invalid locales can be inputted and results in a difficult to triage build time warning:
[`WARNING: [ember-intl] ypk-us-ak: "dayCount" message can not be parsed: Cannot read property 'indexOf' of undefined`](https://github.com/ember-intl/ember-intl/issues/890)

To address this bug we need to warn on invalid locales and skip invalid locales as part of the validate message step:
https://g

[2020-01-02 00:23] jasonmit commented on #890
@maxymczech definitely, I created a separate issue for tracking that bug #1097

Going to close this one for now, thanks for reporting everyone!

[2020-01-08 07:04] raghavbk opened #1103 "Periods are not allowed in arguments name of messages"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version:  3.12
- Ember CLI Version: 3.12
- Ember Intl Version: Latest
- Browser(s): Chrome
- Node Version: 10.15.3

### Steps to Rep

[2020-01-10 01:29] jasonmit commented on #1103
@raghavbk nothing blocking other than free time at the moment.  If anyone wants to take a shot at it in the meantime, I'll happily review.

[2020-01-10 14:14] tempo22 opened #1105 "How to have locale in path ?"
Hi there!

As per [google recommendations](https://support.google.com/webmasters/answer/182192?hl=en), I'm trying to setup a multilingual website with the language prefix in the url.
I try to get something like `www.mywebsite.com/en/my-page`or `www.mywebsite.com/de/my-page` to display the same page but in different language.

Is it possible to achieve this with ember-intl ?

[2020-01-10 14:56] buschtoens commented on #1105
This is less of an ember-intl and more of an Ember core routing issue.

You could try the following:

[code]

[code]

[code]

[2020-01-11 16:27] tempo22 commented on #1105
Thanks, indeed it's more of an Ember core issue.

Doing this method require to pass the locale to each link-to component otherwise i'm getting the `but did not pass the models required for generating its dynamic segments. You must provide param locale to generate.` error.

One of the solution i came with was to extend the link-to component and to automaticaly prepend the locale into the models arr

[2020-01-11 22:59] jasonmit commented on #1105
@tempo22 I [prototyped](https://github.com/jasonmit/locale-root-url) something similar awhile ago that threaded through the target translations and set the locale to `rootURL`.  This depends entirely on express being your asset server - which it isn't for a lot of people but I was prototyping a specific use case for a client's stack.  Again, prototype... would not use as-is in a production env but

[2020-01-17 13:50] utilityboy opened #1108 "Allow for defaults/fallback for `format-number`"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.12
- Ember Intl Version: 3.5.2
- Browser(s): Chrome
- Node Version: 10

### Steps to Reproduce

In migrating from version

[2020-01-17 20:24] jasonmit commented on #1108
It did not seem like a useful feature since it can be achieved other ways and was a confusing API.  For example, should the fallback value be formatted or rendered as a plain text node?

Here is how you can achieve both without it being part of the library:

[code]

[code]

[2020-01-17 20:24] #1108 closed

[2020-01-17 21:10] #1105 closed

[2020-01-21 22:15] jrjohnson opened #1112 "Assertion failing in Ember beta/canary attempted to remove a function listener"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

Tests in my addon are failing against beta/canary with the message
`Error: Assertion Failed: You attempted to remove a function listener which did not exist

[2020-01-24 15:29] romgere commented on #1112
I'm encountering the same error.

`ember-beta` tests failed with `You attempted to remove a function listener which did not exist on the instance, which means you may have attempted to remove it before it was added`

After some investigations, it seems the error is throw by this line  https://github.com/ember-intl/ember-intl/blob/master/addon/helpers/-format-base.js#L46

[2020-01-25 06:15] jasonmit commented on #1112
Feels like an Ember bug.  If it goes unpatched upstream, I'll introduce a guard around the `off`.

[2020-01-25 06:20] jrjohnson commented on #1112
@jasonmit sorry, I can add more details if you need them, I just assumed if there were failing test cases in this library's own suite that they would be the best way to verify. Would building a reproduction app be helpful?

[2020-01-25 06:35] jasonmit commented on #1112
@jrjohnson I generally allow beta and canary channels to fail.  I find upstream issues breaking the build too often.  I definitely research further if the bug continues with Ember stable.

`willDestroy` being called an extra time seems dubious.  It may be worth creating an Ember.js issue since this part of the lib triggering this exception hasn't changed in awhile.

[2020-01-25 07:02] jrjohnson commented on #1112
Thanks @jasonmit, I've created the issue linked here.

[2020-01-27 21:47] kturney commented on #1112
FWIW, I encountered this error while working on https://github.com/ember-intl/ember-intl/pull/1106.
The fix is https://github.com/ember-intl/ember-intl/pull/1106/commits/d43a1f95a6e394732897de254b2f640ab9a268eb and the error comes from [this deprecation](https://deprecations.emberjs.com/v3.x/#toc_events-inherited-function-listeners) being switched to an error [here](https://github.com/emberjs/embe

[2020-01-27 22:15] jasonmit commented on #1112
Yes please @kturney.  Thanks a ton!  If you can land on the 4.x branch since that's stable/latest.  I'll cherry pick into master as well.

[2020-01-27 23:00] kturney commented on #1112
@jasonmit right now I'm getting
[code]
while trying to run the ember-canary scenario locally.
Would bringing https://github.com/ember-intl/ember-intl/pull/1042 into the 4.x branch fix that?

[2020-01-27 23:12] jasonmit commented on #1112
I wish I knew of a better solution but cherry picking that over is fine.  Frankly was exhausted from dealing with 2.12 breaks.

Feel free to cherry pick that into your PR.

[2020-01-28 04:25] jasonmit commented on #1112
Resolved in 4.2.3 thanks to @kturney !

[2020-01-28 04:25] #1112 closed

[2020-01-28 05:25] jrjohnson commented on #1112
Thanks @kturney!

[2020-01-29 13:48] abhilashlr commented on #1035
@buschtoens did you get a chance to look at this?

[2020-02-24 08:09] next-adriangonzalez opened #1150 "Incorrect behaviour on engine translations in dummy app"
When adding `ember-intl` to a standalone Engine (engine within its own repository), translation engine files are no generated. Adding this Engine to a real App generates translation engine files correctly.

### Environment

- Ember Version: 3.1.6.0
- Ember CLI Version: 3.16.0
- Ember Intl Version: 4.2.3
- Browser(s): Chrome 79
- Node Version: 10.15.0

### Steps to Reproduce

### Standalone engine

[2020-02-24 08:10] #1150 closed

[2020-02-24 08:10] adrigzr opened #1151 "Incorrect behaviour on engine translations in dummy app"
When adding `ember-intl` to a standalone Engine (engine within its own repository), translation engine files are no generated. Adding this Engine to a real App generates translation engine files correctly.

### Environment

- Ember Version: 3.1.6.0
- Ember CLI Version: 3.16.0
- Ember Intl Version: 4.2.3
- Browser(s): Chrome 79
- Node Version: 10.15.0

### Steps to Reproduce

### Standalone engine

[2020-02-24 20:50] jasonmit commented on #1151
Engines isn't something officially supported I'm but happy to review any changes to change this.

[2020-02-25 18:59] buschtoens opened #1153 "New ES202 `Intl` APIs"
The blog post [JavaScript Internationalization in 2020](https://diary.braniecki.net/2020/02/14/js-intl-in-2020/) gives a great overview of the upcoming ES2020 `Intl` APIs.

Especially the changes in `Intl.NumberFormat` seem very interesting.

[2020-02-25 22:12] jasonmit commented on #1153
Thankfully supporting these changes involves mostly deleting code.  In 5.0.0-unstable we dropped the Intl.JS polyfill.  We should do the same for Intl.RelativeTime.

I'd rather leave the responsibility up to consumers on how/if they want to polyfill these APIs.  Once we have ember-intl 5.0.0 in a good place, we can focus on covering any gaps with missing polyfills.

We need to remove our own custo

[2020-02-26 08:40] #1151 closed

[2020-02-26 21:42] jasonmit commented on #1151
Fixed in 4.2.4

[2020-02-28 12:22] Shajansheriff commented on #1009
I am looking for a solution for the same scenario
`{{format-date '2019-11-11T14:00:00Z' 'MM DD, YYYY / hh:mm a'}}`

Desired output:
`Nov 11, 2019, 02:00 PM`

how to achieve this? How to do this custom format?

[2020-03-06 12:51] Bouke opened #1162 "[Feature Request] Set default timezone (different from user's current timezone)"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.16.1
- Ember CLI Version: 3.16.0
- Ember Intl Version: 4.2.4
- Browser(s): Firefox (latest)
- Node Version: 13.0.1

### F

[2020-03-06 21:02] benreckas opened #1163 "Make {{format-number}} fail gracefully when value is undefined"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.15.0
- Ember CLI Version: 3.15.2
- Ember Intl Version: 4.2.4
- Browser(s): Chrome 80.0.3987.122
- Node Version: 12.14.1

[2020-03-07 00:16] yratanov commented on #890
@jasonmit the problem is is that even if it doesn't exist in `cldr` package, it does exist in real life :)

https://en.wikipedia.org/wiki/Yupik_languages

`ISO 639-2 / 5 | ypk`

Then I won't be able to use this addon at all...

[2020-03-07 00:29] yratanov commented on #890
@jasonmit btw, I don't know how CLDR works, but I see Yupik here: https://github.com/unicode-cldr/cldr-core/blob/6bd4c9863a5bd58e2d69b48806ccd747ffeb9459/supplemental/languageGroups.json#L106

[2020-03-07 04:18] jasonmit commented on #890
@yratanov it's a language group which is different than a locale/language.  Here is a list of supported locales:
https://github.com/unicode-cldr/cldr-core/blob/34.0.0/availableLocales.json

List of supported languages based on plural rules:
https://github.com/unicode-cldr/cldr-core/blob/6bd4c9863a5bd58e2d69b48806ccd747ffeb9459/supplemental/plurals.json

[2020-03-07 06:17] yratanov commented on #890
@jasonmit OK, what should I do if my locale is not in the list, but I still want to add translations and don't want to get hundreds of warnings?

[2020-03-07 09:44] jasonmit commented on #1163
If I remove the assertion, I don't think it will fail gracefully.  `NaN`s will be printed for example for format-number and the other formatters likely have strange results as well when `undefined` is passed in as the value to format.

[2020-03-07 09:52] #1163 closed

[2020-03-07 09:55] jasonmit commented on #1162
Love the idea!

[2020-03-07 20:04] jasonmit commented on #890
If there isn't locale data, I'm unsure how you plan to use the library.  You lose out on reliably formatting numbers, dates, relative time, etc.

Does ypk map to another locale/lang that is supported?

[2020-03-07 21:50] benreckas commented on #1163
Instead of throwing an error in `-format-base.js`, would it be possible to just console.error the same message, and then handle the undefined case in `format-number.js` or the other helpers as needed?

That would prevent applications from entering a broken state, then a simple guard like `if (value === undefined) { return }` in format-number.js would cause the helper to fail gracefully. The helper

[2020-03-07 22:33] jasonmit commented on #1163
This is what `allowEmpty` should be doing:
`{{format-number this.maybeUndefined alllowEmpty=true}}`

If it's falsey, then you won't see an error and the helper will return nothing.

[2020-03-08 14:28] yratanov commented on #890
@jasonmit yes, I'll lose some features, but I'll be able to add my own translations.

I don't see any language form Yupik group there...

[2020-03-09 18:47] nag5000 opened #1166 "Do translation macro really need to be readOnly?"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.4.8
- Ember Intl Version: 4.2.2

Hello! I'm migrating from ember-i18n to ember-intl, and I had a question:

Do translatio

[2020-03-17 08:44] lolmaus opened #1170 "Fail tests/CI on missing translations?"
There are two cases:

* A translation is missing during a test. I would like that test to fail.
* Some of the translation files are missing entries present in other translation files. I would like either `ember t` to fail or have a distinct terminal command that would exit with an error code in case of missing translations.

How do I do that? Not sure if it's a documentation issue or a missing fea

[2020-03-17 18:43] jasonmit commented on #1170
You can implement your own custom behavior for what happens when a translation is missing:
https://ember-intl.github.io/ember-intl/versions/master/docs/guide/missing-translations

Your implementation of this method would check if Ember is in a testing env and if so, throw, else return a string of your liking.

https://ember-intl.github.io/ember-intl/versions/master/docs/guide/missing-translations#

[2020-03-17 18:45] jasonmit commented on #1166
@nag5000 that's a fair point and something we should support.

@buschtoens are you fine with removing the readOnly here?

[2020-03-20 03:40] #1170 closed

[2020-03-20 08:58] lolmaus commented on #1170
@jasonmit Thank you for your explanations, this indeed resolves my issues! 🙏

[2020-03-20 09:00] lolmaus commented on #1170
СС @nickschot @simonihmig

[2020-03-20 14:18] sandstrom commented on #616
Is this about moving to use the node module `intl-messageformat-parser` directly? (https://github.com/formatjs/formatjs/tree/master/packages/intl-messageformat-parser)

[2020-03-20 20:17] jasonmit commented on #616
@sandstrom work was put on pause.  Was talking to @kturney about possibly replacing the parser/compiler which is mentioned here: https://github.com/ember-intl/ember-intl/issues/811#issuecomment-468790810

The migration fixes a number of issues and unlocks custom formatters.  May be a steep cost to migrate and if so, we can likely tackle getting us back on HEAD of the intl-messageformat-parser and

[2020-03-24 09:58] sandstrom commented on #616
Thanks for the update @jasonmit! I ran across that fork of intl-message-format-parser when I tried to track down a syntax error we had. I've opened a separate PR for that (https://github.com/ember-intl/ember-intl/pull/1179).

I agree the change may be useful, since we'd offload/share some of the work with the [other repo](https://github.com/formatjs/formatjs/tree/master/packages/intl-messageformat

[2020-03-24 10:02] sandstrom commented on #534
@jasonmit Can we close this? Since the module unification project [has been discontinued](https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html).

[2020-03-24 10:06] sandstrom opened #1181 "Future Ideas"
Overall this is a great library! 🏅

Just wanted to see if there are any known/planned adjustments for this project.

Some ideas:

- Drop the polyfill code (easier to handle outside this library + more and more browsers support `Intl` now). Primarily to reduce complexity.

- Migrate our [custom intl-messageformat-parser](https://github.com/ember-intl/intl-messageformat-parser) to [intl-messageforma

[2020-03-24 10:08] sandstrom commented on #982
Another solution could be to use suffixes such as `textBlockSection1`, `textBlockSection2` where `…sectionX` is the suffix.

You'd then iterate over them using JS + `exists` to see how many 'sections' you have in a particular locale. Could be coupled with the `requireTranslation` function where you'd check the key suffix to know if it's required or not (to avoid the warning in other locales).

@rw

[2020-03-24 12:59] emattias opened #1182 "Support html/block arguments to t helper"
To my knowledge if you need to have for example an `<input />` with a change listener in the middle of a translatable string you have to split it up into 2 strings:

[code]

#### Problems
- If alot of html/blocks are required its going to be alot of string parts.
- Can cause problems for languages that differ alot in order or direction.

[2020-03-24 13:11] sandstrom opened #1183 "[Feature Request] Replace `app/utils/intl/missing-message.js` with hook"
How about replacing the magic file at `app/utils/intl/missing-message.js` with a hook on the service?

Something like this:

[code]

That hook could be used both to modify the returned message, e.g. by hooking up a fallback message in a specific locale, or used to notify some backend system about the missing translation.

***

The `missing-message` magic file works, but it's an unorthodox way of d

[2020-03-24 13:18] sandstrom commented on #1182
I'd say the common way of doing this is to write all your UI code to accommodate for the fact that breaking them up is painful, i.e. you'd design for translation.

That said, have a look at this (very very early though, and not sure if it'll bear fruit): https://github.com/ember-intl/ember-intl/issues/746

Hope it helps! 🇸🇪

[2020-03-24 17:12] #534 closed

[2020-03-24 19:13] jasonmit commented on #1181
This has been planned just the work hasn't started.

Will stick with yarn since it's served us well up until now.

In 5.x-unstable (master), the polyfill code was removed.

Lets do it!

[2020-03-24 21:29] jasonmit commented on #1182
Lets consolidate the issue with #746 since they're quite similar.

Thanks!

[2020-03-24 21:29] #1182 closed

[2020-03-24 22:54] #1166 closed

[2020-03-24 22:57] jasonmit commented on #1166
Should be fixed in 4.3.0

[2020-03-25 01:16] #1097 closed

[2020-03-25 01:19] jasonmit commented on #1181
Closing since these can be tracked in their individual issues that we referenced above.

[2020-03-25 01:19] #1181 closed

[2020-03-25 02:07] jasonmit opened #1185 "Update formatjs libs"
* [x] migrate from `intl-relativetimeformat` to `@formatjs/intl-relativetimeformat`
Note: There are many breaking changes in this upgrade but necessary to align with the native API.
Breaking changes: API is more or less entirely different now.  Different options and behavior.  No longer supports passing in Date() instances.  Drops use of `now` and `interval`
* [x] update to latest parser and compi

[2020-03-25 23:10] todo[bot] opened #1188 "implement complete list"
https://github.com/ember-intl/ember-intl/blob/94421b198a2441dc59bdb93756bb782fb65ca1ff/tests/dummy/app/pods/docs/helpers/format-relative/template.md#L44-L46

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 94421b198a2441dc59bdb93756bb782fb65ca1ff when #1186 was merged. cc @ember-intl.

[2020-03-25 23:10] todo[bot] opened #1189 "implement complete list"
https://github.com/ember-intl/ember-intl/blob/4b5e0570cce796f27f7bf9bb90947dd38d0951e1/tests/dummy/app/pods/docs/helpers/format-relative/template.md#L44-L46

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 4b5e0570cce796f27f7bf9bb90947dd38d0951e1. It&#x27;s been assigned to @jasonmit because they committed the code.

[2020-03-25 23:10] #1188 closed

[2020-03-25 23:11] #1185 closed

[2020-03-25 23:13] jasonmit commented on #1153
Master now is using all native Intl APIs, polyfills removed and now on the native Intl.RelativeTime API (note, the implementation is _very_ different from the previous proposal).

We're also now on the latest version of the intl-messageformat API which now uses the native Intl.PluralRules API under the hood.

I'll be version a 5.0.0-unstable very soon.

[2020-03-25 23:13] #1153 closed

[2020-03-25 23:16] jasonmit commented on #783
After updating the translation parser and compiler, this should now be resolved on master.

There are many breaking changes so will be releasing a 5.0.0-unstable shortly while I document all the breaking changes.

[2020-03-25 23:16] #783 closed

[2020-03-25 23:19] jasonmit commented on #616
After updating the translation parser and compiler, this should now be resolved on master.  Single quotes now properly escapes characters within the ICU syntax.

There are many breaking changes so will be releasing a 5.0.0-unstable shortly while I document all the breaking changes.

[2020-03-25 23:19] #616 closed

[2020-03-25 23:22] jasonmit commented on #811
Going to close this for now as it's out of scope for this project.

I just finished updating the intl-messageformat compiler & parser. If and when we support this, it will need to happen upstream.  Track this issue if you're interested: https://github.com/formatjs/formatjs/issues/20

[2020-03-25 23:22] #811 closed

[2020-03-25 23:22] #1189 closed

[2020-03-25 23:23] jasonmit commented on #1103
We're now on the latest version of the intl-messageformat and intl-messageformat-parser.  So if the upstream issue is fixed, it will be present in the future 5.0.0-unstable version.  Note, lots of breaking changes that I need to document first before releasing as stable.

[2020-03-25 23:23] #1103 closed

[2020-03-25 23:25] jasonmit commented on #638
Decided to no longer support polyfilling.  There are many strategies and they vary between projects - so I'm going to leave that up to the users to decide.  I've documented the browser/runtime requirements here: https://github.com/ember-intl/ember-intl/blob/master/tests/dummy/app/pods/docs/getting-started/runtime-requirements/template.md

[2020-03-25 23:25] #638 closed

[2020-03-26 00:13] timiyay commented on #638
@jasonmit does this mean the necessary polyfill files won't be included in our Ember builds anymore?

We have some conditional polyfill logic that uses the poyfill JS files that `ember-intl` includes in our builds, like `/assets/intl/intl.min.js`, `/assets/intl/locales/en.js`, etc.

Will there be a breaking change where these files are no longer available to us? I'll need to schedule some maintena

[2020-03-26 00:52] jasonmit commented on #638
In the near future 5.x release we are moving to an entire native approach Intl API approach.

ember-intl will assume APIs such as `Intl.NumberFormat`, `Intl.DateTimeFormat`, [`Intl.RelativeTimeFormat`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RelativeTimeFormat) and [`Intl.PluralRules`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global

[2020-03-26 03:41] timiyay commented on #638
Thanks for the extra details, that lets me plan our next moves.

[2020-03-26 05:15] jasonmit commented on #1181
I completed these both today, changes are on master.  Many breaking changes, so still need to document everything before releasing 5.0.0-alpha/beta

[2020-03-26 08:14] jasonmit opened #1193 "perf: cache result of parser, use in place of the raw translation"
Cache result of parser, use in place of the raw translation.  Repeated calls for the same locale and translation key should not hit the parser inside of [`intl-messageformat`](https://github.com/formatjs/formatjs/blob/master/packages/intl-messageformat/src/core.ts#L102).

[2020-03-26 12:28] sandstrom commented on #1183
@jasonmit Does this sound like a good idea to you?

- Do you have any preferences on the method signature for such a hook?

- For the third argument `options`, to we want to pass along the options that was originally passed into the `t` helper?

- In what cases should we trigger this? Only for `t` helper, `t` computed property and `t` on service?
- Should it also trigger for `lookup`? I'm thinking

[2020-03-26 15:18] houfeng0923 commented on #401
@jacobq  is this topic in progress?

Thanks your work. I'd like  a flexible `inputPath` prop,  a [source], or mergeTrees, so we can organize i18n text nearly logic, even `building app`.

I am working on a non-standard project (like a composite emberApp), it has more than one `app` folders, so every app has own i18n, a structure like this:

[code]

so, in [treeForApp()](https://github.com/ember-int

[2020-03-26 20:44] jasonmit commented on #401
@houfeng0923 I'm having trouble understanding your comment.

[2020-03-27 01:41] houfeng0923 commented on #401
@jasonmit  thanks your advise.

about addon, in my previous version , i test a addon to do this .but i want to reorganize code in some other structure . and sorry for unclear , u can ignore this structure in this discuss.

what i want to say is ,  just as this issue title,  some times we want to  have translations grouped by route or components (in my case , is sub app),  and it's a root app (not

[2020-03-27 10:55] sandstrom opened #1195 "Automatic HTML-safe escaping of options"
Right now ember-intl has some nifty html-safe escaping.

If the argument `htmlSafe` is passed to the `t` helper it won't escape:

https://github.com/ember-intl/ember-intl/blob/4b5e0570cce796f27f7bf9bb90947dd38d0951e1/addon/-private/formatters/format-message.js#L49-L54

I'm curious, would it be possible to iterate over the options hash and check `isHtmlSafe` ([ref](https://api.emberjs.com/ember/rel

[2020-03-27 21:43] jasonmit commented on #1195
Are you referring to the new escaping format of tags in a translation (master, not 4.0)?   If so, yes - this is something I've also been thinking about since updating the parser - which changed escaping.

Right now neither argument is html safe and both are escaped.

Just thinking out loud, would an API like this resolve your concern of providing more granularity?

[code]

I personally don't like

[2020-03-28 03:57] #1193 closed

[2020-03-28 04:12] jasonmit commented on #1183
Yeah I'm in favor of this change.

I like the idea of even on lookups that the users are notified (console warnings).  This way it's very clear when something has gone wrong.

By default we'll keep the same behavior as now where we warn on either {{t}} or an intl.lookup.  We should provide this context to the function, perhaps as a third argument (`kind/type`).  This way if users want to implement

[2020-03-28 05:43] todo[bot] opened #1201 "convert this parse if `ast` is a string (it can be if not going through .t() pat..."
https://github.com/ember-intl/ember-intl/blob/e0ff1d1df4861b841b97e38bd3ab7c364512e965/addon/-private/formatters/format-message.js#L53-L58

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e0ff1d1df4861b841b97e38bd3ab7c364512e965 when #1200 was merged. cc @ember-intl.

[2020-03-28 05:43] todo[bot] opened #1202 "convert this parse if `ast` is a string (it can be if not going through .t() pat..."
https://github.com/ember-intl/ember-intl/blob/03c6c9d89ebe8cfc7098deedb7b8c1cda43de532/addon/-private/formatters/format-message.js#L53-L58

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 03c6c9d89ebe8cfc7098deedb7b8c1cda43de532. It&#x27;s been assigned to @jasonmit because they committed the code.

[2020-03-28 05:51] #1202 closed

[2020-03-28 05:51] #1201 closed

[2020-03-28 21:45] jasonmit commented on #1183
I started on a generic onError hook that will pass in a type and the error - will be used for missing translations and missing polyfills for now.  It's not yet public but will likely make it public before 5.0.0.

[2020-03-28 21:46] jasonmit commented on #1162
I'll be tackling this in 5.0.0.  I'm going to rework the format.js file to also support "default" formats for each type along with the named types.  I don't yet have an API in mind, still thinking of options but that's the overall idea right now.

[2020-03-28 22:01] jasonmit opened #1207 "feat: put translations in addon tree at fixed location"
Right now we put the translations in each of their own modules in the app tree, this can now change to be a single module at a known location.

This will avoid using private-ish APIs to discover them.

[2020-03-29 17:04] rwwagner90 commented on #982
@sandstrom there are multiple ways to use the existing API, but I don't think exposing an array as is should be too difficult to support either.

[2020-03-30 11:21] sandstrom commented on #1183
@jasonmit Awesome! 🎉

Good point, if we can give people something to switch on (context), notifying on failed lookups makes sense too (that way users can choose how to handle it).

Passing an extra argument (`kind/type`) is certainly one way and I don't object to it.

But perhaps encoding that in the error itself would also work?

For example:

[code]

Just wanted to put the idea out there. Either

[2020-03-30 12:18] sandstrom commented on #1195
Thanks for taking time Jason!

Nope, I don't know what that is 😄

Good point, that makes sense!

I've inlined the scenario that prompted this issue below, for more context.

***

This is our current scenario:

[code]

[code]

[code]

The idea when I opened this issue was that since we've already marked this html-snippet as htmlSafe, ember-intl could pick that up and skip escaping.

However, if it

[2020-03-30 19:19] jasonmit commented on #1195
Not the best example but my point is it's returning an `Object`.  Likely something internal to the templating engine calling `toString()` on it.  However, my point still stands where if you're composing helpers or passing the result of the `{{t}}` helper to something that assume it's a String will suddenly be dealing with an Object when htmlSafe=true is passed in.  So while making translations htm

[2020-03-31 07:48] sandstrom commented on #1195
I see your point about returning an object.

Maybe it'll make more sense to postpone this until later?

If Ember drops support for IE11 it should be possible to move `SafeString` to be a proper subclass of `String`. At that point we could revisit whether the helpers should take a different approach to escaping compared to what they're doing now.

Always returning a SafeString, possibly coupled wit

[2020-03-31 07:55] jasonmit commented on #1195
Merged and I appreciate the sanity checks <3

Will close for now but I'm sure will come up from time to time so will continue to reference until we have a better solution!

[2020-03-31 07:55] #1195 closed

[2020-04-03 02:31] jasonmit commented on #1162
Here's the API I've sort of settled on.  It will involving creating a `defaults` key within the formatter type you want to always want.  Can be set at runtime via `intl.set('formats', {});`.

[code]

[2020-04-03 19:16] wopian opened #1218 "Ability to silence "ICU argument missing" warnings for missing/non-translated keys"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.9.0
- Ember CLI Version: 3.9.0
- Ember Intl Version: 4.2.4
- Browser(s): N/A
- Node Version: 13.11.0

### Steps to Reprod

[2020-04-04 21:08] jasonmit commented on #1218
https://github.com/ember-intl/ember-intl/pull/1180 is trying to solve this.  I don't yet have an API in mind for it - feel free to propose one.

[2020-04-05 05:39] #1207 closed

[2020-04-08 16:07] sandstrom commented on #804
@zkrzyzanowski maybe this will solve your issue? https://github.com/ef4/ember-auto-import/issues/275

[2020-04-09 19:30] jasonmit commented on #1218
This will be resolved in the next 5.0.0 prerelease

Thanks @sandstrom

https://github.com/ember-intl/ember-intl/pull/1224

[2020-04-11 15:26] nightire opened #1232 "v4.3.1 may break ember-auto-import usage"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.17.3
- Ember CLI Version: 3.17.0
- Ember Intl Version: 4.3.1
- Browser(s): any modern browsers
- Node Version: 12.16.2

*

[2020-04-11 18:50] bobisjan commented on #1232
Yes, that was unfortunate (and buggy for other use cases) behaviour of the configuration provided by this add-on, now it should be clear that some other deps need attention by application itself (`jszip` is not used by `ember-intl` at all).

`ember-auto-import` explicitly does not want to have this _magic_ by default https://github.com/ef4/ember-auto-import/issues/215.

Hope this helps, and thanks

[2020-04-13 11:24] EvgenyOrekhov commented on #1232
4.3.1 broke our build:

[code]

From my standpoint, it's a problem with ember-intl. If I'm mistaken, could you please explain why this happens with 4.3.1 and how to fix it properly.

[2020-04-13 13:08] bobisjan commented on #1232
@EvgenyOrekhov, I assume that the error you see now is caused by importing some dependency (complete error stack should tell which), but this dependency most likely is not related to `ember-intl`.

The provided configuration before the fix in 4.3.1 was broken for FastBoot environment (by mocking the `global`), hence the bugfix release.

If the _hidden_ config worked well for your application, you

[2020-04-14 06:30] jasonmit commented on #1232
I'll keep this issue open for visibility for the time being since it's likely useful information for everyone who was indirectly relying on ember-intl to set this ember-auto-import setting for them.

[2020-04-14 07:57] EvgenyOrekhov commented on #1232
@bobisjan The only packages I can see in the stack trace are broccoli-plugin, ember-auto-import, and ember-cli. So I have no idea which package causes the error. The `global: true` solution works, but I also tried `global: false`, and it also works. How can this be possible?

[2020-04-14 15:26] jlami opened #1239 "HTML lang tag set too early"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.17.0 in twiddle (but I encountered it on 3.16.6 myself)
- Ember CLI Version: N/A (3.16.1 myself)
- Ember Intl Version: 4.

[2020-04-15 22:01] arohr opened #1241 "Reduce build time and size"
Is it possible to configure ember-intl so that only really needed locales are included into the app build in order to reduce build time and size?

[2020-04-16 08:48] jasonmit commented on #1241
If ember-intl manages your translations, it discovers which locales need to be bundles.  Otherwise, you need need to declare the locales you are targeting here: https://github.com/ember-intl/ember-intl/blob/4.x/config/ember-intl.js#L18

Worth noting, in 5.0.0-beta we no longer include any polyfills which will result in a smaller payloads.  If you go that route, be sure to read the [breaking change

[2020-04-16 08:51] jasonmit commented on #1239
Thank for opening, the ember-twiddle is super helpful.  I'll look at patching this soon!

[2020-04-16 11:51] arohr commented on #1241
I only have one file in `translations/`: `de-ch.yaml` but the built app contains 719 files in `dist/assets/intl/locales/`. Note: `ember-intl` is used in a addon consumed by the app. Also I tried the `locales` configuration mentioned above with no success.

[2020-04-16 17:02] st-h commented on #1232
@EvgenyOrekhov same here. No hint in the logs which addon actually has been causing the error. Had to upgrade one dependency, build, run, repeat to find out which addon is causing the error.

@nightire thanks for opening this issue and providing a workaround. Though, I am not sure I exactly understand what is going on.

@jasonmit Can you provide details what could cause an app to indirectly rely o

[2020-04-16 18:35] jasonmit commented on #1241
Can you post you ember-intl.js config

[2020-04-16 18:37] arohr commented on #1241
[code]

[2020-04-16 18:51] jasonmit commented on #1232
ember-intl is not part of the problem here, your app (or an addon) is bundling a dependency in your app via ember-auto-import/webpack where one of the modules being imported references `global` and causes that exception to be thrown.  Prior, ember-intl would tell ember-auto-import to turn `global` on because ember-intl needed that setting to be set.  Ember-intl no longer sets this setting because

[2020-04-16 18:53] jasonmit commented on #1241
Are you also on version 4.3.1?

[2020-04-16 18:55] arohr commented on #1241
4.3.0

[2020-04-16 18:57] arohr commented on #1241
The host app does not have `ember-intl` in `package.json`, but in the addon `ember-intl` is in `dependencies` not `devDependencies`.

[2020-04-16 18:58] jasonmit commented on #1241
Add ember-intl to your app's package.json and the issue will likely go away.

[2020-04-16 19:31] arohr commented on #1241
Unfortunately not. I put `ember-intl` in `devDependencies` both in the addon and the host app. But when building the app still all locales are bundled.

[2020-04-16 19:43] jasonmit commented on #1241
Even with `locales: ['de-ch']` in your app's config?

[2020-04-16 20:45] arohr commented on #1241
It works now. I forgot to add the `ember-intl.js` file to the app.

It works as expected if:
* default `ember-intl.js` and `translations/de-ch.yaml` is present in the app
* or only `ember-intl.js` with `locales: ['de-ch']` is present in the app

Thank you very much for your support!

[2020-04-16 20:54] jasonmit commented on #1241
Awesome - glad we solved it!  I'd go back and make this more obvious if it weren't for 5.x removing the polyfilling behavior (and with it the need to provide `locales`).

[2020-04-16 20:54] #1241 closed

[2020-04-17 06:50] nightire commented on #1232
@st-h the `global` option here is to refer the top-level object in Node.js environment (in browser this object is called `window`)

We use webpack to import 3rd-party libs, some of them use `global` in its source, to make them work, you have to tell webpack: please expose the `global` variable to those node.js compatible libs.

It's often been required in two scenarios:

1. Your application is run

[2020-04-17 13:48] houfeng0923 opened #1242 "o my node_modules"
hi, when i replace ember-i18n to ember-intl, someday i have a check for node_modules :

[code]
and the top three libs is :

[code]
Compared to before using intl, node_modules has increased by >100M, to >300M!

In fact, the i18n requirment of my project is very simple, with only basic copywriting in English, Chinese and Japanese. No other features are used except for the helper `t`.

so can formatt

[2020-04-17 22:20] jasonmit commented on #1242
Upgrade to 5.x-beta the polyfills are removed.

[2020-04-17 22:21] #1242 closed

[2020-04-19 01:40] houfeng0923 commented on #1242
@jasonmit great , i will try it

[2020-04-20 10:46] mansona opened #1248 "The release of 4.3.1 should have been a major change"
Hey folks 👋

I know that the "bug" that was fixed in 4.3.1 would suggest that it should be a patch release, because it can change the behaviour of the host app it really should have been a 5.0 release 🙈 Any app that was (accidentally) relying on this config will now break when updating a patch release for ember-intl

[2020-04-20 10:52] Turbo87 commented on #1248
FWIW I tend to agree with @jasonmit that this is a bug fix. Yes, in some cases it might break apps, but only because those apps have neglected to configure their auto-import correctly. That misconfiguration is most likely caused by this bug existing in ember-intl, but I still don't think that this bugfix would need a major version release. What would have been nice though is mentioning this more e

[2020-04-20 11:01] mansona commented on #1248
The reason why this is so problematic is that the time you should "configure your auto-import correctly" is when you're adding a third party node package that relies on the particular Node globals definitions.

Having defaults like this change in a patch release of an unrelated package will cause a lot of problems for teams or developers that aren't aware of the specific auto-import/webpack issue

[2020-04-20 18:37] jasonmit commented on #1248
Closing in favor of https://github.com/ember-intl/ember-intl/issues/1232

It was an actual bug as it was breaking fastboot for some.  If it were harmless I would entertain keeping it around for the sake of apps that rely on global but have not configured ember-auto-import.

[2020-04-20 18:37] #1248 closed

[2020-04-20 18:42] jasonmit commented on #1248
Also this upstream change landed in a minor version of ember auto import: https://github.com/ef4/ember-auto-import/pull/216/ which set this chain of events off.

[2020-04-20 21:29] jasonmit commented on #1248
@Turbo87 I don't keep a CHANGELOG because I find them to be a bit redundant and often times missing information.  I simply don't have a process I like for keeping a CHANGELOG running and trustworthy.  I updated the [release notes of 4.3.1](https://github.com/ember-intl/ember-intl/releases/tag/v4.3.1) to add context re: this issue.  For the time being, I recommend diffing release tags to see what c

[2020-04-21 06:00] Turbo87 commented on #1248
I can recommend using https://github.com/lerna/lerna-changelog to automatically generate the changelog based on merged and labeled PRs

[2020-04-24 07:48] jasonmit commented on #1035
Will release a 4.x patch soon.  Closing, thanks!

[2020-04-24 07:48] #1035 closed

[2020-04-26 11:34] st-h commented on #1232
Thanks a lot for the explanation. Still got to look into what is causing this in my app, but I think I understand what is happening now.

[2020-04-26 22:38] jasonmit commented on #1035
Released as v4.3.2

Thanks!

[2020-04-29 11:52] NullVoxPopuli commented on #858
@martony38 I just ran in to this issue with ember-intl and your packageRule fixed it for me :)
do you have entries for `@ember-data/model/-private` and `ember-destroyable-polyfill/-internal/patch-meta`?

Related:
 - https://github.com/ember-polyfills/ember-destroyable-polyfill/issues/12

[2020-04-29 15:15] martony38 commented on #858
@NullVoxPopuli nope :man_shrugging:

[2020-04-30 10:57] achambers opened #1260 "Add support for `hourCycle` date/time format option"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.13.2
- Ember CLI Version: 3.16.0
- Ember Intl Version: 4.3.2
- Browser(s): Chrome 81.0.4044.122
- Node Version: 8.12.0

#

[2020-04-30 11:01] achambers commented on #1260
👋 Hi maintainers. Thanks for a great addon.

We have come across a scenario where we need the ability to set the `hourCycle` property when formatting times. It's a simple change to this codebase but wanted to document it as an issue to find out what the etiquette is for contributing this sort of change.

Firstly, is this something you're open to exposing to users and adding to this addon?

If so,

[2020-05-01 08:00] achambers commented on #1260
Hi @jasonmit. Wondered if I could get your thoughts on this.

[2020-05-01 09:48] jasonmit commented on #1260
@achambers 👋

You nailed it.  If we're adding new features to `4.x` I'd prefer having two PRs - one for master and one for `4.x`.  Most features I'd like to just target for `master` but this seems relatively small so I'm fine with also adding it also to 4.x.

I know it's not the best workflow for contributors at the moment and I apologize.

Much appreciated for taking this up.

[2020-05-01 10:26] achambers commented on #1260
No probs at all mate. Happy to help.

[2020-05-02 20:53] jasonmit commented on #1260
Released in 4.4.0 and I added it to master as well.

Thanks!

[2020-05-02 20:53] #1260 closed

[2020-05-02 22:37] jasonmit opened #1267 "feat: Add runtime warnings to remove obsolete ember-intl config options"
Options such as `locales` and `autoPolyfill` are no longer used, we can warn to remove if present in 5.0.0.

[2020-05-03 01:32] #1267 closed

[2020-05-03 02:30] richard-viney opened #1268 "Main site not working on Safari/iPhone/iPad, needs polyfill?"
The website at https://ember-intl.github.io/ember-intl/versions/master/docs/quickstart isn't currently working on the latest Safari 13.1 on macOS, nor on the latest Mobile Safari on iPhone/iPad either.

The error is:

[code]

Should hopefully be an easy fix?

[2020-05-03 02:51] jasonmit commented on #1268
Thanks for the heads up, deploy for the doc fix going out now.

[2020-05-03 04:03] richard-viney commented on #1268
Great, thanks!

Just a quick followup after reading https://ember-intl.github.io/ember-intl/versions/master/docs/runtime-requirements which appears to have come from https://formatjs.io/docs/react-intl

1. The second line refers to "React Intl", but I think should say Ember?

2. The bold line "We support IE11 & 2 most recent versions of Edge, Chrome & Firefox." could mention Safari given that it a

[2020-05-03 04:10] richard-viney commented on #1268
Should we also add `@formatjs/intl-pluralrules` so that Safari 12 is supported?

[2020-05-03 04:10] jasonmit commented on #1268
1. Yup, this was derived from the react-intl API (we share the same foundation and 5.0.0 was bringing the implementations closer together).  I missed it in the copy/paste - will fix :)

2. Definitely will fix that

3. Good catch!

4. I'll look into this and update react-intl docs as well

Seems reasonable and an easy fix, will add.

[2020-05-03 05:05] #1268 closed

[2020-05-03 05:21] jasonmit commented on #1268
I believe I've addressed everything: https://ember-intl.github.io/ember-intl/docs/runtime-requirements

[2020-05-04 17:32] jacobq opened #1273 "Document 4.x to 5.x migration"
I have looked through the releases for comments, looked for `CHANGELOG.md` in source (looks like there was one once upon a time, but it is gone now), scanned commit messages for clues, looked for 4.x -> 5.x migration notes on doc site, etc. but did not find anything. I suspect that I am not the only one who would really like to be able to easily determine what significant/breaking changes have bee

[2020-05-04 17:39] jacobq commented on #1273
Aha, digging deeper I see something here:
https://ember-intl.github.io/ember-intl/versions/master/docs/cookbook/migration-4-0-to-5-0
Why is this not with the other migration notes (under legacy)?

[2020-05-04 20:43] robclancy commented on #1273
I don't get this. They went through all this effort to setup documentation, these nice updates (I assume, since I can't know what is in them without searching commits), making it good so that ember-i18n even redirects to here now. And there is **no change log**.

[2020-05-05 03:49] jasonmit commented on #1273
The migration doc is there: https://ember-intl.github.io/ember-intl/docs/cookbook/migration-4-0-to-5-0

I can move it upwards in the section, thanks for the feedback.

@robclancy I've never maintained a changelog - sorry.

[2020-05-05 03:49] #1273 closed

[2020-05-05 07:37] achambers commented on #1260
Just started to get back to it now and see it's done. Thanks man. Sorry for not getting to it sooner.

[2020-05-05 07:44] jasonmit commented on #1260
Not a problem, I just wanted to get it out to cut 5.0.0.  Thanks for landing it in the first place!

[2020-05-05 22:00] jasonmit commented on #1273
@jacobq I linked it from the README - hopefully making it more visible.

I'll try and add more details around what changes but the gist is there's no more polyfills and all the pluralization rules are now no longer bundled with your app, the message parser/compiler was updated - which in turn fixes bugs around escaping and unlocks our ability to support all native APIs.

The big breaking change is

[2020-05-05 22:40] wopian opened #1283 "Missing ICU argument warnings still appear for keys not present in 5.0.6"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

5.0.0 added https://github.com/ember-intl/ember-intl/pull/1224 which was intended to suppress missing ICU argument warnings for keys not present in a given l

[2020-05-05 22:45] wopian commented on #1283
Build artefact with 5.0.6: https://travis-ci.com/github/hummingbird-me/hummingbird-client/builds/164073640
Build artefact with 4.2.4: https://travis-ci.com/github/hummingbird-me/hummingbird-client/builds/164062793

[2020-05-05 22:53] wopian commented on #1283
Ran a diff between the 2 log outputs https://gist.github.com/wopian/5143de8fd35f74e842968a34aae78034/revisions

Largely identical, but `5.0.6` didn't have warnings for `link` and `mediaType` variables.

[code]

[2020-05-05 22:56] jasonmit commented on #1283
@wopian I created an en-us.yml and af-za.yml (mostly empty) file and copied your example.  I could not reproduce this on 5.0.6.

Is it possible you have an addon/engine that might be pulling in ember-intl@4 still?  If that's not it, can you create an empty app and reproduce?  Would help greatly.

[2020-05-05 22:58] wopian commented on #1283
ember-intl@5 is the only dependency in lock.file. Will create an empty app.

[2020-05-05 23:22] wopian commented on #1283
I'm surprised how much Ember installs for a new project (and that `ember init` is broken by default until you create a styles directory and add CSS)

[code]

https://github.com/wopian/ember-intl-test/blob/master/config/ember-intl.js
https://github.com/wopian/ember-intl-test/blob/master/app/templates/application.hbs
https://github.com/wopian/ember-intl-test/blob/master/translations/en-us.yaml
https

[2020-05-06 00:32] jasonmit commented on #1283
@sandstrom it appears the logic for this fix isn't correct.  Do you want to take up fixing this?

[2020-05-06 01:49] wopian commented on #1283
I think my initial title of this issue may not have been clear as to the exact issue in my examples. The PR as I was aware should be doing the following:
- Give mismatch warning if the key exists in another locale outside of `en-us` (e.g `af-za`) but is mismatched (e.g `goodbye` key missing the {world} or another variable in its place)
- Shouldn't give mismatch warnings if the key is missing (like

[2020-05-06 01:55] jasonmit commented on #1283
Okay I believe I have the logic under wraps now, feel free to verify #1285.  Once you confirm I'll work on the failing tests and will version.

[2020-05-06 04:19] jasonmit commented on #1218
Reopening because the current implementation has issues & we'll need to tackle it differently.

In retrospect, `requiresTranslation` should not have been used in two different contexts (mismatch arguments and missing translations).  A new hook will need to be added - and I'm not a fan of adding more options for the linter in the configs current form.  I want to rethink the linting config API - whi

[2020-05-06 04:52] #1218 closed

[2020-05-06 04:53] jasonmit commented on #1218
5.0.7 corrects the behavior.

[2020-05-06 04:53] jasonmit commented on #1283
5.0.7 corrects the behavior.

[2020-05-06 04:53] #1283 closed

[2020-05-06 05:05] jasonmit opened #1286 "Rebuild linter config"
With the number of growing linter options, things are becoming a bit confusing.

For example, what happens when you have a `fallbackLocale` specified and therefore do not care about missing translations.  Right now there isn't really a way to opt out of warnings or erroring.

My plan is to simplify the API and empower the user to decide what to do in favor of simplifying the configuration file.

[

[2020-05-06 05:22] jacobq commented on #1273
@jasonmit Thanks for all your work on this. I hope I didn't come off as rude in opening this issue. It just seems ironic to me that you did the harder thing (writing a docs website) but skipped the easier one (just writing something like you wrote above with the GitHub release).

![image](https://user-images.githubusercontent.com/1633459/81140333-90dea780-8f2e-11ea-9cbb-85effead7bf5.png)

FWIW, I

[2020-05-06 07:15] jasonmit commented on #1273
Feedback received: https://github.com/ember-intl/ember-intl/releases/tag/v5.0.0

Noted some more changes here that I'll need to reflect back in the docs as well.

5.0.0 was a release to simplify things, speed up builds (for those polyfilling), and reduce the bundle size (no polyfills & no pluralization rules).

[2020-05-06 07:53] jasonmit opened #1287 "[Feature Request] <FormattedPlural />"
Port over [`<FormattedPlural />`](https://formatjs.io/docs/react-intl/components#formattedplural)

[code]

[2020-05-06 08:57] sandstrom opened #1288 "ICU arguments mismatch warning"
The code in https://github.com/ember-intl/ember-intl/pull/1285 works great! We've gotten rid of 50 or so ICU mismatch warnings.

However, there is still one around:

That can be reproduced using these two YAML files:

[code]

***

### Environment

- Ember Version: 3.17.0
- Ember CLI Version: 3.17.0
- Ember Intl Version: 5.0.7
- Browser(s): Chrome 80.0.3987.163
- Node Version: 10.18.1
- OS: macOS C

[2020-05-06 09:07] jasonmit commented on #1288
I'll have a look soon, thanks for reporting it!

[2020-05-06 14:35] st-h opened #1289 "Upgrading to 5.x following html guidelines breaks build"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate
### Environment

- Ember Version: 3.18.1
- Ember CLI Version: 3.18.0
- Ember Intl Version: 5.0.7
- Browser(s): NA
- Node Version: 13.12.0

### Steps to Reprod

[2020-05-06 19:28] jasonmit commented on #1289
You're confusing YAML string escaping with ICU special character/tag escaping.  They're different things.  What you ultimately landed on is correctly escaping YAML and correctly escaping the <span> tag.

[2020-05-06 19:28] #1289 closed

[2020-05-06 19:42] jasonmit commented on #1289
Added this to the docs to hopefully clear that up: https://github.com/ember-intl/ember-intl/commit/7d2133295cc8bbb6f7af72e3f5d0d65f43181cf5

[2020-05-06 19:45] jasonmit commented on #783
This is resolved in 5.0.0.  Single ticks are now the recommended approach.

[2020-05-06 19:46] jasonmit commented on #616
This should now be resolved in 5.0.0, single quotes are now the method of escaping (as per the ICU spec).

[2020-05-07 00:58] wopian opened #1290 "Escaping # in select/plural/etc"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

Before `5.0.0`, # did not need to be escaped in `select`. In `5.0.x` it now gets parsed the same as `plural`.

In my usage, `#` was only ever used in `select

[2020-05-07 01:13] wopian commented on #1290
Example repo https://github.com/wopian/ember-intl-test/tree/1290

[2020-05-07 01:47] jasonmit commented on #1290
@wopian unsure why the `intl-messageformat` is doing this but it appears you don't need to escape if you put a space after the `#`.  This may be spec valid, I'll need to look into it more.

[code]

FYI - it will not emit a space in between `#` and `rank`.

[2020-05-07 01:48] wopian commented on #1290
👍

[2020-05-07 01:49] #1288 closed

[2020-05-07 01:50] jasonmit commented on #1288
Good catch, fixed in 5.0.08!

[2020-05-07 01:59] wopian commented on #1290
Right now it emits a space between # and rank:

11 Rank NaN 1

[code]

12 Rank # 1

[code]

[2020-05-07 02:16] jasonmit commented on #1290
Okay unsure what I was seeing then - sorry.  I'll need to open a bug upstream in intl-messageformat and figure out what's going on.

[2020-05-07 03:23] jasonmit commented on #1290
Figured it out, fix incoming.

[2020-05-07 03:38] #1290 closed

[2020-05-07 03:39] jasonmit commented on #1290
Fixed in 5.0.9

[2020-05-07 09:18] sandstrom commented on #1288
@jasonmit Awesome! 💯

[2020-05-07 10:03] st-h commented on #1289
@jasonmit thank you, I think this makes it clearer. I was also wondering if it would make sense to add an example like this, which would show how to escape an attribute (which might be a common case)
[code]

[2020-05-07 13:22] wopian commented on #1290
Awesome! ❤️

[2020-05-13 14:25] jacobq commented on #1183
FWIW I think that this change would also help make this compatible with [`ember-cli-typescript`](https://github.com/typed-ember/ember-cli-typescript), i.e. prevent a message like the following (https://github.com/typed-ember/ember-cli-typescript/pull/1046) when trying to generate `missing-message.js` from `missing-message.ts`
[code]

[2020-05-13 14:33] jacobq opened #1299 "Prevent "A message must be provided as a String or AST" error from being throw"
I still occasionally run into the error message "A message must be provided as a String or AST" with v5.x (addressed by #621?). I realize this is probably my fault (i.e. bug in my app passes bad parameter to `t` helper or something). However, the app would "still work" (aside from missing some text) if the error did not occur, but the error makes Ember blow up, so I would like to downgrade it to a

[2020-05-13 22:25] jasonmit commented on #1299
Curious if you can find out what you're passing into it.  Maybe we could handle it better.  My guess is maybe undefined/null?

This is coming from the intl-messageformat compiler.  We're passing something right through to it that isn't a string or AST object in this case.

We can very likely catch errors like this and add more details to the thrown error.

[2020-05-14 05:46] ankitmadhwani24 opened #1300 "Getting missing translation in build console."
Hi
I am getting the missing translation waring in ember build console while creating a build

[ember-intl] "missing " was not found in "en-en"

How it can be removed throw Ember CLI build console. Please help and thanks in advance.

[2020-05-14 20:45] jacobq opened #1301 "Use default locale when none configured?"
I would really like to be able to recover from / avoid bugs in my app where the locale becomes unconfigured (e.g. normally I read them from a JSON file, and I do my best to validate things, but sometimes things still slip through). Would you consider making it possible to use the fallback locale for cases where the selected locale does not exist? For example, consider the following repro/example:

[2020-05-15 03:09] jasonmit commented on #1300
Really not much to go off here, can you share the steps to reproduce?

[2020-05-15 03:15] jasonmit commented on #1301
Unsure what you mean.  A locale not existing or a translation not existing?

The behavior I think you're describing exists:  `intl.setLocale(['zh-cn', 'en-us'])` means try zh-cn if a translation doesn't exist for that locale, try en-us's locale for a translation lookup instead.

[2020-05-15 03:35] jacobq commented on #1301
I wanted to cover both cases, not just the case of translation missing.

I guess what I would like is a declarative (constant in `config/ember-intl.js`) way to guarantee that a "Missing translation error" will *never* happen for keys that have translations defined in `translations/en.json`. Right now, if `intl.setLocale(...)` gets a bogus value it botches things up.

Again, I realize that there's

[2020-05-15 03:55] jasonmit commented on #1301
Can you explain this further because when a translation doesn't exist it shouldn't bring down the app it should emit a "missing translation" error in the DOM.  If that's not what's happening (perhaps I didn't account for bogus locales being provided?), let me know and we'll try and get that patched.

Can you give an example of when having `"en"` at the end of your `setLocale` array doesn't cause i

[2020-05-15 04:23] jacobq commented on #1301
Well, this is embarrassing to admit, but I don't know how to prevent those errors from disrupting things (tried defining `Ember.onerror = window.onerror = function(e) { /* just log e */ }` and overriding `missingMessage`). Maybe I'm also getting confused with the `Message must be AST or String` error (#1299) (which definitely takes down my app) since both were happening in the most recent incident

[2020-05-15 04:35] jacobq commented on #1299
I finally tracked it down. It was `undefined`. Somehow one of the attributes on one of the models did not get saved in this case. So when a component tried to do something like `{{t @someModel.type}}` it threw the error.

As I was trying to explain before, typically a single problem like this one isn't hard to fix once identified, but I had to do a lot of digging around to isolate the culprit, so

[2020-05-15 05:01] jacobq commented on #1299
I've been putting a breakpoint on my `Ember.onerror` function, which I think serves the same end (otherwise I have to enable breaking on caught exceptions, which leads to lots of false positives, or turn off my error handler which I'd better not forget to turn back on). But I've had trouble getting insight from this. Everything in the stack trace is from `vendor.js` (don't see any app code) -- whi

[2020-05-15 05:07] jasonmit commented on #1299
I can add additional context like "called from t helper" with the key included but if you're passing in undefined as the key I can't really pinpoint in what template that originated.

The helper API does not expose those kinds of details to us.

When passing in undefined as the key I think an error is appropriate since anything less than that would likely mask the bug and make it harder to detect.

[2020-05-15 05:08] jacobq commented on #1299
Looks like `{{t this.foo}}` leads to the following messages for the corresponding values of `this.foo`:

* `null` or `''` --> `Error: Assertion Failed: [ember-intl] translation lookup attempted but no translation key was provided.`
* `undefined` --> `Error: <my-app@helper:t::ember286> helper requires value attribute.`
* `1`, `[]`, or `{}` --> `TypeError: A message must be provided as a String or A

[2020-05-15 05:20] jacobq commented on #1299
Yeah, I figured, but it seemed worth asking. The "more context" that I was hoping for was, "Which helper?" or "Which component?" or something like that. I suppose I could do something crazy like make my own helper that calls `t` but includes some tagging/tracking (e.g. name/comment string as first arg), but that sounds a little messy and would still be only a coarse tool.

I respectfully disagree

[2020-05-15 05:58] jasonmit commented on #1299
This is something you can do in userland by wrapping the `{{t}}` in a conditional to ensure you're actually passing in a key.  Or can also wrap the t helper to remove the assertion.

[code]

[2020-05-15 06:07] ankitmadhwani24 commented on #1300
I didn't add the translation **"missing " in the en-en.json file.**
and then I tried to build the production build of ember using ember build --env production

then while creating the build in windows CMD I got the above warnings.

so how we can remove that warning.

[2020-05-15 07:41] jasonmit commented on #1299
I've made slight adjustments:
https://github.com/ember-intl/ember-intl/pull/1302

I'm still torn about this and might not move forward with it.  I personally prefer to have prod and dev behavior as similar as possible.  Users may not report any issues because things all appear to be fine in the app.

Also, it could have odd side effects if you're combining the t helper with another helper/componen

[2020-05-15 07:54] jasonmit commented on #1299
I'm going to close this for now and say #1302 addresses this by making the failed translation key passed in more obvious than failing trying to parse what isn't an AST object.

[2020-05-15 07:54] #1299 closed

[2020-05-15 07:56] jasonmit commented on #1300
https://ember-intl.github.io/ember-intl/docs/guide/missing-translations#requiring-translations

[2020-05-15 07:56] #1300 closed

[2020-05-15 08:00] jasonmit commented on #1301
I believe this to be a bug in your app, I would sanitize the input you're passing to `setLocale` like you suggested.

[2020-05-15 08:00] #1301 closed

[2020-05-15 08:34] sandstrom commented on #1299
@jacobq @jasonmit We have this issue too!

Translation errors can easily slip in and when throwing exceptions Ember blows up and the page won't render. For example the error here, or `The intl string context variable "facet" was not provided to the string "undefined"`, or any of the other ones that can occur when due to missing translation data or similar.

For us it would be ideal if we could con

[2020-05-15 13:58] jacobq commented on #1299
Yes, but they don't have to. The logger could report it back without the user having to do anything (e.g. with [TrackJS](https://trackjs.com/)).

This would not be a problem if `t` did not throw but rather returned a default (`(Could not translate invalid key)`, `?`, ...).

OK, this seems like the best solution for me then. (The keys are very often dynamic.) Thanks for the suggestion.

[2020-05-15 17:32] jacobq commented on #890
Did that code to warn about "invalid locales" ever ship (https://github.com/ember-intl/ember-intl/issues/1097 looks like a `wontfix`)? I spent some time investigating a problem identical to this today. It looks like it's due to using `jp` instead of `ja-JP` as the locale name, even though it's been working up until now (adding translations with ICU braces for plural rules), and I don't see any war

[2020-05-15 18:29] sandstrom commented on #1183
*Let's continue the discussion in https://github.com/ember-intl/ember-intl/issues/1299#issuecomment-629107847 here.*

I think having hooks that could throw errors, return a custom string, or do any work really, would very useful.

The default behaviour could be to raise exceptions, for example for missing translations, missing args, etc. That way one can choose to alter behaviour depending on envi

[2020-05-16 00:48] jasonmit commented on #1183
I do still plan to implement this just my time has been spent bug fixing and improving other parts of the lib.  I'll land this eventually - hopefully within the next few weeks.

[2020-05-16 01:01] jasonmit commented on #890
@jacobq it's marked as wontfix because as of ember-intl@5 we no longer bundles pluralization rules - they all come from the runtime wherever your app is run in.

There's not a master list as far as I know that all vendors target for bundling pluralization rules, so I have nothing to compare against that would be trustworthy.

[2020-05-16 01:53] jasonmit commented on #890
Perhaps at a minimum for now, I can spit out some warnings when encountering an odd locale that doesn't map to the CLDR data we use for linting translations.  I'll reopen and revisit - or someone else can if it's urgent.

[2020-05-16 03:18] jasonmit commented on #746
Closing since there hasn't been activity in awhile.

[2020-05-16 03:18] #746 closed

[2020-05-16 03:18] #401 closed

[2020-05-16 07:14] sandstrom commented on #1183
@jasonmit I don't mean to rush you!

I just wanted to connect the issues @jacobq mentioned in the issue he opened back to this one, since I think the hooks discussed here could give him adjustability around how errors are handled and the fail-hard vs. soft-fail problem could be solved by letting people choose a return value or raise an exception.

[2020-05-16 19:20] jasonmit commented on #1299
5.1.0 will now throw with a more helpful error indicating you've passed in a value that isn't a String as a translation key.  This should avoid some instances where you reach the compiler error: `"A message must be provided as a String or AST"` which isn't very helpful.

[2020-05-16 20:00] jasonmit commented on #890
I now warn and skip message validation for invalid/unknown language codes.  Will be versioned in 5.1.1.  Thanks

[2020-05-16 20:00] #890 closed

[2020-05-19 10:43] joshuaswift opened #1312 "Template helper sending translation as array"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.18.0
- Ember CLI Version: 2.18.2
- Ember Intl Version: 5.1.1
- Browser(s): Chrome
- Node Version: 12.14.0

### Steps to R

[2020-05-19 10:52] #1312 closed

[2020-05-19 11:08] joshuaswift commented on #1312
Please ignore this, i neglected to realise we built our own `t` helper and this was the cause of the issue!

[2020-05-19 12:56] joshuaswift opened #1313 "Result of translating using an array in the options hash has changed"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 2.18.0
- Ember CLI Version: 2.18.2
- Ember Intl Version: 5.1.1
- Browser(s): Chrome
- Node Version: 12.4.0

Since upgrading

[2020-05-20 02:21] jasonmit commented on #1313
Unsure if providing an array as an argument to a translation was ever "officially" supported in [`intl-messageformat`](https://github.com/formatjs/formatjs/tree/5b218606c3ec03e332f472706fffd04153c20dae/packages/intl-messageformat).  I'll need to investigate more, a quick grep hasn't yielded anything.

[2020-05-20 06:40] joshuaswift commented on #1313
Thanks for the quick reply, this solution will work for now 👍

[2020-05-20 22:08] allthesignals opened #1315 "htmlSafe elements treated as variable?"
I am probably missing something super obvious but I cannot get HTML elements working in these translation files.

- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: ~3.17.0
-

[2020-05-20 22:43] allthesignals commented on #1315
This seems to work but I'm not a fan:

[code]

[2020-05-20 23:56] allthesignals commented on #428
We use https://github.com/FortAwesome/ember-fontawesome for icons (`<FaIcon @icon="external-link-alt"/>` to indicate a hyperlink, for example), but it looks like there isn't a straightforward way around this.

@vvohra did you find that your solution worked in the long run?

[2020-05-21 00:30] allthesignals commented on #715
This looks great, @mongoose700 — I want to try it.

[2020-05-21 01:39] allthesignals commented on #715
Hmm, I was able to do this using a wrapper component and public methods from the service:

[code]

[code]

[code]

Is there something obviously wrong with this approach? Unsafe?

[2020-05-21 02:00] #1315 closed

[2020-05-21 15:00] dbendaou opened #1321 "5.X breaking changes"
Hello, thanks for the work you've done on ember-intl !

Changes that arrived in 5.x are quite huge.
I would like to understand why this change was motivated ? Especially the one about changing format of HTML in translations.
Furthermore, our copywriters have to learn a new way of adding translations.

Can this change be made as optional with a param given to ember-intl ?

Thanks

[2020-05-21 15:42] jasonmit commented on #1321
Change was made lower level in the message compiler (intl-messageformat) that I do not control.  They added it to support rich text support in messages, given the nature of Ember templates we cannot really harness that feature (i.e., ability to inject a link component in a translation).

It's a breaking change for a reason though, you're free to upgrade at your leisure or not at all.  Obviously a

[2020-05-21 15:42] #1321 closed

[2020-05-21 15:56] jasonmit commented on #1321
https://github.com/formatjs/formatjs/blob/master/packages/intl-messageformat/CHANGELOG.md#breaking-changes

Feel free to open a discussion with them to see if they want to make this configurable.

[2020-05-22 11:45] sandstrom commented on #1313
@joshuaswift I've noticed something similar with SafeString instances, but in that case we've addressed it by adding SafeString support (https://github.com/ember-intl/ember-intl/pull/1294).

I think it's `intl-messageformat` that does this conversion (https://github.com/formatjs/formatjs/tree/master/packages/intl-messageformat), so it's outside the scope of this library.

However, I strongly agree

[2020-05-26 04:30] gzurbach opened #1336 "Upgrading to 5.x breaks dynamic values within HTML tags"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.4
- Ember CLI Version: 3.4
- Ember Intl Version: 5.1.1
- Browser(s): Chrome 81
- Node Version: 10.16

### Steps to Reprod

[2020-05-26 06:50] houfeng0923 opened #1337 "can glob configurable?"
hi, sometime for our project, we just need one lang for build .
so , can we build one of the lang by glob filtering ?

https://github.com/ember-intl/ember-intl/blob/86fb010016f36d3b20283a125998f46f77377b94/lib/broccoli/build-translation-tree.js#L16

[2020-05-26 07:21] joshuaswift commented on #1313
Sure! Closing this as happy with the solution. Thanks for the response

[2020-05-26 07:21] #1313 closed

[2020-05-26 20:15] jasonmit commented on #1337
@houfeng0923 what file format were you interested in adding?

[2020-05-26 20:42] jasonmit commented on #1336
Thanks for opening the issue, below should resolve your issue.  I should update the docs to include this example since it's definitely not immediately clear.

[code]

[2020-05-26 22:02] gzurbach commented on #1336
@jasonmit Yep that works! 👍

I'm pretty sure I tried to do this last night but I was probably to tired. Thanks a a bunch for your help, our upgrade is now complete.

[2020-05-27 00:18] houfeng0923 commented on #1337
i have  `translations/en.json` and `translations/ja.json` in app.
and i only need ja or en for one building .

[2020-05-27 00:21] jasonmit commented on #1337
So you're building an app bundle per locale?  Seems like a reasonable thing we can support.

[2020-05-27 15:36] houfeng0923 commented on #1337
ye,
I've thought about this approach, and it would be better if we didn't adjust the directory structure.
maybe, add an optional filter parameter ?
if it is possible , i can create a fork to try .

[2020-05-27 21:54] jasonmit commented on #1337
Sounds good, looking forward to the change!

[2020-05-28 10:44] houfeng0923 commented on #1061
i found that wrapTranslationsWithNamespace does not work  in v5.1.1

[2020-05-28 15:52] richard-viney opened #1338 "Main website not working?"
The website at https://ember-intl.github.io/ isn't currently working for me. It's getting 404s accessing URLs such as

`https://ember-intl.github.io/ADDON_DOCS_ROOT_URL/assets/intl/intl.min.js`

Which looks like some kind of string substitution not working as intended perhaps?

[2020-05-28 23:48] jasonmit commented on #1061
@houfeng0923 I haven't verified this but the dummy app already has `wrapTranslationsWithNamespace` enabled so should be catching any bugs in a smoke test.  I'll circle back but feel free to look into it if it's urgent.

[2020-05-28 23:49] jasonmit commented on #1338
Strange, I'll have a look.. haven't changed anything recently so might be github.

[2020-05-28 23:50] jasonmit commented on #1338
https://ember-intl.github.io/ember-intl/ is the correct path btw and is working.

[2020-05-28 23:50] #1338 closed

[2020-05-29 08:08] richard-viney commented on #1071
I've opened a PR #1340 aiming to address this issue. If anyone is able to review and/or test it out that'd be great 👍.

[2020-05-30 05:52] houfeng0923 commented on #1337
hi, @jasonmit
i pull a MR,
use `includeLocales` or `excludeLocales` , it can filter to build necessary resources in inputPath and other translation addons.
and i try to update docs , pls give me your advice for it .

[2020-06-02 22:25] #1071 closed

[2020-06-03 12:37] MrChocolatine opened #1350 "Upgrade to 5.1.1 - Issue when rendering tags with attributes"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.12
- Ember CLI Version: 3.12
- Ember Intl Version: 5.1.1
- Browser(s): Chromium Version 81.0.4044.129
- Node Version: 12.

[2020-06-06 03:11] jasonmit commented on #1350
The following should work: `Fields marked '<'strong class="primary"'>'*'</strong>' are required`

Can you verify?

[2020-06-06 13:00] MrChocolatine commented on #1350
Thanks for your help @jasonmit .

New attempt :

[code]

Render :

![attempt-01](https://user-images.githubusercontent.com/47531779/83944736-a5e47a00-a7fd-11ea-9f82-cb93f8cc1281.png)

---

Another attempt with your YAML string but simplified :

[code]

Render :

![attempt-02](https://user-images.githubusercontent.com/47531779/83944739-a9780100-a7fd-11ea-8431-15690ea36658.png)

[2020-06-06 16:47] jasonmit commented on #1350
Strange, I did verify it before responding.  Possible you have a bugged dependency, can put together a reproduction?

[2020-06-07 15:13] MrChocolatine commented on #1350
Following your advice, I just found out one solution to make your v5 work.

- Set the package resolution in `package.json` file :
[code]

- Plus I had to regenerate my whole `yarn.lock` file.

And this was finally working :
[code]

I think it is a bit too much just for this simple upgrade, perhaps I will wait and stay on v4 as there doesn't seem to be many benefits of upgrading to version 5 (for n

[2020-06-07 19:53] jasonmit commented on #1350
Can also quote the entire html snippet in single quotes. i.e.,

`Fields marked '<strong class="primary">*</strong>' are required`

[2020-06-07 19:53] #1350 closed

[2020-06-07 20:00] #1336 closed

[2020-06-09 04:55] houfeng0923 opened #1358 "[Feature Request] separate `translations` from vendor.js to app.js"
Hi, @jasonmit , i have a new building problem after instead of `ember-i18n`:

in i18n addon,  the `translations` texts is bundled to `app.js`, not `vendor.js`, so, i have a stable vendor file hash in a long dev iteration cycle; and , i can produce bundles for different locale ,with same `vendor` output file.

in intl addon, `translations` is merge to addon tree  by `treeForAddon`,
vendor will be c

[2020-06-09 05:59] jasonmit commented on #1358
Yeah, I can see the concern there.  Likely can convert to `treeForApp()` (without needing `requirejs.entries` to discover the translations).  Needs to be looked into.

[2020-06-09 06:03] #1337 closed

[2020-06-10 01:03] houfeng0923 commented on #1358
🤔 , no `requirejs.entries`, use `{modulePrefix}/translations` or others ?
if there is no schedule for it, can u give me some points to a feature fork? 🤝

[2020-06-10 03:51] jasonmit commented on #1358
@houfeng0923 ya `require()` with modulePrefix or another option I've been considering it programmatically creating an initializer with the translations inlined.  It would then lookup the service and `addTranslations`.

Unsure if the initializer approach would complicate the unit testing story or not.

[2020-06-16 01:16] mcfiredrill opened #1362 "lang attribute warning from lighthouse"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.19.0
- Ember CLI Version:
- Ember Intl Version: 5.2.0
- Browser(s): Chrome
- Node Version: 10.18.0

### Steps to Reproduc

[2020-06-16 02:16] simonc commented on #982
Hi there. I think there can also be use-cases for objects. For instance I'm thinking of country lists and similar data.

I'm used to give a partial translation with i18n tools and get the underlying list of translations.

An alternative could be to expose a low primitive that would allow access to all the key/value pairs below a given key or something. That would allow for arrays as much as object

[2020-06-18 03:59] mongoose700 commented on #715
It looks like that could work, though that implementation doesn't have quite as much flexibility. You need anything you want to include in `TPlus` to be its own `component`, so it's harder to use for child components that themselves use contextual components that you want to customize, for example. I don't think it cleanly supports nesting.

[2020-06-18 08:43] jasonmit commented on #1362
The way ember-intl sets `lang` works in the browser and in Fastboot.  If that's not the case let me know.  Otherwise, adopting Fastboot should resolve the warning.

As for how to disable a lighthouse warning I have no idea - a question for the lighthouse team.

[2020-06-18 08:43] #1362 closed

[2020-06-20 16:18] NullVoxPopuli commented on #858
looks like we need a different config for ember-intl v5

the error I'm getting with v5.2.0:
[code]

[2020-06-20 23:08] jasonmit commented on #858
Thanks @NullVoxPopuli for fixing the above issue ❤ Released in v5.2.2

[2020-06-26 06:54] #1232 closed

[2020-06-26 09:00] jlami commented on #1239
Sorry to poke, but is there any news on this?

[2020-06-26 09:07] jasonmit commented on #1239
No update @jlami - feel free to propose one.

[2020-06-26 09:11] jlami commented on #1239
I can make a PR with the solution I proposed in my opening post. But I don't know if you want anything extra. Although it might be hard to build a test for this.

[2020-06-27 02:41] jasonmit commented on #1239
@jlami that should work - I'll investigate further before merging.  Thanks!

[2020-06-27 11:29] jlami commented on #1239
I made a PR for v4.x since I have not updated to v5 myself yet. Should be similar for v5/master.

[2020-06-27 21:06] jasonmit commented on #1239
Fixed in 4.4.1 and 5.3.1, thanks!

[2020-06-27 21:06] #1239 closed

[2020-06-29 12:14] sandstrom commented on #1358
Just wanted to chime in that maybe this will be easier after the [Embroider](https://github.com/embroider-build/embroider) addon type has been finalized. In that case, maybe it's easier to just postpone.

Also, I know there has been some discussion (though no formal plans, and no RFC) to move away from initializers in the long term.

[2020-07-02 02:49] houfeng0923 commented on #1358
hi @sandstrom i am not sure How and when can use Embroider in production . i need to pay attention to it later .

and , for a util addon, i prefer intl addon can ·realize this vision· 🤝

[2020-07-02 22:41] NullVoxPopuli opened #1376 "Are there resources for helping maintain translations / automate PRs for updating language files?"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

-----------------------------

I'm currently using crowdin on https://github.com/NullVoxPopuli/emberclear/, but I've started ignoring PRs from CrowdIN, becau

[2020-07-02 23:48] jasonmit commented on #1376
All the companies I worked at have used proprietary solutions, so unfortunately can't help much here.  I'll leave this open hoping a community member can come along and share a solution that'll work for you.

In the past, I've pulled translations at build time from external translation service APIs using the `treeForTranslations` hook:
https://ember-intl.github.io/ember-intl/docs/advanced/addon-su

[2020-07-07 18:40] wopian commented on #1376
You should **never** be directly committing changes to the non-default translations with CrowdIn (default being `en-us` in most cases).

For example, https://github.com/NullVoxPopuli/emberclear/pull/992 should not have been merged and instead asked the contributor to make the translation changes on https://crowdin.com/project/emberclear/ru

CrowdIn does not do 2-way syncing for all language source

[2020-07-14 23:00] rwwagner90 commented on #471
Did anyone ever take a stab at this? Would love to see this supported.

[2020-07-15 00:56] jasonmit commented on #471
@rwwagner90 no but wouldn't take much work if you're interested.

Would involve creating another [formatter](https://github.com/ember-intl/ember-intl/tree/master/addon/-private/formatters), a [service method](https://github.com/ember-intl/ember-intl/blob/master/addon/services/intl.js#L61-L74), and (helper)[https://github.com/ember-intl/ember-intl/tree/master/addon/helpers].

The polyfill section o

[2020-07-15 01:37] NullVoxPopuli commented on #1376
That's why I opened this issue ;)

I've been fully aware of how crowdin wants me to work with the translation files, but I don't believe what crowdin does is the best way -- it's catered to non-OSS folks, :-\

I want something _better_ ;)

[2020-07-15 10:49] davideferre opened #1377 "Lazy loading and flavoured translations question"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.19.0
- Ember CLI Version: 3.19.0
- Ember Intl Version: 5.3.1
- Browser(s): any
- Node Version: 12.16.2

### Steps to Repr

[2020-07-26 12:23] vitch opened #1379 "`formatMessage` with deep paths"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.16.8
- Ember CLI Version: 3.16.2
- Ember Intl Version: 5.3.1
- Browser(s): Chrome / Firefox
- Node Version: 12.18.1

###

[2020-07-26 12:31] vitch commented on #1379
Sidenote - the "latest" link above links to `5.2.0` bit I'm on [`5.3.1`](https://github.com/ember-intl/ember-intl/releases/tag/v5.3.1) but I don't expect that to cause any problems?

[2020-07-26 12:56] vitch commented on #1379
I added a failing test showing the problem [over here](https://github.com/ember-intl/ember-intl/commit/419679e2d8bc86988389f982cf881ee13dc329d5).

I guess the problem is upstream in `intl-messageformat-parser` or this is just an unexpected use-case but I'm struggling to figure out if there is a different approach to do what I'm trying to?

[2020-07-26 19:54] jasonmit commented on #1379
This isn't something that is supported and support would need to land in the compiler and parser first.  Likely opening an issue [upstream](https://github.com/formatjs/formatjs) to discuss further.

[2020-07-26 21:11] jasonmit commented on #1377
I don't know what you mean by flavors, can you add more details?

[2020-07-27 14:28] vitch commented on #1379
Thanks - that's what I suspected.

I'm guessing that the addition of `.` in property names will be a hard sell upstream. Was it an intentional addition to the behaviour of `t` in this repo?

[2020-07-27 23:49] jasonmit commented on #1379
To support nested translations?  Yes, this was intentional but also in a different scope than the intl-messageformat compiler.  The parser/compiler never deals with translation keys just translation messages.

[2020-07-28 09:57] vitch commented on #1379
Thanks for the reply.

I've had a look around and haven't found another implementation which supports deep objects. Even [things which support `yaml`](https://github.com/messageformat/messageformat/tree/master/packages/webpack-loader) seem to show flat objects. This kind of surprises me but makes me think that trying to use nested objects will involve swimming upstream.

I could pre-process my dat

[2020-07-28 10:02] #1379 closed

[2020-07-30 17:27] rohitsharmami opened #1381 "{{format-relative null}} return 51 years ago"
ember-intl : 4.4.1
Ember octane
we used ember-intl alot
For `{{format-relative null}}`
Its returing 51years ago
File : ember-intl/addon/-private/formatters/format-relative.js
[code]
Date.now(null) returns 1970 which is 51 years ago
How to overcome this ???

[2020-07-30 21:42] jasonmit commented on #1381
I don't believe this is the case in ember-intl since we no longer wrap the input with `Date`.  What you'd see in 5.x is the result of `new Intl.RelativeTimeFormat().format(null, 'day')`

I'd recommend upgrading if that's an option.

[2020-08-01 22:57] #1381 closed

[2020-08-01 23:05] jasonmit opened #1393 "Upgrade intl-pluralrules@3 and intl-relativetimeformat@7"
Upgrade to docs/tests for `intl-pluralrules@3` & `intl-relativetimeformat@7`

Primarily changed how locale data is written to dist.

https://github.com/ember-intl/ember-intl/pull/1392
https://github.com/ember-intl/ember-intl/pull/1391

[2020-08-03 19:08] rohitsharmami commented on #1381
Not able to upgrade to 5.x we have written lot of code across the application which we cant rewrite it

[2020-08-03 19:08] rohitsharmami commented on #1381
Is it really problem for u to add an if the condition there which will help us

[2020-08-03 20:41] jasonmit commented on #1381
@rohitsharmami you are free to add that conditional.

[2020-08-04 16:30] buschtoens opened #1395 "`IntlService#lookup()` return value changed in v5"
https://ember-intl.github.io/ember-intl/docs/guide/service-api#lookup-translationkey-string-optionallocale-string-array-string-optionaloptions-object-string-undefined

We're currently upgrading our app from v4 to v5 and I found that the return value of `IntlService#lookup()` has changed.

https://github.com/ember-intl/ember-intl/blob/322d325733146b71d77c5aa6d1724ed514f0b07c/addon/services/intl.js#

[2020-08-04 16:33] buschtoens commented on #1395
Hm, looking at `IntlService#t()` it _does_ seem intentional, as an AST is now used internally.

https://github.com/ember-intl/ember-intl/blob/322d325733146b71d77c5aa6d1724ed514f0b07c/addon/services/intl.js#L147-L174

I think we need to document this.

[2020-08-04 17:13] buschtoens opened #1396 "Using variables in HTML attributes"
v4 did not require special escaping of HTML tags, e.g. you could have a translation string like:

[code]

[code]

According to [Format HTML Message](https://ember-intl.github.io/ember-intl/versions/master/docs/helpers/t#format-html-message) and the [v4 -> v5 migration guide](https://ember-intl.github.io/ember-intl/versions/master/docs/guide/migration-4-0-to-5-0#translations) HTML tags now need to

[2020-08-05 01:22] jasonmit commented on #1396
Does this work:

`legal: Please agree to our '<'a href="{url}"'>'Terms & Conditions'</a>'`

Seems related to https://github.com/ember-intl/ember-intl/issues/1336

[2020-08-05 01:56] jasonmit commented on #1395
We should fix.  The internal change was intentional but we should be able to keep it so the public `lookup` method returns the original string translation and not the AST form of the translation.

[2020-08-05 09:37] buschtoens commented on #1396
Works perfectly! Thanks for the tech support. 😅
I'll update the docs!

[2020-08-05 13:10] buschtoens commented on #1395
I'm so grateful for you still putting so much work into this great addon. 💖

![](https://media.giphy.com/media/WaDW0hI3b6wIU/giphy.gif)

I suggest we add a private (or public?) `lookupAST()` method and let `lookup()` return the raw string again. Or what would you suggest?

[2020-08-05 14:58] gfmartinez opened #1398 "Acceptance test errors: `Ember.getOwner(...).lookup is not a function`"
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- Ember Version: 3.18
- Ember CLI Version: 3.18
- Ember Intl Version: 5.3.1
- Browser(s): Any
- Node Version: 10.19.0

### Steps to Reproduc

[2020-08-05 15:47] buschtoens commented on #1398
Can you share the code of the file where you use `{ t } from 'ember-intl'`, that is showing up in the stack trace?

It seems that the object you're using the `t` macro has no owner associated to.

Also, are you sure that in your _test_ you are importing from `ember-intl/test-support` and not `ember-intl`?

[2020-08-05 18:41] #1396 closed

[2020-08-05 18:44] jasonmit commented on #1395
Agreed and private makes sense since I don't think will be useful having it public.

[2020-08-05 20:38] gfmartinez commented on #1398
@buschtoens Thanks so much for the quick reply.
I found the issue, and I'll detail it briefly in the case someone else comes up with a similar issue.

We had an older component (pre-octane) setup like this:
[code]

When I switched the `t('translation.string')` to a computed property calling on the intl service like

[code]

the no `.lookup` error went away.

It looks like the t() translation does

[2020-08-05 20:38] #1398 closed

[2020-08-05 20:41] buschtoens commented on #1398
Thank you and thanks for the follow-up! Your theory is probably correct! I could } probably spend some time to write a failing unit test and fix, but given that this macro is only really usable in legacy objects, I don't think it's worth the effort.

[2020-08-06 03:31] #1395 closed

[2020-08-06 03:32] #1393 closed

[2020-08-06 03:32] jasonmit commented on #1395
Fixed in v5.4.0

[2020-08-06 06:14] jasonmit opened #1400 "Rewrite service api docs"
The docs aren't all that helpful, arguments should be explained more.  Should reveal interfaces for objects passed as arguments to the service methods.

[2020-08-06 08:45] sandstrom commented on #1395
Awesome @jasonmit  🎉

[2020-08-06 09:46] ankitmadhwani24 opened #1402 "404 '@ember-intl/intl-messageformat-parser@^1.5.0' is not in the npm registry."
Hi
I was creating a new ember build while doing the NPM INSTALL got the below ERROR.

[code]

Using ember-intl: 4.3.1

Could you please help

[2020-08-06 10:38] jasonmit commented on #1402
It appears npm is having some issues at the moment - I'm seeing similar missing packages/version errors in my own CI pipeline.

https://www.npmjs.com/package/@ember-intl/intl-messageformat-parser 1.5.0 does exist.

[2020-08-06 10:39] #1402 closed

[2020-08-06 10:40] jasonmit commented on #1402
npm is having some issues right now with scoped packages: https://status.npmjs.org/

[2020-08-06 11:34] ankitmadhwani24 commented on #1402
Thanks @jasonmit

[2020-08-06 18:37] jalandis opened #1404 "Missing function `lookupTranslationObject`"
### Environment

- Ember Version: 3.20.3
- Ember CLI Version: 3.20.0
- Ember Intl Version: 5.4.1
- Browser(s): Chrome
- Node Version: 12

### Steps to Reproduce

After attempting to upgrade, all Ember acceptance tests are failing.

[code]

[2020-08-06 21:55] zzzzBov opened #1405 "Broken link to "ICU message syntax""
- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

n/a

### Steps to Reproduce

The "ICU message syntax" link in the [docs][] ([src][]) links to `https://formatjs.io/docs/icu-syntax` which do

[2020-08-07 02:40] #1405 closed

[2020-08-07 02:41] jasonmit commented on #1405
Thanks!  Will appear in the docs once I version a patch in a few minutes.

[2020-08-07 02:41] #1404 closed

[2020-08-07 02:42] jasonmit commented on #1404
This will be patched in v5.4.1 - thanks for pointing it out!

[2020-08-07 02:48] jasonmit commented on #1405
Fixed v.5.4.2 (deploying now)

[2020-08-07 20:46] jasonmit commented on #1404
@jalandis While fixing it to match 4.x's API I realized I should not be exposing the internal translation models.  I'm likely going to change the behavior of this method in 6.x so that it returns only the translations map (key/original translation string) instead of the internal object.  Basically future API will return the result of todays API: `intlService.translationsFor('en-us').translations`.

[2020-08-11 14:17] jaswilli opened #1408 "intl.lookup() no longer using missingMessage()?"
Hi,

I'm working on migrating a project from ember-intl 4 to 5 and there's a reliance on `intl.lookup()` calling the `missingMessage()` function when a key is passed in with no corresponding message.

It looks like this no longer happens in v5? It seems like `lookupAST()` _does_ call `missingMessage()` but that's not part of the public API.

I can probably work around this by manually calling `mis

[2020-08-11 20:48] jasonmit commented on #1408
Curious, how are you using `lookup()`?  I can add it back but it doesn't feel like the correct default behavior going forward.

Perhaps something I can make configuration driven `intl.lookup(key, { locale, withMissingMessage: true })` in a future major - with the default being off.

[2020-08-11 21:57] jaswilli commented on #1408
So I inherited an incomplete project and one of the questionable things going on is trying to handle missing messages by inspecting the warning string that (used to be) returned from `lookup()` for `Missing translation`.

Obviously there are much better ways to deal with that instead of looking at that return value, it's just when we went to update `ember-intl` to v5 it's one of the errors that po

[2020-08-11 22:16] jasonmit commented on #1408
With the current API, you would no longer need to inspect the return value of "missing translation" and instead can rely on `undefined` to infer if it's missing or not.  From the sounds of it, what you're trying to determine is if a translation exists or not.

That's kind of why I didn't carry over missing translation warnings for `look()`.  It _should_ only be needed for when `{{t}}` and `intl.t(

[2020-08-11 22:23] jaswilli commented on #1408
Yeah, exactly. Doing the string inspection is definitely not needed at all. Like I said above, I'm not desperate for the old behavior to come back, once I get things cleaned up I personally won't need it anymore. I was just decided to write it up as an issue in case there was consensus that it needed to come back.

I'm totally fine with just documenting the change in behavior and moving on. I appr

[2020-08-11 22:28] jasonmit commented on #1408
Perfect, since the API was broken from the beginning I'll treat this as a breaking change and will update the 4 to 5 migration docs to call it out.  You can safely assume missing messages won't return and break you app again :)

I'll write a test for asserting `undefined` is returned on missing translations via `lookup()`, update the docs, and close the issue tonight.  Thanks!

[2020-08-11 22:47] #1408 closed

[2020-08-12 14:03] yuri-semenenko commented on #1400
Where are the old docs?

[2020-08-12 15:13] jasonmit commented on #1400
@yuri-semenenko same place they were: https://ember-intl.github.io/ember-intl/versions/v4.4.0/

[2020-08-13 08:16] MrChocolatine commented on #1400
I agree.

I was about to ask you to create the documentation for `formatDate()`:
https://ember-intl.github.io/ember-intl/versions/master/docs/guide/service-api#formatdate-value-date-number-string-optionaloptions-object-string

Thank you.

[2020-08-14 08:42] jasonmit commented on #1400
@MrChocolatine here are the options `formatTime`/`formatDate` supports:
https://github.com/ember-intl/ember-intl/blob/master/addon/-private/formatters/format-date.js#L9-L24

You can read about each option:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/resolvedOptions#Description

[2020-08-15 07:34] buschtoens opened #1411 "Fix Docs Deployment"

[2020-08-15 13:53] buschtoens commented on #1400
I'd like to base this on #1412 which migrates to TypeScript. We could then use [TypeDoc](https://typedoc.org/).

[2020-08-15 13:55] buschtoens commented on #1061
We can then also pull out the `ember-cli-addon-docs` into a standalone app. IMO using the test dummy app for docs is an anti-pattern.

[2020-08-15 20:13] jasonmit commented on #1400
@buschtoens I do like our document format, know of any ways to integrate TypeDoc into it some how?  My thinking is, TypeDoc would be used for covering the interfaces for the public APIs and the rest of the docs would remain the same.  Let me know if you have any ideas.

[2020-08-15 20:19] buschtoens commented on #1400
Unfortunately there's no beaten path for integrating TypeDoc into `ember-cli-addon-docs`. There is `ember-cli-addon-docs-esdoc` for which I added very primitive TS support in https://github.com/ember-learn/ember-cli-addon-docs-esdoc/pull/7. It might already be sufficient, but I doubt it.

We can also try keeping both the old API docs and add the new TypeDoc at a separate route. I'll try looking in

[2020-08-15 21:18] buschtoens opened #1413 "Define & Test Official Support Matrix"
In our `README.md` we state compatibility with ![Ember 2.12+](https://img.shields.io/badge/Ember-2.12%2B-brightgreen.svg), however in CI we only start with `2.16`:

https://github.com/ember-intl/ember-intl/blob/710f94399e0fd91ccee3edd37b6a323a51973616/.github/workflows/ci.yml#L68-L78

_NOTE: As of #1414 we now test 2.12 again._

Here's a list of important Ember releases. The date in braces is when

[2020-08-15 21:29] buschtoens commented on #1413
IMO interesting cutoff points would be any of the ones marked with ◀️ in the OP.

I think the sweet spot is 3.13, because it adds `@tracked`. At work we still have quite a few apps running on 3.14, but I haven't yet encountered any addon that we could not use, as there's basically a polyfill for any newly added feature, so jumping straight to the official 3.15 Ember Octane release probably wouldn'

[2020-08-15 21:38] jasonmit commented on #1413
I believe I had to drop v2.12 in CI because dep issues that made it incompatible:
https://github.com/ember-intl/ember-intl/pull/1101

Things like this became a regular occurrence and I was tired of fighting the tooling.

Worth referencing the results of the community survey to determine where the majority of the userbase is.  I'll try and dig that answer up tonight.  Also, I don't believe the publ

[2020-08-15 21:45] buschtoens commented on #1413
Good idea with the Ember Community Survey! Didn't occur to me at all.

The 2020 survey is still on, but here are [the results from 2019](https://emberjs.com/ember-community-survey-2019/#MS_Q401).

<img width="976" alt="image" src="https://user-images.githubusercontent.com/834636/90322160-f8a28680-df50-11ea-8bcc-bbcdaa40878f.png">

Based on this outdated information, 2.18 or 3.4 are likely targets.

[2020-08-17 11:42] bmaehr opened #1415 "Error while extracting ICU arguments"
I got this error with 5.4.2

[code]

as far as I understood this should be ok and it worked in previous versions (3.5.2).

[2020-08-17 14:08] buschtoens commented on #1415
Please see the migration docs. 🙂

https://ember-intl.github.io/ember-intl/docs/guide/migration-4-0-to-5-0#translations

This would be correct:

[code]

[2020-08-17 14:18] bmaehr commented on #1415
Sorry.
Had a look at https://formatjs.io/docs/intl-messageformat/ but didn't check carefully enough, just checked the first example with tags.

[2020-08-17 14:18] #1415 closed

[2020-08-17 14:19] buschtoens commented on #1415
No worries! Let me know, if you still encounter any issues. 😊

[2020-08-17 15:18] Alonski opened #1416 "[Feature Request] Allow configuration to not build translations"
- [X] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [X] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Feature Request

After some chatting with @buschtoens on Discord I am opening this issue. https://discordapp.com/channels/480462759797063690/487648547685

[2020-08-17 23:20] jasonmit commented on #1416
Yes, we can land this as an option.  There's ways to achieve this behavior now - it's just not immediately obvious.

[2020-08-18 00:22] jasonmit commented on #401
@Al10s missed your comment.  That's a good feature request, feel free to open one.

[2020-08-18 03:04] jasonmit opened #1419 "[Feature Request] Re-enable tags parsed as strings - avoiding text escaping"
It looks as though the parser has landed the option [`ignoreTag`](https://formatjs.io/docs/intl-messageformat/#intlmessageformat-constructor).

This will allow ember-intl to go back to the translation format that we were used to in versions prior to 5.0.  It's also backwards compatible for us to turn this on by default 5.x since we never took advantage of the `TagElement` in the compiler.

cc @Tur

[2020-08-18 03:33] jasonmit commented on #1350
Just a heads up, soon the new translation escaping behavior in 5.x will soon no longer be necessary.

The v4 behavior will be restored in a backwards compatible way.  For those that have already went through the process of escaping everything, you will not have to revert back - both formats will continue to be supported.

https://github.com/ember-intl/ember-intl/pull/1420

[2020-08-18 03:33] jasonmit commented on #1396
Just a heads up, soon the new translation escaping behavior in 5.x will soon no longer be necessary.

The v4 behavior will be restored in a backwards compatible way.  For those that have already went through the process of escaping everything, you will not have to revert back - both formats will continue to be supported.

https://github.com/ember-intl/ember-intl/pull/1420

[2020-08-18 03:33] jasonmit commented on #1336
Just a heads up, soon the new translation escaping behavior in 5.x will soon no longer be necessary.

The v4 behavior will be restored in a backwards compatible way.  For those that have already went through the process of escaping everything, you will not have to revert back - both formats will continue to be supported.

https://github.com/ember-intl/ember-intl/pull/1420

[2020-08-18 03:33] jasonmit commented on #1321
Just a heads up, soon the new translation escaping behavior in 5.x will soon no longer be necessary.

The v4 behavior will be restored in a backwards compatible way.  For those that have already went through the process of escaping everything, you will not have to revert back - both formats will continue to be supported.

https://github.com/ember-intl/ember-intl/pull/1420

[2020-08-18 03:33] jasonmit commented on #1289
Just a heads up, soon the new translation escaping behavior in 5.x will soon no longer be necessary.

The v4 behavior will be restored in a backwards compatible way.  For those that have already went through the process of escaping everything, you will not have to revert back - both formats will continue to be supported.

https://github.com/ember-intl/ember-intl/pull/1420

[2020-08-18 06:53] MrChocolatine commented on #1350
Good news! Thank you for the heads-up!

[2020-08-18 08:14] buschtoens opened #1421 "Adopt `release-it` for publishing"
I'd like to adopt [`release-it`](https://github.com/release-it/release-it) via [`create-rwjblue-release-it-setup`](https://github.com/rwjblue/create-rwjblue-release-it-setup) as the canonical way of releasing `ember-intl` to npm.

[code]

`release-it` takes care of tagging & managing GitHub releases, changelog and publishing. Would you be open to it? @jasonmit

[2020-08-18 09:10] Alonski commented on #1416
@jasonmit I will try to upgrade to v5 to see if it solves my issues after this PR is merged: #1420

I would like to have nothing in my translations folder but this currently breaks v4 builds 👍

[2020-08-18 14:01] #1419 closed

[2020-08-18 17:40] buschtoens commented on #1183
The current behavior of `missingMessage` also happens to make the types for `t` and `lookup` _über_-annoying. 😄

https://github.com/ember-intl/ember-intl/blob/62e0a0b9b3d6d33b44df252120fc94a387d8064b/addon/services/intl.d.ts#L63-L74

Because they can return `undefined`, code that would just expect `t` to return a string, as it should normally, needs to either special-handle the potential `undefine

[2020-08-18 18:53] buschtoens commented on #1183
Sorry for hijacking this thread with my TypeScript escapades, I can happily branch off into a different thread, if you like.

I'm contemplating whether we should release `v5.5.0` with the `string | undefined` return type for `t` at all – I think it may introduce a lot of unintentional breakage for TypeScript users. The reason being that most TS users will either type the service injection as `any`

[2020-08-18 19:27] jasonmit commented on #1183
I think we can have type `t()` to always return a string.  The default missing message util already returns a string so I don't know of a scenario where it would return `undefined` unless someone implemented their custom missing messages fn to do that.

[2020-08-18 20:42] jasonmit commented on #1421
I'm all for, just document the new process somewhere so everyone knows how to cut releases :)

[2020-08-20 13:32] #1411 closed

[2020-08-20 19:12] buschtoens opened #1426 "`ES2020` lib required because of `@types/es-abstract`"
With 9342da7c5a4a9e4ced2abf0260da72bba0019431 I updated the intl library related dependencies to the latest version. This resolved the issue with the divergent `TranslationAST` / `MessageFormat` types.

However `@types/es-abstract`, which is a dependency of `@formatjs/intl-numberformat` assumes methods only added in ES2020, like `String#matchAll()`. For host projects that do not yet `target` ES202

[2020-08-20 21:28] #1426 closed

[2020-08-22 14:45] longlho opened #1433 "Use `@formatjs/intl`?"
👋 We just released [`@formatjs/intl`](https://github.com/formatjs/formatjs/tree/main/packages/intl) that detaches the imperative API from the React binding (react-intl uses this basically) so I'm curious if `ember-intl` can use it? It basically has everything that react-intl supports (custom formats, default timeZone, format merging, handling AST vs regular messages).

I'm curious what the roadmap

[2020-08-24 09:18] dbendaou commented on #1321
Good news! Thanks for the heads up!

[2020-08-25 05:16] richard-viney opened #1434 "Remove use of deprecated getWithDefault() API"
`getWithDefault()` has been deprecated in Ember 3.21.

`ember-intl` uses this function in one place that would be good to update in order to avoid deprecation warnings:

https://github.com/ember-intl/ember-intl/blob/0696e4dbe0a43f247f239cc5fe22a7646ceb97a4/addon/-private/helpers/-format-base.js#L34

[2020-08-25 14:39] #1434 closed

[2020-08-25 20:10] jasonmit commented on #1434
@richard-viney will be fixed in next release, thanks for bringing this to our attention.

[2020-08-25 22:20] buschtoens commented on #1434
I'll try to cut a new beta tomorrow, which should hopefully resolve all remaining TS issues. If nothing else pops up, we can cut a stable release in a few days. 💃

[2020-08-28 20:36] jrock2004 opened #1436 "intl-messageformat-parser@5.5.1: backwards incompatible"
When doing a yarn install, I am seeing this warning. Maybe its ok to ignore the warning, but thought I would put this here just in case

- [x] I am on the [latest](https://github.com/ember-intl/ember-intl/releases/latest) ember-intl version
- [x] I have searched the [issues](https://github.com/ember-intl/ember-intl/issues) of this repo and believe that this is not a duplicate

### Environment

- E

[2020-08-28 21:33] jasonmit commented on #1436
Unsure why this is happening but this should go away we cut 5.5.0-stable since we've already upgraded ember-intl to `intl-messageformat-parser` 6.x

cc @buschtoens